.bee-cal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border: 1px solid #ccc;
}

.bee-cal .calendar-header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.bee-cal .calendar-header td {
  padding: 0;
}
.bee-cal .calendar-header .date-cell {
  width: 50px;
  font-size: 12px;
  text-align: center;
}
.bee-cal .calendar-header .day-cell-container,
.bee-cal .calendar-header .caption-container {
  height: 20px;
  position: relative;
  overflow: hidden;
}

.bee-cal .calendar-header .day-cell,
.bee-cal .calendar-header .caption-cell {
  border-left: 1px solid #ddd;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 2px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
}
.bee-cal .calendar-header .bee-cal-today {
  font-weight: bold;
}

.bee-cal .multiDayPanel {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #ddd;
  border-collapse: collapse;
}
.bee-cal .multiDayPanel td {
  padding: 0;
}
.bee-cal .multiDayGrid {
  position: relative;
  min-height: 5px;
}

.bee-cal .scroll-area {
  border-top: 1px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bee-cal .appointment-panel {
  position: relative;
}

.bee-cal .time-strip {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
}
.bee-cal .hour-panel {
  width: 50px;
  font-size: 12px;
  display: block;
  position: relative;
  border-top: 1px solid #ddd;
}
.bee-cal .hour-layout {
  position: absolute;
  top: 5%;
  right: 5px;
  line-height: 1;
  text-align: right;
  width: 100%;
}
.bee-cal .hour-label {
  display: inline;
  font-size: 12px;
}

.bee-cal .nowPointer {
  position: absolute;
  left: -4px;
  width: 0;
  height: 0;
  margin-top: -4px;
  border: 4px solid #FF7F6E;
  transform: rotate(45deg);
}

.bee-cal .appointment-grid {
  position: absolute;
  left: 50px;
  right: 0;
  top: 0;
  height: 1200px;
}

.bee-cal .major-time-interval {
  border-top: 1px solid #ddd;
}
.bee-cal .minor-time-interval {
  border-top: 1px dotted #ddd;
}
.bee-cal .major-time-interval,
.bee-cal .minor-time-interval {
  position: absolute;
  left: 0;
  right: 0;
}

.bee-cal .column-separator {
  position: absolute;
  top: 0px;
  height: 100%;
  border-left: 1px solid #ddd;
  border-right: 0px solid #ddd;
  width: 3px;
}

.bee-cal .nowMarker {
  position: absolute;
  height: 0;
  border-top: 1px solid #FF7F6E;
  border-bottom: 1px solid #FF7F6E;
  z-index: 1;
} 

.bee-cal .leftEmptyCell {
  width: 50px;
}

.bee-cal .appointment,
.bee-cal .appointment-small,
.bee-cal .appointment-big {
  position: absolute;
  overflow: hidden;
  border: 1px solid #444;
  box-sizing: border-box;
}

.bee-cal .appointment-multiday {
  position: absolute;
  overflow: hidden;
  border: 1px solid #444;
  box-sizing: border-box;
  cursor: pointer;
}

.bee-cal .appointment .header {
  height: 15px;
  padding-left: 1%;
  border-bottom: 2px ridge #ccc;
  white-space: nowrap;
}
.bee-cal .appointment .movable {
  cursor: move;
}
.bee-cal .appointment .body {
  position: absolute;
  left: 0;
  right: 0;
  top: 17px;
  bottom: 0;
  padding-left: 2%;
  white-space: pre-line;
  cursor: pointer;
}
.bee-cal .appointment .footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
}
.bee-cal .appointment .resizable {
  cursor: row-resize;
}

.bee-cal .appointment-big {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.bee-cal .appointment-big .header {
  min-height: 15px;
  padding-left: 1%;
  border-bottom: 2px ridge #ccc;
  white-space: pre-wrap;
}
.bee-cal .appointment-big .movable {
  cursor: move;
}
.bee-cal .appointment-big .body {
  padding-left: 2%;
  white-space: pre-line;
  cursor: pointer;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.bee-cal .appointment-big .footer {
  height: 10px;
}
.bee-cal .appointment-big .resizable {
  cursor: row-resize;
}

.bee-cal .appointment-small {
  font-size: 11px;
}

.bee-cal .appointment-small .header {
  height: 30%;
  padding-left: 1%;
  white-space: nowrap;
  line-height: 11px;
}
.bee-cal .appointment-small .movable {
  cursor: move;
}
.bee-cal .appointment-small .body {
  height: 50%;
  padding-left: 1%;
  cursor: pointer;
}
.bee-cal .appointment-small .footer {
  height: 20%;
}
.bee-cal .appointment-small .resizable {
  cursor: row-resize;
}

.bee-cal .appointment-multiday .header {
  padding-left: 2px;
  display: inline-block;
}
.bee-cal .appointment-multiday .body {
  padding-left: 8px;
  display: inline-block;
}

.bee-cal-MonthView {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
}

.bee-cal-MonthView .grid {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.bee-cal-MonthView .canvas {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bee-cal-MonthView .weekDayLabel {
  height: 22px;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.bee-cal-MonthView .dayCell {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}
.bee-cal-MonthView .lastColumn {
  border-right: 1px solid #ddd;
}

.bee-cal-MonthView .dayCellLabel {
  height: 16px;
  font-size: 12px;
  text-align: right;
  padding-right: 5px;
}

.bee-cal-MonthView .dayCellLabel .day-cell {
  text-align: left;
  display: inline-block;
  left: 0px;
  position: absolute;
  margin-left: 1ex;
}

.bee-cal-MonthView .dayCellLabel.disabled {
  color: #999;
}

.bee-cal-MonthView .appointment {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  min-height: 10px;
  font-size: 12px;
}
.bee-cal-MonthView .appointment .header {
  display: inline-block;
}
.bee-cal-MonthView .appointment .body {
  display: inline-block;
}
.bee-cal-MonthView .appointment .footer {
  position: absolute;
  top: 0;
  bottom: 0;
}

.bee-cal-MonthView .appointment .movable,
.bee-cal-MonthView .appointment-multiday .movable {
  cursor: move;
}

.bee-cal-MonthView .appointment-multiday {
  position: absolute;
  overflow: hidden;
  border: 1px solid #888;
  cursor: pointer;
}
.bee-cal-MonthView .appointment-multiday .header {
  padding-left: 2px;
  display: inline-block;
  max-width: 70%;
  overflow: hidden;
}
.bee-cal-MonthView .appointment-multiday .body {
  padding-left: 8px;
  display: inline-block;
}

.bee-cal-MonthView .moreAppointments {
  position: absolute;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.bee-cal-morePopup .appointment,
.bee-cal-morePopup .appointment-multiday {
  margin-top: 5px;
  border: 1px solid #444;
  padding-left: 2px;
  cursor: pointer;
}

.bee-Form-disabled .bee-cal-ColorBar-panel {
  display: none;
}
.bee-cal-ColorBar-item {
  margin-right: 8px;
}
.bee-cal-ColorBar-item > div {
  width: 20px;
  height: 20px;
  color: black;
  text-align: center;
  padding-top: 2px;
}

.bee-cal-Panel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

.bee-cal-Panel-controls {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;  
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.bee-cal-Panel-navContainer {
  border-collapse: separate;
}
.bee-cal-Panel-navItem {
  font-weight: bold;
}

.bee-cal-Panel-view-item,
.bee-cal-Panel-today,
.bee-cal-Panel-navItem,
.bee-cal-Panel-date {
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  background-color: WhiteSmoke;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.bee-cal-Panel-view-item:hover,
.bee-cal-Panel-today:hover,
.bee-cal-Panel-navItem:hover,
.bee-cal-Panel-date:hover {
  border-style: outset;
}

.bee-cal-Panel-view-item:active,
.bee-cal-Panel-today:active,
.bee-cal-Panel-navItem:active,
.bee-cal-Panel-date:active {
  border-style: inset;
}

.bee-cal-Panel-view-item {
  outline: none !important;
}
.bee-cal-Panel-view-item-selected {
  cursor: default;
  background-color: #eee;
  font-weight: bold;
}

.bee-cal-Panel-todo-hidden > .bee-VSplitter {
  visibility: hidden;
}
.bee-cal-Panel-todo-container > .bee-GridContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bee-cal-Panel-todo-container.target {
  background-color: rgba(255, 238, 238, 0.5);
}
.bee-cal-Panel-todo-container.target > * {
  opacity: 0.2;
}

.bee-cal-ReportOptions-container {
  width: 650px;
  height: 200px;
  position: relative;
}

.bee-cal-ReportOptions-capLabel {
  position: absolute;
  left: 0;
  top: 2px;
}
.bee-cal-ReportOptions-caption {
  position: absolute;
  left: 150px;
  width: 160px !important;
  top: 0;
  right: 0;
}

.bee-cal-ReportOptions-ldLabel {
  position: absolute;
  left: 0;
  top: 42px;
}
.bee-cal-ReportOptions-lowerDate {
  position: absolute;
  left: 150px;
  top: 40px;
  width: 160px !important;
}
.bee-cal-ReportOptions-udLabel {
  position: absolute;
  left: 355px;
  top: 42px;
}
.bee-cal-ReportOptions-upperDate {
  position: absolute;
  left: 430px;
  top: 40px;
  width: 160px !important;
}

.bee-cal-ReportOptions-lhLabel {
  position: absolute;
  left: 330px;
  top: 2px;
}
.bee-cal-ReportOptions-lowerHour {
  position: absolute;
  left: 410px;
  width: 50px;
  padding: 1px 5px !important;
}
.bee-cal-ReportOptions-uhLabel {
  position: absolute;
  left: 463px;
  top: 2px;
}
.bee-cal-ReportOptions-upperHour {
  position: absolute;
  left: 540px;
  width: 50px;
  padding: 1px 5px !important;
}

.bee-cal-ReportOptions-atpLabel {
  position: absolute;
  left: 0;
  top: 82px;
}
.bee-cal-ReportOptions-attendeeTypes {
  position: absolute;
  left: 150px;
  top: 80px;
  width: 160px;
  max-height: 160px;
  overflow: auto;
}

.bee-cal-ReportOptions-attLabel {
  position: absolute;
  left: 355px;
  top: 82px;
}
.bee-cal-ReportOptions-attendees {
  position: absolute;
  left: 430px;
  top: 80px;
  width: 160px;
  max-height: 160px;
  overflow: auto;
}

.bee-cal-ReportOptions-tableCommand {
  position: absolute;
  left: 275px;
  bottom: 0;
  width: 100px;
  font-size: medium;
}

.bee-cal-Controller {
  overflow: hidden;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);  
}
.bee-cal-Controller-disclosure {
  position: absolute;
  left: 10px;
  top: 8px;
}
.bee-cal-Controller-open .bee-cal-Controller-disclosure-closed {
  display: none;
}
.bee-cal-Controller-closed .bee-cal-Controller-disclosure-open {
  display: none;
}

.bee-cal-Controller-datePicker {
  position: absolute;
  left: 35px;
  top: 8px;
  transition: top 200ms;
}
.bee-cal-Controller-closed .bee-cal-Controller-datePicker {
  top: -300px;
}

.bee-cal-Controller-datePicker img {
  filter: grayscale(100%);
}
.bee-cal-Controller-datePicker .bee-DatePicker-days td {
  height: 16px;
  font-size: 12px;
}

.bee-cal-Controller-tablePanel {
  position: absolute;
  left: 10px;
  right: 5px;
  top: 160px;
  bottom: 40px;
  overflow: auto;
  transition: top 200ms;
}

.bee-cal-Controller-table {
  border-collapse: collapse;
}
.bee-cal-Controller-table td {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 11px;
}
.bee-cal-Controller-table tr:hover {
  background-color: #e8e8e8;
}

.bee-cal-Controller-closed .bee-cal-Controller-tablePanel {
  top: 32px;
}

.bee-cal-Controller-color {
  width: 14px;
  height: 14px;
  border: 1px solid #bbb;
  cursor: pointer;
}
.bee-cal-Controller-caption {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: 12px;
  cursor: pointer;
  min-width: 50px;
}

.bee-cal-Controller-table .bee-fa-label {
  visibility: hidden;
  font-size: 18px;
  padding: 2px;
}
.bee-cal-Controller-table tr:hover .bee-fa-label {
  visibility: visible;
}

.bee-cal-Controller-up:hover,
.bee-cal-Controller-down:hover {
  background-color: green;
  color: white;
}
.bee-cal-Controller-remove:hover {
  background-color: red;
  color: white;
}

.bee-cal-Controller-table tr:first-child .bee-cal-Controller-up {
  display: none;
}
.bee-cal-Controller-table tr:last-child .bee-cal-Controller-down {
  display: none;
}
.bee-cal-Controller-table tr:only-child .bee-cal-Controller-remove {
  display: none;
}

.bee-cal-Controller-selector {
  position: absolute;
  left: 16px;
  width: 180px;
  bottom: 8px;
} 

.bee-cal-Controller-colorPicker {
  position: absolute;
  left: 0px;
  top: -60px;
}

.bee-cal-todayMarker {
  position: absolute;
  top: 0px;
  height: 100%;
}
.bee-cal-today {
  background-color: #f1f1f1;
}

.bee-cal .drag {
  z-index: 1;
  opacity: 0.5;
}
.bee-cal .positioner {
  z-index: 2;
  outline: #aaa dashed 2px;
  word-wrap: break-word;
  overflow: hidden;
  color: #777;
  font-size: 12px;  
  font-weight: bold;
}

.bee-cal-MonthView .drag {
  z-index: 1;
  outline: #555 dotted 1px;
}
.bee-cal-MonthView .positioner {
  background-color: rgba(255, 238, 238, 0.5) !important;
}

.bee-cal-Panel .status-completed {
  background-image: repeating-linear-gradient(330deg, rgba(211,211,211,1) 10px, rgba(211,211,211,0) 20px);
}

.bee-cal .copy {
 opacity: 1;
}

.bee-cal .source {
  outline: #aaa dashed 2px;
}

.bee-cal-MonthView .copy {
  outline: none;
}

.bee-cal-MonthView .source {
  outline: #aaa dashed 2px;
}
.bee-cal-Controller-datePicker .bee-DatePicker-month div {
  width: 105px;
}