.bee-Chats-disabled {
  display: none;
}

.bee-Chats-icon {
  color: white;
  font-size: 17px;
  margin-right: 27px;
}

.bee-Chats-unread {
  background-color: #63a140;
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  position: absolute;
  margin-top: -8px;
  margin-left: 7px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 3px;
}

.bee-Chats-unread.bee-empty {
  display: none;
}

.bee-Chats-popup {
  background-color: white;
  border: 1px solid #b4b4b4;
  margin-top: 10px
}

.bee-Chats-panel {
  width: 360px;
}
.bee-Chats-panel:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    right: 25px;
}

.bee-Chats-wrapper {
  max-height: 50vh;
  overflow: auto;
}

.bee-ChatsItem-container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}

.bee-ChatsItem-container:hover {
  background-color: #f7f7f7;
}

.bee-ChatsItem-picturePanel {
  width: 52px;
  text-align: right;
}

.bee-ChatsItem-photo {
  margin-top: 10px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.bee-ChatsItem-usersBadge {
  display: inline-block;
  margin-top: 15px;
  padding: 9px 15px;
  background-color: #aaa;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.bee-ChatsItem-presencePanel {
  width: 30px;
}

.bee-ChatsItem-presenceIcon {
  margin-top: 2px;
  margin-left: 2px;
  font-size: 14px;
}

.bee-ChatsItem-presenceIcon.bee-Presence-online {
  color: #6bae45;
}

.bee-ChatsItem-presenceIcon.bee-Presence-idle {
  color: #1eb2d8;
}

.bee-ChatsItem-presenceIcon.bee-Presence-away {
  color: hotpink;
}

.bee-ChatsItem-presenceIcon.bee-Presence-offline {
  color: red;
}

.bee-ChatsItem-mainPanel {
  color: black;
  width: 260px;
  overflow: hidden;
}

.bee-ChatsItem-headerPanel {
  margin-top: 4px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
}

.bee-ChatsItem-headerPanel > :first-child {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.bee-ChatsItem-nameLabel,
.bee-ChatsItem-userName {
  font-size: 14px;
  color: #414142
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bee-ChatsItem-user {
  display: inline-block;
  margin-right: 4px;
  font-size: 14pt;
  color: #414142;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bee-ChatsItem-maxTime {
  margin-left: 1em;
  font-size: 10px;
  color: #414142;
}

.bee-ChatsItem-infoPanel {
  margin-top: 3px;
}

.bee-ChatsItem-lastMessage {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bee-ChatsItem-hasUnread .bee-ChatsItem-nameLabel,
.bee-ChatsItem-hasUnread .bee-ChatsItem-userName,
.bee-ChatsItem-hasUnread .bee-ChatsItem-usersPanel {
  font-weight: bold;
}

.bee-ChatsItem-hasUnread .bee-ChatsItem-maxTime {
  font-weight: bold;
  color: green;
}

.bee-Chats-actions {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.bee-Chats-plus {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 4px 1em;
  border-radius: 5px;
  background-color: #6bae45;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
}

.bee-Chats-show {
  color: #414142;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 12pt;
  cursor: pointer;
}

.bee-ChatInfo-details {
  border-collapse: collapse;
}

.bee-ChatInfo-details td {
  padding: 5px 1em;
  max-width: 400px;
  border-bottom: 1px solid #ccc;
}

.bee-ChatEditor-table {
  border-collapse: collapse;
}

.bee-ChatEditor-table td {
  padding: 8px;
}

.bee-ChatEditor-dialog .bee-ChatEditor-nameInput {
  width: 200px;
}

.bee-ChatEditor-dialog .bee-ChatEditor-usersInput {
  width: 400px;
}

.bee-ChatEditor-commands-cell {
  text-align: right;
}

.bee-ChatEditor-cancel {
  margin-left: 2em;
}

.bee-ChatNormal {
  width: 265px;
  height: 50vh;
  border: 1px solid #ccc;
  min-height: 123px;
}
.bee-ChatMinimized {
  width: 165px;
}

.bee-Chat-view {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
}

.bee-ChatModal .bee-Header-container {
  background-color: #414142;
  color: white;
  height: 40px;
}
.bee-ChatModal .bee-Header-container:hover {
  background-color: #2c2c2c;
}
.bee-ChatModal .bee-Header-control.bee-fa-label {
  color: #ccc;
}
.bee-ChatModal .bee-Header-control.bee-fa-label:hover {
  color: white;
}

.bee-ChatModal .bee-Header-caption {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
  cursor: default;
}
.bee-ChatMinimized .bee-Chat-hasUnread .bee-Header-message {
  position: absolute;
  top: -7px;
  left: 10px;
  background-color: #63a140;
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  padding-left: 0;
  font-weight: bold;
  font-size: 10px;
  border-radius: 3px;
}

.bee-ChatModal .bee-Chat-autoScroll-container {
  display: none;
}
.bee-Chat-autoScroll-container {
  margin-right: 3em; 
}
.bee-Chat-autoScroll-label,
.bee-Chat-autoScroll-toggle {
  display: inline-block;
}

.bee-ChatNormal .bee-Header-control.bee-Chat-style-control {
  font-size: x-large;
}

.bee-Chat-maximized .bee-Action-maximize,
.bee-Chat-maximized .bee-Chat-style-control {
  display: none;
}
.bee-ChatMinimized .bee-Action-configure,
.bee-ChatMinimized .bee-Action-minimize,
.bee-ChatMinimized .bee-Chat-style-control {
  display: none;
}

.bee-Chat-messages {
  position: absolute;
  bottom: 83px;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
}

.bee-Chat-footer {
  position: absolute;
  height: 83px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: WhiteSmoke;
}

.bee-ChatMinimized .bee-Chat-messages,
.bee-ChatMinimized .bee-Chat-footer {
  display: none;
}

.bee-Chat-message {
  margin: 5px 5px 0 5px;
}

.bee-Chat-message-time {
  font-size: 11pt;
  color: #777;
  text-align: center;
  margin-bottom: 2px;
}
.bee-Chat-message-fast .bee-Chat-message-time {
  display: none;
}

.bee-Chat-message-signature {
  font-size: 11pt;
  color: #555;
  margin-bottom: 2px;
}

.bee-Chat-message-body {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  position: relative;
  z-index: 1;
}
.bee-Chat-message-outgoing .bee-Chat-message-body {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
}

.bee-Chat-message-photo {
  max-width: 36px;
  max-height: 36px;
  border-radius: 50%;
}

.bee-Chat-message-text,
.bee-Chat-message-files {
  font-size: 12pt;
  white-space: pre-line;
  border-radius: 8px;
  margin: 0 10px;
  padding: 10px 15px;
  position: relative;
}

.bee-Chat-message-text:before,
.bee-Chat-message-files:before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0 20px;
  clip: rect(-20px, 35px, 18px, 0px);
  z-index: -1;
}

.bee-Chat-message-incoming .bee-Chat-message-text:before,
.bee-Chat-message-incoming .bee-Chat-message-files:before {
  border-color: white;
  left: -50px;
  transform: rotateY(180deg);
}
.bee-Chat-message-outgoing .bee-Chat-message-text:before,
.bee-Chat-message-outgoing .bee-Chat-message-files:before {
  border-color: #e3e3e3;
  right: -50px;
}

.bee-Chat-message-incoming .bee-Chat-message-text,
.bee-Chat-message-incoming .bee-Chat-message-files {
  margin-right: 20%;
  background-color: white;
}
.bee-Chat-message-incoming .bee-Chat-message-text,
.bee-Chat-message-incoming .bee-Chat-message-files a {
  color: black;
}

.bee-Chat-message-outgoing .bee-Chat-message-text,
.bee-Chat-message-outgoing .bee-Chat-message-files {
  margin-left: 20%;
  background-color: #e3e3e3;
}
.bee-Chat-message-outgoing .bee-Chat-message-text,
.bee-Chat-message-outgoing .bee-Chat-message-files a {
  color: black;
}

.bee-Chat-inputPanel {
  position: absolute;
  top: 3px;
  left: 0;
  width: calc(100% - 40px);
  height: 60px;
}
.bee-Chat-inputArea {
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.bee-Chat-commandPanel {
  position: absolute;
  top: 3px;
  right: 0;
  width: 36px;
  height: 60px;
  overflow: hidden;
}
.bee-Chat-submit,
.bee-Chat-attach {
  font-size: large;
  color: gray;
  padding: 5px 8px;
  border-radius: 8px;
}
.bee-Chat-submit:hover,
.bee-Chat-attach:hover {
  background-color: #2095fe;
  color: white;
}

.bee-Chat-onlinePanel {
  position: absolute;
  left: 0;
  top: 63px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bee-Chat-userLabel {
  display: inline-block;
  font-size: 10pt;
  margin-left: 5px;
}

.bee-Chat-userPresence {
  display: inline-block;
  font-size: 10pt;
  margin-left: 2px;
}

.bee-Chat-userPresence.bee-Presence-online {
  color: green;
}

.bee-Chat-userPresence.bee-Presence-idle {
  color: deepskyblue;
}

.bee-Chat-userPresence.bee-Presence-away {
  color: hotpink;
}

.bee-Chat-userPresence.bee-Presence-offline {
  color: red;
}

.bee-ChatNormal.bee-Chat-phone-0,
.bee-ChatNormal.bee-Chat-phone-1,
.bee-ChatNormal.bee-Chat-phone-2 {
  border: none;
}
.bee-ChatNormal.bee-Chat-phone-1,
.bee-ChatNormal.bee-Chat-phone-2 {
  perspective: 1000px;
}

.bee-ChatNormal.bee-Chat-phone-0 .bee-Chat-view,
.bee-ChatNormal.bee-Chat-phone-1 .bee-Chat-view,
.bee-ChatNormal.bee-Chat-phone-2 .bee-Chat-view {
  border-width: 55px 7px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 40px;
  box-sizing: border-box;
}

.bee-ChatNormal.bee-Chat-phone-0 .bee-Chat-view {
  box-shadow: 0px 3px 0 #bbb, 0px 4px 0 #bbb, 0px 5px 0 #bbb, 0px 7px 0 #bbb, 0px 10px 20px #666;
}
.bee-ChatNormal.bee-Chat-phone-1 .bee-Chat-view {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-50deg);
  box-shadow: -3px 3px 0 #bbb, -6px 6px 0 #bbb, -9px 9px 0 #bbb, -12px 12px 0 #bbb, -14px 10px 20px #666;
}
.bee-ChatNormal.bee-Chat-phone-2 .bee-Chat-view {
  transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg);
  box-shadow: 5px 1px 0 #BBB, 9px 2px 0 #BBB, 12px 3px 0 #BBB, 15px 4px 0 #BBB, 0 7px 20px #999;
}
.bee-Chat-notifier-messages {
  position: absolute;
  background-color: #414142;
  color: white;
  width: 400px;
}
.bee-Chats-notifier-popup {
  background-color: transparent;
  border: 1px solid #ccc;
}
.bee-Chats-notifier {
  background-color: #f7f7f7;
  height: 61px;
}
.bee-Chats-notifier:hover  .bee-Chats-notifier-close-btn {
 display : block;
}
.bee-Chats-notifier-close-btn {
    color: #414142;
    line-height: 20px;
    position: absolute;
    right: 5px;
    font-weight: bold;
    font-size: 20px;
    display: none;
}

.bee-Chats-notifier-close-btn:hover {
  cursor: pointer;
  color: orangered;
}
.bee-Chats-notifier-last-message{
  font-style: italic;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bee-Chats-notifier-last-message-action {
  color: #f7f7f7;
  animation: shake .5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.bee-Chats-notifier-border{
    border: 1px solid #ccc;
}
