.bee-co-companyInfo-label, .bee-co-companyInfo-item {
  display: inline-block;
  margin-right: 4px;
}
.bee-co-companyInfo-label:after {
  content: ":";
}

.bee-co-companyInfo-name .bee-co-companyInfo-label {
  display: none;
}
.bee-co-companyInfo-name .bee-co-companyInfo-item {
  font-weight: bold;
}

.bee-co-companyInfo-phone, .bee-co-companyInfo-mobile, .bee-co-companyInfo-fax {
  display: inline-block;
}

.bee-co-updateRates-panel {
  margin: 2ex 1em 1ex;
}
.bee-co-updateRates-lowLabel,
.bee-co-updateRates-highLabel {
  min-width: 80px;
  display: inline-block;
  text-align: right;
  padding-right: 9px
}
.bee-co-updateRates-lowInput,
.bee-co-updateRates-highInput {
  width: 100px;
}
.bee-co-updateRates-output {
  margin-top: 1ex;
  max-width: 200px;
  max-height: 300px;
}
.bee-co-updateRates-rangeSeparator {
  height: 5px;
}
.bee-co-updateRates-actionSeparator {
  height: 3ex;
}
.bee-co-updateRates-submit {
  margin-left: 1em;
  margin-right: 3em;
}

.bee-co-ctr-table {
  border-collapse: collapse;
}

.bee-co-ctr-header {
  font-weight: bold;
  text-align: center;
  padding: 2px 3px;
  border: 1px solid #ccc;
}

.bee-co-ctr-details:nth-child(odd) {
  background-color: #fbfbfb;
}
.bee-co-ctr-details:nth-child(even) {
  background-color: #f5f5f5;
}
.bee-co-ctr-details:hover {
  background-color: #e1e1e1;
}

.bee-co-ctr-details td {
  padding: 2px 5px;
  border: 1px solid #ccc;
}

.bee-co-ctr-value,
.bee-co-ctr-col-total,
.bee-co-ctr-total {
  text-align: right;
}
.bee-co-ctr-value:hover,
.bee-co-ctr-col-total:hover {
  color: #00e;
  text-decoration: underline;
  cursor: pointer;
}

.bee-co-ctr-summary td {
  font-weight: bold;
  font-size: medium;
  padding: 2px 5px;
}

.bee-co-holidays-add-first {
  margin-left: 3em;
}
.bee-co-holidays-year-widget {
  display: inline-block;
  margin-left: 1em;
}
.bee-co-holidays-add-last {
  margin-left: 1em;
}
.bee-co-holidays-add-first,
.bee-co-holidays-add-last {
  display: inline-block;
  font-size: 15px;
}
.bee-co-holidays-year-active .bee-co-holidays-year-label {
  background-color: #80c4f9;
  cursor: auto;
}
.bee-co-holidays-year-label {
  display: inline-block;
  font-size: large;
  cursor: pointer;
}
.bee-co-holidays-year-badge {
  display: inline-block;
  margin-left: 3px;
  vertical-align: top;
  color: white;
  background-color: #aaa;
}

.bee-co-holidays-month-panel {
  display: inline-block;
  margin: 1ex 1em;
}
.bee-co-holidays-month-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
.bee-co-holidays-month-table {
  border-collapse: collapse;
}
.bee-co-holidays-month-table td {
  border: 1px solid #ccc;
  text-align: center;
  width: 26px;
  height: 22px;
}
.bee-co-holidays-weekday-cell,
.bee-co-holidays-day-cell,
.bee-co-holidays-weekend,
.bee-co-holidays-month-table td:empty {
  background-color: white;
}
.bee-co-holidays-holiday {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: larger;
}
.bee-co-holidays-weekend {
  color: #999;
}
.bee-co-holidays-day-cell:hover,
.bee-co-holidays-weekend:hover {
  font-weight: bold;
  font-size: larger;
  outline: black solid 1px;
  cursor: pointer;
}
.bee-co-holidays-holiday:hover {
  outline: red solid 3px;
  outline-offset: -1px;
  cursor: pointer;
}
