.bee-co-companyInfo-label, .bee-co-companyInfo-item {
  display: inline-block;
  margin-right: 4px;
}
.bee-co-companyInfo-label:after {
  content: ":";
}

.bee-co-companyInfo-name .bee-co-companyInfo-label {
  display: none;
}
.bee-co-companyInfo-name .bee-co-companyInfo-item {
  font-weight: bold;
}
