.bee-crm-taskEvent-container {
  background-color: #f5f5ed;
  border-left: 1px solid #ccc;
}
.bee-crm-taskEvent-row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 2px;
}

.bee-crm-taskEvent-col-0,
.bee-crm-taskEvent-col-1,
.bee-crm-taskEvent-col-2 {
  margin-left: 1em;
}

.bee-crm-taskEvent-col-0,
.bee-crm-taskEvent-col-2 {
  width: 145px;
}

.bee-crm-taskEvent-col-1 {
  margin-right: auto;
}

.bee-crm-taskEvent-Event,
.bee-crm-taskEvent-Duration {
  font-weight: bolder;
}

.bee-crm-taskEvent-EventNote,
.bee-crm-taskEvent-Comment {
  white-space: pre-wrap;
}

.bee-crm-taskDialog-container td {
  padding: 8px;
}

.bee-crm-taskDialog-commentLabelCell {
  vertical-align: top;
}
.bee-crm-taskDialog-commentArea {
  width: 300px;
  height: 100px;
}

.bee-crm-taskDialog-timeInput {
  width: 60px;
}
.bee-crm-taskDialog-selectorInput {
  width: 200px;
}
.bee-crm-taskDialog-dateInput {
  width: 120px;
}

.bee-crm-taskEdit-form .bee-RadioGroup.bee-disabled {
  border: 1px solid silver;
  padding-right: 2px;
}

.bee-crm-taskDuration-display {
  border-collapse: collapse;
}
.bee-crm-taskDuration-display td {
  border: 1px solid #aaa;
  padding: 3px;
}
.bee-crm-taskDuration-caption {
  padding-right: 20px;
}
.bee-crm-taskDuration-valueCell,
.bee-crm-taskDuration-rowTotalCell,
.bee-crm-taskDuration-colTotalCell,
.bee-crm-taskDuration-totalCell {
  text-align: right;
}
.bee-crm-taskDuration-rowLabel,
.bee-crm-taskDuration-colLabel,
.bee-crm-taskDuration-rowTotal,
.bee-crm-taskDuration-colTotal,
.bee-crm-taskDuration-total {
  font-weight: bold;
}

.bee-crm-taskExtension {
  text-decoration: line-through;
  font-size: 12px;
}

.bee-crm-Slack-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bee-crm-Slack-late {
  background-color: red;
}
.bee-crm-Slack-opening {
  background-color: green;
}
.bee-crm-Slack-endgame {
  background-color: orange;
}
.bee-crm-Slack-scheduled {
  background-color: yellow;
}

.bee-crm-Slack-label {
  position: absolute;
  top: 3px;
}
.bee-crm-Slack-late .bee-crm-Slack-label {
  left: 3px;
  font-size: bold;
  color: white;
}
.bee-crm-Slack-opening .bee-crm-Slack-label {
  left: 30%;
  font-size: bold;
  color: white;
}
.bee-crm-Slack-endgame .bee-crm-Slack-label {
  right: 30%;
  font-size: bold;
  color: white;
}
.bee-crm-Slack-scheduled .bee-crm-Slack-label {
  right: 3px;
}

.bee-crm-FilterSupplier-Slack-late,
.bee-crm-FilterSupplier-Slack-scheduled {
  display: block;
  color: white;
  font-weight: bolder;
  width: 130px;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.bee-crm-FilterSupplier-Slack-late {
  background-image: linear-gradient(to bottom, #DD4B39, #D14836);
}
.bee-crm-FilterSupplier-Slack-scheduled {
  background-image: linear-gradient(to bottom, #4D90FE, #4787ED);  
}

.bee-crm-Mode-new,
.bee-crm-Mode-upd {
  width: 13px;
  height: 13px;
  border: 1px solid silver;
  border-radius: 50%;
  display: inline-block;
}
.bee-crm-Mode-new {
  background-color: lightgreen;
}
.bee-crm-Mode-upd {
  background-color: yellow;
}

.bee-CellGridActiveRow .bee-crm-Mode-new,
.bee-CellGridActiveRow .bee-crm-Mode-upd {
  border: 2px dashed blue;
  animation: rotate 2s linear infinite;
  -webkit-animation: rotate 2s linear infinite;
}

.bee-crm-DocumentSelector {
  width: auto;
  margin: 1ex 1em;
}
.bee-crm-DocumentSelector .bee-MultiSelector-choice {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
}
.bee-crm-DocumentSelector .bee-MultiSelector-choice:nth-child(odd) {
  background-color: #fbfbfb;
}
.bee-crm-DocumentSelector .bee-MultiSelector-choice:nth-child(even) {
  background-color: #f5f5f5;
}
.bee-crm-DocumentSelector .bee-MultiSelector-label {
  line-height: normal;
}
.bee-crm-DocumentSelector .bee-MultiSelector-close {
  position: static;
  margin-left: 1em;
}

.bee-crm-taskEvent-col-Photo {
  width: 2.5em;
  height: 2.5em;
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
 }

.bee-crm-taskEvent-Photo {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  cursor: default;
}