.bee-discuss-comment-container {
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid #ccc;
  background: white;
}

.bee-discuss-comment-rowPhoto {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 40px;
  min-width: 40px;
  padding: 4px;
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

.bee-discuss-comment-Photo {
  max-width: 100%;
  max-height: 100%;
}

.bee-discuss-comment-rowPhoto-chatter {
  border-left: 5px solid red;
}

.bee-discuss-comment-PublishTime {
  font-size: 1.5ex;
}

.bee-discuss-comment-col-Publisher {
  display: inline-block;
  margin: 4px;
  min-width: 150px;
  vertical-align: top;
}

.bee-discuss-comment-Publisher {
  font-weight: bolder;
}

.bee-discuss-comment-col-CommentText {
  display: inline-block;
  padding: 4px;
  border: 1px solid #ccc;
  min-height: 35px;
  width: 100%;
  min-width: 300px;
  margin: -1px 0px -3px 0px;
  word-wrap: break-word;
}

.bee-discuss-comment-Comment {
  display: inline-block;
  min-height: 35px;
  width: 100%;
  max-height: 9em;
  overflow: auto;
}

.bee-discuss-comment-files {
  overflow: auto;
  max-height: 6em;
  display: block;
  border-top: 1px dotted #ccc;
  margin-left: 2em;
  margin-left: 2em;
}

.bee-discuss-comment-row {
  padding-bottom: 2px;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  margin-top: -1px;
  border-right: none;
  margin-right: 0.5ex;
}

.bee-discuss-comment-col-Actions {
  display: inline-block;
  min-width: 95px;
  vertical-align: top;
  border: 1px solid #ccc;
  border-left: none;
  margin: -1px -1px -3px 0px;
  text-align: center;
}

.bee-discuss-comment-col-Mark>.bee-discuss-Actions-mark {
   height: 1em;
}

.bee-discuss-comment-col-Mark>.bee-Button {
   height: 3ex;
}

.bee-discuss-comment-col-Mark>.bee-discuss-Actions-stats {
   height: 1em;
}

.bee-discuss-Actions {
  padding: 4px;
  margin: 4px;
}

.bee-discuss-Actions:hover {
  outline: #ccc dotted 1px;
}

.bee-discuss-comment-col-Actions-reply {
  
}

.bee-discuss-comment-col-Actions-trash {
  
}

.bee-discuss-comment-col-Mark {
  text-align: right;
  display: inline-block;
  width: 100%;
}

.bee-discuss-commentDialog {
  
}

.bee-discuss-commentDialog-commentEditorCell {
  
}

.bee-discuss-commentDialogcommentLabelCell {
  vertical-align: top;
}

.bee-discuss-commentDialog-commentEditor {
  height: 250px;
  vertical-align: top;
}

.bee-discuss-commentDialog-filesLabelCell {
  text-align: right;
  vertical-align: top;
}

.bee-discuss-commentDialogfileCollectorCell {
  overflow: auto;
  max-height: 10em;
  display: block;
}

.bee-discuss-markTypes-container {
  display: inline-block;
  text-align: right;
  margin-right: 2em;
  min-height: 2em;
}

.bee-discuss-Actions-mark-label {
  display: inline-block;
  vertical-align: top;
  margin-left: -1em;
  font-size: smaller;
  font-weight: bolder;
  background-color: whitesmoke;
}

.bee-discuss-Actions-mark {
   display: inline-block;
   height: 1.5em;
   vertical-align: middle;
   background-color: #fafafa;
   border: 1px solid #ccc;
   border-radius: 6px;
}

.bee-discuss-Actions-stats {
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
}

.bee-discuss-Actions-label-stats {
  max-height: 6em;
  display: block;
  overflow: auto;
}

.bee-discuss-Actions-mark-disabled {
  
}

.bee-discuss-Actions-mark-marked {
  border: 2px solid #a1bff5 !important;
  color: #a1bff5 !important;
}

.bee-discuss-Actions-mark-disabled:hover {
  cursor: default;
  border: 1px solid #ccc;
  outline: none;
}

.bee-discuss-adsFormContent {
  background-color: white;
  margin-left: 1em;
  word-wrap: normal;
  margin: 1ex;
  width: 95%;
  border-spacing: 0px;
}

.bee-discuss-adsFormContent-TopicName {
  
}

.bee-discuss-adsFormContent-Important {
  color: red;
  font-weight: bold;
}

.bee-discuss-adsFormContent-Important > td {
  border-bottom: 1px solid red !important;
}

.bee-discuss-adsFormContent-TopicName > td {
  border-bottom: 2px solid #ccc;
  width: 100%;
}

.bee-discuss-adsFormContent-Created {
 
}

.bee-discuss-adsFormContent-Subject {
  font-weight: bolder;
  vertical-align: top;
  padding-left: 1ex;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right:  1px solid #ccc;
  background-color: whitesmoke;
  position: relative;
  top: 2px;
  width: 100%;
}

.bee-discuss-adsFormContent-Owner {
  white-space: nowrap;
  vertical-align: top;
  padding-right: 1ex;
}

.bee-discuss-adsFormContent-Description {
  vertical-align: top;
  padding: 1ex;
  max-height: 370px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 6em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right:  1px solid #ccc;
  border-bottom-right-radius: 10px;
  background-color: whitesmoke;
  position: relative;
  top: 2px;
  box-shadow: 5px 3px 5px #ccc;
  margin-bottom: 1em;
}

.bee-discuss-adsFormContent-NewAnnouncement {
 background-color: #ffffcc;
}

.bee-discuss-adsFormContent-Owner-Photo {
  text-align: center;
  max-width: 40px;
  min-width: 40px;
  padding: 1ex;
}

.bee-discuss-adsFormContent-Owner-Publisher {
  
}

.bee-discuss-adsFormContent-Birthday {
  
}

.bee-discuss-adsFormContent-OwnerBirthday {
  width: 50px;
  padding: 1em;
}

.bee-discuss-adsFormContent-TopicNameBirthday {
  color: green;
}
.bee-discuss-adsFormContent-TopicNameBirthday > td {
  border-bottom: 2px solid green !important; 
}

.bee-discuss-adsFormContent-DescriptionBirthday-birthList {
  color: green;
  padding: 1em;
}

.bee-discuss-adsFormContent-DescriptionBirthday-happyDay {
  font-weight: bolder;
}

.bee-discuss-adsFormContent-DescriptionBirthday-birthList > td {
  padding-left: 1em;
}

.bee-discuss-adsFormContent-action {
  text-align: center;
}

.bee-discuss-adsFormContent-actionDiscussion {
  width: 33%;
  height: 2em;
  padding: 0px;
  padding-bottom: 1ex;
  letter-spacing: 2px;
  opacity: 0.7;
  background: whitesmoke;
  margin-right: 25%;
  position: relative;
  top: -6ex;
  border: 0px !important;
}

.bee-discuss-adsFormContent-actionDiscussion > div {
  display: inline-block;
}

.bee-discuss-adsFormContent-chatBalloon {
 width: 0px;
 height: 0px;
 position: relative;
 left: -17px;
 top: 8px;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;
 border-right: 10px solid #ccc;
 z-index: 1;
}

.bee-discuss-adsFormContent-chatBalloon:after {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 1px;
  top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 9px solid whitesmoke;
  z-index: 0;
  content: '';
 }

.bee-discuss-adsFormContent-NewAnnouncement .bee-discuss-adsFormContent-chatBalloon:after {
  border-right: 9px solid #ffffCC;
}

.bee-discuss-adsFormContent-NewAnnouncement .bee-discuss-adsFormContent-chatBalloon {
   border-top: 9px solid white;
   border-bottom: 9px solid white;
}

.bee-discuss-Description-disabled {
  display: none !important;
}

.bee-discuss-DescriptionEditor-disabled {
   display: none !important;
}