.bee-discuss-comment-container {
  margin-top: 2em;
  margin-bottom: 2em;
  background: white;
}

.bee-discuss-comment-rowPhoto {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 40px;
  min-width: 40px;
  padding: 4px;
  margin-left: -1px;
}

.bee-discuss-comment-Photo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.bee-discuss-comment-rowPhoto-chatter {
  border-left: 5px solid red;
}

.bee-discuss-comment-rowLastComment {
  border-left: 3px  solid #1ca5c7;
}

.bee-discuss-comment-PublishTime {
  float: left;
  margin-left: 20px;
  color: #c5c5c5;
}

.bee-discuss-comment-col-Publisher {
  display: inline-block;
  margin: 4px 4px 4px 10px;
  width: 100%;
  vertical-align: top;
}

.bee-discuss-comment-Publisher {
  font-weight: bolder;
  float: left;
}

.bee-discuss-comment-col-CommentText {
  display: inline-block;
  padding: 4px;
  border: 1px solid #ccc;
  min-height: 35px;
  width: 100%;
  min-width: 300px;
  margin: -1px 0px -3px 0px;
  word-wrap: break-word;
}

.bee-discuss-comment-Comment {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.bee-discuss-comment-files {
  overflow: auto;
  display: block;
}

.bee-discuss-comment-row {
  padding-bottom: 2px;
  margin: -1px 40px -1px 30px;
}

.bee-discuss-comment-col-Actions {
  display: inline-block;
  vertical-align: top;
  margin: -1px -1px -3px 0px;
  text-align: center;
  font-size: 17px;
  padding: 4px 0px 4px 0px;
}

.bee-discuss-comment-col-Mark>.bee-discuss-Actions-mark {
   height: 1em;
}

.bee-discuss-comment-col-Mark>.bee-Button {
   height: 3ex;
}

.bee-discuss-comment-col-Mark>.bee-discuss-Actions-stats {
   height: 1em;
}

.bee-discuss-Actions {
  padding: 4px;
  margin: 3px;
  display: inline-block;
  font-size: 15px;
}

.bee-discuss-Actions:hover {
  color: gray;
}

.bee-discuss-comment-col-Mark button:hover{
  color: black !important;
  background-color: gray !important;
}

.bee-discuss-comment-col-Actions-reply {
  color: #c5c5c5;
}

.bee-discuss-comment-col-Actions-trash {
  color: #c5c5c5;
}

.bee-discuss-comment-col-Mark {
  display: inline-block;
  width: 100%;
  margin-top: 2px;
  min-height: 5ex;
  }
.bee-discuss-comment-col-Mark .bee-discuss-Actions,
.bee-discuss-comment-col-Mark .bee-discuss-Actions-mark-label {
  display: none;
}

.bee-discuss-comment-col-Mark.bee-discuss-markTypes-hasMarks .bee-discuss-Actions,
.bee-discuss-comment-col-Mark.bee-discuss-markTypes-hasMarks .bee-discuss-Actions-mark-label {
  display: inline-block;
}

.bee-discuss-comment-row:hover .bee-discuss-comment-col-Mark .bee-discuss-Actions, 
.bee-discuss-comment-row:hover .bee-discuss-comment-col-Mark .bee-discuss-Actions-mark-label {
  display: inline-block;
}

.bee-discuss-commentDialog {
  
}

.bee-discuss-commentDialog-commentEditorCell {
  
}

.bee-discuss-commentDialogcommentLabelCell {
  vertical-align: top;
}

.bee-discuss-commentDialog-commentEditor {
  height: 250px;
  vertical-align: top;
}

.bee-discuss-commentDialog-filesLabelCell {
  text-align: right;
  vertical-align: top;
}

.bee-discuss-commentDialogfileCollectorCell {
  overflow: auto;
  max-height: 10em;
  display: block;
}

.bee-discuss-markTypes-container {
  display: none;
  text-align: right;
  margin-right: 2em;
  min-height: 2em;
}

.bee-discuss-markTypes-container.bee-discuss-markTypes-hasMarks {
  display: inline-block;
}

.bee-disscuss-top:hover .bee-discuss-markTypes-container {
  display: inline-block;
}

.bee-discuss-Actions-mark-label {
  display: inline-block;
  vertical-align: top;
  margin-left: -1em;
  font-size: smaller;
  font-weight: bolder;
  background-color: transparent;
}

.bee-discuss-Actions-mark {
   display: inline-block;
   height: 1.5em;
   vertical-align: middle;
   color: #c5c5c5;
}

.bee-discuss-Actions-stats {
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  color: #c5c5c5;
}

.bee-discuss-Actions-label-stats {
  max-height: 6em;
  display: block;
  overflow: auto;
}

.bee-discuss-Actions-mark-disabled {
  
}

.bee-discuss-Actions-mark-marked.bee-discuss-Actions-mark-marked {
  color: #1ca5c7;
  background-color: #ffffff;
}

.bee-discuss-Actions-mark-disabled:hover {
  cursor: default;
}

.bee-discuss-adsFormContent {
  background-color: white;
  margin-left: 1em;
  word-wrap: normal;
  margin: 1ex;
  width: 95%;
  border-spacing: 0px;
}

.bee-discuss-adsFormContent-right{
  float: right;
}

.bee-discuss-adsFormContent-Send {
  float: right;
  color: black;
}
.FaDisplayNone{
  display: none !important;
}
.FaDisplay{
  display: block;
}
.bee-discuss-adsFormContent-Attach {
  float: right;
  margin-right: 10px;
}
.bee-discuss-adsFormContent-LeftBorder {
  border-left: 3px solid #1ca5c7;
}
.bee-discuss-adsFormContent-leftBorder-none{
  border-left: 0px solid;
}
.bee-discuss-adsFormContent-leftBorder-red{
  border-left: 3px solid #ffb300;
}
.bee-discuss-adsFormContent-auth-photo{
  max-height: 60px;
  max-width: 60px;
  cursor: default; 
  float: left; 
  margin-top: 17px;
  margin-left: 30px; 
  border-radius: 50%;
}

.bee-discuss-adsFormContent-comments-count{
  float: left; 
  margin-top: 32px; 
  margin-right: 100px; 
  color: #c5c5c5;
  cursor: pointer;
  padding-left: 20px;
}

.bee-discuss-adsFormContent-hb-photo{
  max-height: 25px;
  max-width: 25px;
  cursor: default; 
  float: left; 
  margin-top: 5px;
  margin-left: 30px; 
  border-radius: 50%;
}
.bee-discuss-adsFormContent-name-sur{
  float: left; 
  margin-top: 32px; 
  margin-left: 15px;
  margin-right: 20px;
  font-weight: bold; 
  font-size: 13px;
}
.bee-discuss-adsFormContent-name-sur-hb{
  float: left; 
  margin-left: 15px;
  margin-right: 20px;
  font-weight: bold; 
  font-size: 13px;
}
.bee-discuss-adsFormContent-important{
  float: left; 
  margin-top: 32px; 
  margin-left: 10px; 
  color: red; 
  font-size: 14pt; 
  float: left;
}
.bee-discuss-adsFormContent-topic-flow {
  float: left; 
  margin-top: 32px; 
  margin-left: 10px;
  text-transform: uppercase; 
  font-size: 10px; 
  font-weight: 600;
  padding: 3px;
  border-radius: 5px;
}
.bee-discuss-adsFormContent-topic-hb{
  float: left; 
  margin-left: 3em;
  text-transform: uppercase; 
  font-size: 10px; 
  font-weight: 600;
  padding: 3px;
  border-radius: 5px;
}
.bee-discuss-adsFormContent-time-created{
  float: right; 
  margin-top: 32px; 
  margin-right: 100px; 
  color: #c5c5c5;
}
.comment-count{
  float: right; 
  margin-top: 32px; 
  color: #c5c5c5;
}
.bee-discuss-adsFormContent-paper-clip {
  font-size: 18px;
  color: gray;
  margin-top: 32px;
  margin-left: 10px;
  float: left;  
}
.bee-discuss-adsFormContent-paper-clip:hover {
 cursor: pointer;
 color: black;
}
.bee-discuss-adsFormContent-topic{
  font-size: 12px;
  margin-left: 95px;
  margin-bottom: 30px;
  width: 730px;
  float: left;
}
.bee-discuss-adsFormContent-subject{
  float: left;
  margin-top: 10px;
  margin-left: 94px;
  margin-right: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 13px;
  width: 730px;
}
.bee-discuss-adsFormContent-file-group{
  margin-left: 60px; 
  margin-bottom: 30px;
}
.bee-discuss-adsFormContent-comment-line{
  background-color: #f5f5f5; 
  min-height: 40px;
}
.bee-discuss-adsFormContent-user-photo{
  max-height: 25px; 
  max-width: 25px; 
  cursor: default; 
  float: left;
  margin-left: 70px; 
  margin-top: 8px; 
  border-radius: 50%;
}
.bee-discuss-adsFormContent-coment-input{
  float: left; 
  margin-top: 7px; 
  margin-left: 10px;
  border: 0px solid; 
  background-color: #f4f4f4; 
  width: 40% !important;
}
.bee-discuss-adsFormContent-fa{
  font-size: 18px; 
  color: gray; 
  position: absolute;
  margin-right: 30px;
  right: 30px;
}
.bee-discuss-adsFormContent-fa-send{
  margin-top: 11px; 
  font-size: 18px; 
  color: gray; 
  margin-right: 30px;
}
.bee-discuss-adsFormContent-file-collector{
  padding-top: 0px !important;
  margin-right: 20px;
  margin-bottom: 10px;
}
.bee-discuss-adsFormContent-line{
  background-color:#e8e8e8; 
  height: 5px;
}
.bee-discuss-adsFormContent-hb-date{
  color: #c5c5c5;
  font-weight: 500;
}

.bee-discuss-adsFormContent-TopicName > td {
  
}

.bee-discuss-adsFormContent-Created {
 
}

.bee-discuss-adsFormContent-Owner {
  white-space: nowrap;
  vertical-align: top;
  padding-right: 1ex;
  width: 20%;
}

.bee-discuss-adsFormContent-Description {
  vertical-align: top;
  padding: 1ex;
  max-height: 370px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 6em;
  position: relative;
  top: 2px;
  margin-bottom: 1em;
}

.bee-discuss-adsFormContent-NewAnnouncement {
 background-color: #ffffcc;
}

.bee-discuss-adsFormContent-Owner-Photo {
  text-align: center;
  max-width: 25px;
  min-width: 25px;
  padding: 10px 0px 10px 10px;
  float:left;
}

.bee-discuss-adsFormContent-Owner-Publisher {
      float: left;
      padding: 1em;
}

.bee-discuss-adsFormContent-Birthday {
  
}

.bee-discuss-adsFormContent-OwnerBirthday {
  width: 50px;
  padding: 1em;
}

.bee-discuss-adsFormContent-TopicNameBirthday {
}
.bee-discuss-adsFormContent-TopicNameBirthday > td {
}

.bee-discuss-adsFormContent-DescriptionBirthday-birthList {
  padding: 1em;
}

.bee-discuss-adsFormContent-DescriptionBirthday-happyDay {
  
}

.bee-discuss-adsFormContent-DescriptionBirthday-birthList > td {
  padding-left: 1em;
}

.bee-discuss-adsFormContent-actionDiscussion {
  width: 100%;
  height: 120px;
  letter-spacing: 2px;
  opacity: 0;
  background: whitesmoke;
  position: absolute;
  border: 0px !important;
}

.bee-discuss-adsFormContent-actionDiscussion > div {
  display: inline-block;
}

.bee-discuss-adsFormContent-chatBalloon {
 width: 0px;
 height: 0px;
 position: relative;
 left: -17px;
 top: 8px;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;
 border-right: 10px solid #ccc;
 z-index: 1;
}

.bee-discuss-adsFormContent-chatBalloon:after {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 1px;
  top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 9px solid whitesmoke;
  z-index: 0;
  content: '';
 }

.bee-discuss-adsFormContent-NewAnnouncement .bee-discuss-adsFormContent-chatBalloon:after {
  border-right: 9px solid #ffffCC;
}

.bee-discuss-adsFormContent-NewAnnouncement .bee-discuss-adsFormContent-chatBalloon {
   border-top: 9px solid white;
   border-bottom: 9px solid white;
}

.bee-discuss-Description-disabled {
  display: none !important;
}

.bee-discuss-DescriptionEditor-disabled {
   display: none !important;
}

.bee-form-Discussion-container .bee-Header-row-message {
  font-size: 23px;
  color: #484849;
  font-weight: lighter;
}
