.bee-fin-posting-precedence-table {
  border-collapse: collapse;
}
.bee-fin-posting-precedence-table td {
  border: 1px solid #ccc;
}
.bee-fin-posting-precedence-table tr:hover {
  background-color: #f2f2f2;
}

.bee-fin-posting-precedence-label {
  padding: 3px 8px;
  border: 1px solid transparent;
  cursor: grab;
  cursor: -webkit-grab;
}

.bee-fin-posting-precedence-drag {
  background-color: yellow;
  border-color: darkgreen;
}

.bee-grid-ChartOfAccounts .bee-Header-commandPanel {
  margin-right: 5rem;
}
.bee-grid-ChartOfAccounts.bee-GridContainer-no-active-row .bee-Header-commandPanel {
  visibility: hidden;
}

.bee-form-SimpleAnalysis .bee-TabbedPages-tabCaption {
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
}
.bee-form-SimpleAnalysis .bee-Dimensions-summary div,
.bee-fin-SimpleAnalysis-info-summary div {
  font-size: x-small;
  font-weight: normal;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.bee-fin-Selected-grid-header .bee-HeaderCellCaption,
.bee-fin-Selected-grid-body {
  font-family: FontAwesome;
  font-size: medium;
  cursor: pointer;
}

.bee-fin-AnalysisValueTypesEditor-container {
  border: 1px solid #b4b4b4;
  border-radius: 2px;
  outline: none;
}
.bee-fin-AnalysisValueTypesEditor-table {
  border-collapse: collapse;
}

.bee-fin-AnalysisValueTypesEditor-header-cell {
  padding: 0;
}
.bee-fin-AnalysisValueTypesEditor-header {
  background-color: #e3e3e3;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.bee-fin-AnalysisValueTypesEditor-save,
.bee-fin-AnalysisValueTypesEditor-cancel {
  margin: 3px 8px 3px 0;
  font-size: medium;
  color: #414142;
}

.bee-fin-AnalysisValueTypesEditor-toggle-cell {
  padding: 3px 5px;
}
.bee-fin-AnalysisValueTypesEditor-toggle {
  white-space: nowrap;
}
.bee-fin-AnalysisValueTypesEditor-scale-cell {
  padding-right: 3px;
}
.bee-fin-AnalysisValueTypesEditor-table .bee-fin-AnalysisValueTypesEditor-scale {
  padding: 0;
  width: 3rem;
}