.bee-fin-posting-precedence-table {
  border-collapse: collapse;
}
.bee-fin-posting-precedence-table td {
  border: 1px solid #ccc;
}
.bee-fin-posting-precedence-table tr:hover {
  background-color: #f2f2f2;
}

.bee-fin-posting-precedence-label {
  padding: 3px 8px;
  border: 1px solid transparent;
  cursor: grab;
  cursor: -webkit-grab;
}

.bee-fin-posting-precedence-drag {
  background-color: yellow;
  border-color: darkgreen;
}

.bee-grid-ChartOfAccounts .bee-Header-commandPanel {
  margin-right: 5rem;
}
.bee-grid-ChartOfAccounts.bee-GridContainer-no-active-row .bee-Header-commandPanel {
  visibility: hidden;
}

.bee-form-SimpleAnalysis .bee-TabbedPages-tabCaption {
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
}
.bee-form-SimpleAnalysis .bee-Dimensions-summary div,
.bee-fin-SimpleAnalysis-info-summary div {
  font-size: x-small;
  font-weight: normal;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}