body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.bee-SignIn-Panel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  margin-top: -240px;
  margin-left: -200px;
}

.bee-SignIn-Logo-container {
  position: absolute;
  top: -25px;
  left: 25%;
  width: 185px;
}
.bee-SignIn-Logo {
  width: 100%;
}

.bee-SignIn-Locale-container {
  position: absolute;
  top: 40px;
  right: -100px;
}

.bee-SignIn-Label {
  position: absolute;
  left: 100px;
}

.bee-SignIn-Input {
  position: absolute;
  left: 100px;
  width: 175px;
  height: 32px;
  padding-left: 8px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid silver;
  box-shadow: inset 3px 3px 10px silver;
}

.bee-SignIn-Input:focus {
  background-color: whitesmoke;
}

.bee-SignIn-Label-user {
  top: 90px;
}

.bee-SignIn-Input-user {
  top: 110px;
}

.bee-SignIn-Label-password {
  top: 148px;
}

.bee-SignIn-Input-password {
  top: 168px;
}

.bee-SignIn-Button {
  position: absolute;
  left: 130px;
  top: 220px;
  height: 40px;
  width: 125px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #43494F;
  color: white;
  font-weight: bold;
  border: 2px solid #43494F;
  border-radius: 3px;
  cursor: pointer;
}

.bee-SignIn-Input:focus,
.bee-SignIn-Button:focus {
  outline: #80c4f9 solid 1px;
}

.bee-SignIn-Error {
  position: absolute;
  left: 100px;
  bottom: 100px;
  color: red;
}

.bee-SignIn-Command-container {
  position: absolute;
  left: 50px;
  width: 300px;
  bottom: 70px;
}
.bee-SignIn-Command-Form-query {
  position: absolute;
  top: 0px;
  right: 0px;
}
.bee-SignIn-Register,
.bee-SignIn-Query {
  font-size: medium;
  color: #00e;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.bee-SignIn-Copyright {
  position: absolute;
  left: 100px;
  bottom: 20px;
  cursor: pointer;
}
.bee-SignIn-Copyright-logo {
  max-height: 16px;
  max-width: 16px;
  position: relative;
  top: 1px;
}
.bee-SignIn-Copyright-label {
  font-size: 12px;
  padding-left: 2px;
}
