.bee-mail-Headers {
  margin-top: 5px;
}

.bee-mail-WaitingForContent {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  animation: rotate 1s linear infinite;
}

.bee-mail-EmptySelection {
  text-align: center;
  margin-top: 3ex;
  font-family: Georgia;
  font-size: larger;
  color: teal;
}

.bee-mail-Sender, .bee-mail-Recipients, .bee-mail-Subject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bee-mail-Sender {
  font-weight: bold;
  cursor: pointer;
}

.bee-mail-Recipients {
  color: gray;
  cursor: pointer;
}

.bee-mail-Subject {
  padding-top: 5px;
}

.bee-mail-Attachments {
  cursor: pointer;
  color: #0A8DE9;
  text-align: right;
}

.bee-mail-Attachments > *:before {
  font-family: FontAwesome;
  margin-right: 3px;
  content: "\f0c6";
}

.bee-mail-RecipientsType {
  color: gray;
  text-align: right;
  vertical-align: top;
}

.bee-mail-RecipientLabel {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.bee-mail-RecipientEmail {
  display: inline-block;
}

.bee-mail-Header {
  height: 100%;
}
.bee-mail-Header > div {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}
.bee-mail-HeaderUnread .bee-mail-HeaderAddress, .bee-mail-HeaderUnread  .bee-mail-HeaderSubject {
  font-weight: bold;
}
.bee-mail-HeaderAddress, .bee-mail-HeaderSubject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.bee-mail-HeaderDate {
  color: #0A8DE9;
}
.bee-mail-HeaderAttachment {
  color: gray;
  margin-left: 3px;
}
.bee-mail-HeaderAttachment:after {
  font-family: FontAwesome;
  margin-left: 3px;
  content: "\f0c6";
}

.bee-CellGridColumn-FlagRenderer > img {
  display: block;
  margin: auto;
}
.bee-mail-FlagAnswered, .bee-mail-FlagForwarded, .bee-mail-FlagChained {
  font-family: FontAwesome;
  margin: 0 1px 0 1px;
  display: inline;
}
.bee-mail-FlagAnswered:after {
  content: "\f112";
}
.bee-mail-FlagForwarded:after {
  content: "\f064";
}
.bee-mail-FlagChained:after {
  content: "\f0c1";
}

.bee-mail-Date {
  float: right;
  color: gray;
}

.bee-mail-RecipientsPopup, .bee-mail-AttachmentsPopup {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
  max-height: 400px;
  overflow: auto;
}

.bee-mail-Attachments a, .bee-mail-AttachmentsMenu-panel a {
  padding: 2px 4px;
  cursor: pointer;
  color: #0A8DE9;
  text-decoration: none;
}
.bee-mail-AttachmentsMenu-panel {
  border-collapse: collapse;
}
.bee-mail-AttachmentsMenu-panel tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.bee-mail-AttachmentsMenu-panel td {
  padding: 4px 10px;
}

.bee-mail-MenuPopup, .bee-mail-SearchPopup {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.bee-mail-MenuTable {
  border-collapse: collapse;
}
.bee-mail-MenuTable tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.bee-mail-MenuTable td {
  padding: 4px 10px;
}

.bee-mail-PartSeparator {
  height: 0;
  border-width: 1px 0 0 0;
  border-style: dashed;
}

.bee-mail-Controller {
  margin: 10px;
}

.bee-mail-Folders {
  border-width: 1px 0 0 0;
  border-style: dotted;
}

.bee-mail-SysFolder, .bee-mail-Folder {
  cursor: pointer;
  color: #444;
  font-weight: normal;
}

.bee-mail-SysFolder, .bee-mail-FolderRow {
  padding: 3px;
}

.bee-mail-FolderRow {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.bee-mail-FolderCaption, .bee-mail-Folder {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.bee-mail-FolderCaption {
  display: inline;
  color: silver;
  font-weight: bold;
}

.bee-mail-SysFolder:hover, .bee-mail-FolderRow:hover {
  background-color: #f2f2f2;
}

.bee-mail-FolderActions {
  visibility: hidden;
}

.bee-mail-FolderAction {
  margin-left: 5px;
  display: inline;
}

.bee-mail-SysFolder:hover .bee-mail-FolderActions,
.bee-mail-FolderRow:hover .bee-mail-FolderActions {
  visibility: visible;
}

.bee-mail-SysFolder-selected, .bee-TreeItem-selected .bee-mail-Folder {
  font-weight: bold;
  color: #FD6268;
}

.bee-mail-SysFolder-unread, .bee-mail-Folder-unread {
  font-weight: bold;
}

.bee-mail-Folder-disconnected {
  font-style: italic;
}

.bee-mail-SysFolder.dragOver, .bee-mail-Folder.dragOver {
  outline: 1px dashed red;
}

.bee-mail-SearchPanel {
  padding: 10px;
}
.bee-mail-SearchPanel .bee-InputText {
  width: 265px;
  margin-bottom: 10px;
}
.bee-mail-SearchPanel .bee-mail-SearchDateFrom, .bee-mail-SearchPanel .bee-mail-SearchDateTo {
  display: inline;
  margin-bottom: 10px;
  width: 127px;
}
.bee-mail-SearchDateSeparator:before {
  content: " - ";
}
.bee-mail-SearchStarred, .bee-mail-SearchUnread, .bee-mail-SearchAttachments {
  display: block;
  margin-bottom: 5px;
}
.bee-mail-SearchFolder {
  display: inline-block;
  margin-top: 10px;
}
.bee-mail-SearchButton {
  float: right;
  display: inline-block;
  color: #888;
  padding: 5px 10px;
  background-color: whitesmoke;
  border: 1px solid silver;
  border-radius: 4px;
  margin-bottom: 10px;
}
.bee-mail-SearchButton:hover {
  color: black;
}
.bee-mail-SearchExtended {
  color: red;
}

.bee-mail-NewMessage-signature-label {
  padding-left: 1ex;
  padding-right: 2px;
}
.bee-mail-NewMessage-signatures-zero {
  display: none;
}
.bee-mail-NewMessage-send {
  margin-left: 1ex;
}

.bee-form-NewMailMessage .bee-FileCollector-hiddenWidget {
  width: 105px;
}