.bee-misc-Slack-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bee-misc-Slack-late {
  color: red;
}
.bee-misc-Slack-opening {
  color: green;
}
.bee-misc-Slack-endgame {
  color: orange;
}
.bee-misc-Slack-scheduled {
  color: yellow;
}

.bee-misc-Slack-label {
  position: absolute;
  top: 3px;
  font-weight: bold;
}
.bee-misc-Slack-late .bee-misc-Slack-label {
  left: 3px;
}
.bee-misc-Slack-opening .bee-misc-Slack-label {
  left: 30%;
}
.bee-misc-Slack-endgame .bee-misc-Slack-label {
  right: 30%;
}
.bee-misc-Slack-scheduled .bee-misc-Slack-label {
  right: 3px;
}

.bee-orgChart-panel {
  background-color: white;
}

.bee-orgChart-toggle-positions {
  padding-right: 3px;
}
.bee-orgChart-toggle-employees {
  padding-right: 3em;
}

.bee-orgChart-department-panel {
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  left: 0;
  top: 0;
  transition: left 350ms, top 350ms;
  overflow: auto;
  background-color: white;
}

.bee-orgChart-department-label {
  cursor: pointer;
  border-bottom: 1px solid #d5d5d5;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  background-color: #f5f5f5;
  color: #414142;
}

.bee-orgChart-boss-table,
.bee-orgChart-employee-table,
.bee-orgChart-position-table,
.bee-orgChart-pos-and-empl {
  border-collapse: collapse;
}

.bee-orgChart-boss-table td,
.bee-orgChart-employee-table td,
.bee-orgChart-position-table td,
.bee-orgChart-pos-and-empl td {
  padding: 5px;
}

.bee-orgChart-popup-content .bee-orgChart-employee-label{
  line-height: 60px;
}

.bee-orgChart-photo-container {
  width: 40px;
}
.bee-orgChart-photo-container {
  height: 40px;
}
.bee-orgChart-photo-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.bee-orgChart-boss-label {
  cursor: pointer;
  color: #1eb2d8;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
.bee-orgChart-position-staffed,
.bee-orgChart-employee-label {
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.bee-orgChart-employee-summary {
  margin-left: 3em;
}

.bee-orgChart-position-actual,
.bee-orgChart-employee-count {
  font-weight: bold;
  text-align: left;
}

.bee-orgChart-employee-position,
.bee-orgChart-position-label {
  text-transform: uppercase;
  font-size: 11px;
  color: #9d9d9d;
}

.bee-orgChart-position-under {
  font-weight: bold;
  background-color: lightpink;
  text-align: right;
}
.bee-orgChart-position-planned {
  font-weight: bold;
  background-color: lightgreen;
  text-align: right;
}
.bee-orgChart-position-over {
  font-weight: bold;
  background-color: yellow;
  text-align: right;
}

.bee-orgChart-department-drag,
.bee-orgChart-boss-drag,
.bee-orgChart-employee-drag {
  background-image: linear-gradient(to bottom, yellow, yellow);
}
.bee-orgChart-department-dragOver {
  border: 2px solid #e3ca4b;
  background: linear-gradient(to bottom, #fff7ae, #eee79e);
}

.bee-orgChart-line-straight,
.bee-orgChart-line-horizontal {
  height: 1px;
}
.bee-orgChart-line-vertical {
  width: 1px;
}
.bee-orgChart-line-straight,
.bee-orgChart-line-horizontal,
.bee-orgChart-line-vertical {
  background-color: #3388dd;
}

.bee-orgChart-bubble-parent,
.bee-orgChart-bubble-child {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-radius: 50%;
  transform: translate(-6px, -6px);
}
.bee-orgChart-bubble-parent {
  border-color: limegreen;
}
.bee-orgChart-bubble-child {
  border-color: lightgray;
}

.bee-orgChart-settings-table {
  border-collapse: collapse;
}
.bee-orgChart-settings-table .bee-LabelCell {
  padding-right: 12px;
}
.bee-orgChart-settings-table .bee-InputSpinner {
  width: 80px;
}
.bee-orgChart-settings-table .bee-RadioButton input {
  margin: 0;
}
.bee-orgChart-settings-table .bee-RadioButton label {
  padding-left: 3px;
  padding-right: 6px;
}
.bee-orgChart-settings-separator {
  height: 10px;
}
.bee-orgChart-settings-commands-cell {
  padding-top: 2ex;
  text-align: right;
}
.bee-orgChart-settings-cancel {
  margin-left: 1em;
}

.bee-form-ExtendedReport .bee-HtmlTable tr td {
  padding: 3px 5px;
}

.bee-rep td {
  border: 1px solid #ddd;
}
.bee-rep .bee-Horizontal td {
  border: none;
}

.bee-rep-date, .bee-rep-num {
  white-space: nowrap;
}
.bee-rep-num, .bee-rep-cgroup-hdr, .bee-rep-tot-hdr {
  text-align: right;
}
.bee-rep-drill:hover {
  cursor: pointer;
  background-color: lightyellow;
}
.bee-rep-drill-on, .bee-rep-drill-off {
  cursor: pointer;
}
.bee-rep-drill-on:before, .bee-rep-drill-off:before {
  font-family: FontAwesome;
  content: "\f0c1";
  margin-right: 3px;
}
.bee-rep-drill-off:before {
  color: silver;
}
.bee-rep-sort, .bee-rep-sort-asc, .bee-rep-sort-desc {
  cursor: pointer;
  font-family: FontAwesome;
  margin-left: 5px;
}
.bee-rep-sort:before {
  content: "\f0dc";
  color: silver;
}
.bee-rep-sort-asc:before {
  content: "\f0de";
  color: black;
}
.bee-rep-sort-desc:before {
  content: "\f0dd";
  color: black;
}
.bee-rep-cgroup {
  text-align: center;
}
.bee-rep-rgroup, .bee-rep-rgroup-col-tot, .bee-rep-rgroup-tot {
  background-color: whitesmoke;
}
.bee-rep-row-hdr, .bee-rep-cgroup-tot-hdr, .bee-rep-col-hdr, .bee-rep-row-tot-hdr {
  text-align: center;
  font-weight: bold;
}
.bee-rep-rgroup-tot, .bee-rep-row-tot, .bee-rep-col-tot, .bee-rep-tot, .bee-rep-tot-hdr {
  font-weight: bold;
}

.bee-rep-item, .bee-rep-text-separator, .bee-rep-num-operator, .bee-rep-date-operator {
  display: inline-block;
  background-color: antiquewhite;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px;
  border: 1px solid silver;
  border-radius: 5px;
  cursor: pointer;
}
.bee-rep-text-separator, .bee-rep-num-operator, .bee-rep-date-operator {
  background-color: transparent;
}
.bee-rep-text-expression, .bee-rep-num-expression {
  max-width: 500px;
}
.bee-rep-item-over, .bee-rep-item:hover, .bee-rep-text-separator:hover, .bee-rep-num-operator:hover,
.bee-rep-date-operator:hover {
  background-color: lightyellow;
}
.bee-rep-function {
  color: blue;
  cursor: pointer;
}
.bee-rep-item-add:after {
  font-family: FontAwesome;
  content: "\f067";
  cursor: pointer;
}
.bee-rep-summary-on:after {
  font-family: FontAwesome;
  content: "\f06e";
  cursor: pointer;
}
.bee-rep-summary-off:after {
  font-family: FontAwesome;
  content: "\f070";
  cursor: pointer;
  color: silver;
}
.bee-rep-item-remove {
  display: inline;
  font-size: 15px;
  margin-left: 1px;
  cursor: pointer;
}
.bee-rep-item-remove:hover {
  color: red;
}
.bee-rep-filter-cap, .bee-rep-option-cap {
  text-align: right;
  white-space: nowrap;
}
.bee-rep-text-filter {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.bee-rep-text-filter .bee-Toggle-checked {
  color: red;
}
.bee-rep-text-filter .bee-Toggle-unchecked {
  color: green;
}
.bee-rep-text-filter .bee-CheckBox {
  margin: 0 5px 0 5px;
}
.bee-rep-text-filter .bee-CheckBox:after {
  content:",";
}
.bee-rep-text-filter .bee-MultiSelector-container {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.bee-rep-date-filter .bee-Label {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
.bee-rep-date-filter .bee-TextBox, .bee-rep-date-filter .bee-ListBox {
  margin-left: 5px;
}
.bee-rep-date-filter .bee-InputSpinner {
  width: 70px;
}
.bee-rep-date-filter .bee-InputDate {
  width: 90px;
}
.bee-rep-date-filter .bee-InputDateTime {
  width: 130px;
}
.bee-rep-enum-filter {
  display: inline-block;
  cursor: pointer;
  color: blue;
}
.bee-rep-enum-filter-empty:before {
  content: "???";
}
.bee-rep-report {
  border-collapse: collapse;
}
.bee-rep-report .bee-rep-report-normal:hover {
  color: dodgerblue;
  cursor: pointer;
}
.bee-rep-report-active {
  color: white;
  background-color: dodgerblue;
}
.bee-rep-report-global td:first-child div:before {
  font-family: FontAwesome;
  content: "\f0ac";
}

.bee-EventsBoard-content {
  overflow: auto;
  height: calc(100% - 50px);
  width: 100%;
}

.bee-EventsBoard-content-row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 2px;
}

.bee-EventsBoard-content-col {
  margin-left: 1ex;
  display: inline-block;
  margin: 4px;
  min-width: 150px;
  vertical-align: top;
  overflow: auto;
}

.bee-EventsBoard-content-col-PublisherPhoto {
  width: 2.5em;
  height: 3.5em;
  max-width: 2.5em;
  min-width: 2.5em;
}

.bee-EventsBoard-content-Photo {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  cursor: default;
}

.bee-EventsBoard-content-EventType {
   font-weight: bolder;
}

.bee-EventsBoard-content-EventNote {
   white-space: pre-wrap;
   width: 100%;
   margin-top: 10px;
}

.bee-EventsBoard-content-col.bee-EventsBoard-content-col-EventNote.bee-prj-Events-EventNote {
  width: 100%;
}

.bee-EventsBoard-content-col.bee-EventsBoard-content-col-EventFiles.bee-prj-Events-content-col-EventFiles {
  width: calc(100% - 10px);
}

.bee-EventsBoard-content-EventPublisher {
  font-weight: bolder;
}

.bee-EventsBoard-content-col-PublisherInfo {
  display: -webkit-flex;
}

.bee-EventsBoard-content-EventPublisher, .bee-EventsBoard-content-EventPublished,
.bee-EventsBoard-content-EventType {
  padding-right: 10px;
}

.bee-EventsBoard-content-Properties, .bee-EventsBoard-content-col-EventFiles {
  margin-top: 10px;
}

.bee-EventsBoard-content-Properties {
  font-style: italic;
  font-weight: bold;
}

.bee-EventsBoard-content-EventPublished {
  color: #c5c5c5
}

.bee-rtc-local,
.bee-rtc-remote {
  margin-left: 10px;
  width: calc(50% - 10px);
}

.bee-conf {
  margin: auto;
}
.bee-conf td {
  border: 1px solid #ddd;
  padding: 0 5px 0 5px;
}
.bee-conf-choice {
  margin: 0 auto 5px auto;
}
.bee-conf-choice .bee-TabBar-item {
  outline: none;
}
.bee-conf-hdr {
  text-align: center;
  font-style: italic;
}
.bee-conf-grp {
  font-weight: bold;
  background-color: lightyellow;
}
.bee-conf-row-hdr {
  font-weight: bold;
}
.bee-conf-col-hdr {
  text-align: right;
  font-weight: bold;
}
.bee-conf-row-hdr, .bee-conf-col, .bee-conf-cell, .bee-conf-row-del, .bee-conf-col-del {
  text-align: center;
}
.bee-conf-row-hdr-over, .bee-conf-col-hdr-over {
  background-color: #ddd;
}
 .bee-conf-row.bee-conf-cell {
  text-align: left;
 }
.bee-conf-restricted {
  cursor: pointer;
  color: red;
  text-align: center;
}
.bee-conf-restricted-unchecked {
  color: green;
}
.bee-conf-add {
  display: flex;
  flex-direction: row;
}
.bee-conf-add div {
  flex: 1;
  background-color: #ddd;
  background: linear-gradient(to top right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.5px),
    #ddd 50%,
    rgba(0,0,0,0) calc(50% + 0.5px),
    rgba(0,0,0,0) 100%);
}
.bee-conf-remove:after, .bee-conf-row-hdr .bee-Label:before, .bee-conf-col-hdr .bee-Label:before {
  margin-left: 1px;
  content: "\00d7";
  font-weight: bold;
  font-size: 15px;
  color: red;
  cursor: pointer;
  visibility: hidden;
}
.bee-conf-row-hdr:hover .bee-conf-remove:after, .bee-conf-col-hdr:hover .bee-conf-remove:after,
.bee-conf-row:hover .bee-conf-remove:after {
  visibility: visible;
}
.bee-conf-row-add:after, .bee-conf-col-add:after {
  font-family: FontAwesome;
  content: "\f067";
  cursor: pointer;
}
.bee-conf-default:after {
  font-family: FontAwesome;
  content: "\f111";
  cursor: pointer;
}
.bee-conf-optional:after {
  font-family: FontAwesome;
  content: "\f1db";
  cursor: pointer;
}
.bee-conf-cell:hover {
  cursor: pointer;
  outline: black solid 1px;
}
.bee-conf-row-del:after, .bee-conf-col-del:after {
  font-family: FontAwesome;
  color: red;
  cursor: pointer;
}
.bee-conf-row-del:hover:after, .bee-conf-col-del:hover:after {
  content: "\f00d";
}

.bee-spec-dialog > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bee-spec-dialog .bee-Dialog-content {
  flex: 1;
}
.bee-spec-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bee-spec-options {
  flex: 1;
  overflow: auto;
}
.bee-spec-box {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.bee-spec-summary tr td:nth-child(2) {
  font-weight: bold;
  text-align: right;
}
.bee-Popup .bee-spec-box {
  max-width: 620px;
  max-height: 500px;
  padding: 0 5px;
}
.bee-spec-thumbnail {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: white;
  border: 1px solid silver;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.bee-spec-thumbnail-active:hover {
  cursor: pointer;
  background-color: lightyellow;
}
.bee-spec-thumbnail .bee-Image {
  flex: 1;
  overflow: hidden;
  object-fit: contain;
}
.bee-spec-thumbnail .bee-Label:last-child {
  font-weight: bold;
}
.bee-spec-description {
  background-color: lightgoldenrodyellow;
  flex: 1;
}
.bee-spec-selectable {
  border-collapse: collapse;
  margin-top: 10px;
}
.bee-spec-selectable tr td:nth-child(2) {
  text-align: right;
}
.bee-spec-selectable td {
  border: 1px solid #ddd;
  padding: 5px;
}
.bee-spec-blocked {
  color: red;
}

.bee-row-Mode-new,
.bee-row-Mode-upd {
  width: 3px;
  height: 100%;
}
.bee-row-Mode-new {
  background-color: #1ca5c7;
}
.bee-row-Mode-upd {
  background-color: #ffb300;
}

.bee-reminder-dialog-panel{
  padding: 10px 0px;
}

.bee-reminder-dialog-infoPanel{
  background-color: #FEF9D3;
  padding: 10px 10px;
  height: 40px;
}

.bee-reminder-dialog-infoText{
  display: table-cell;
}

.bee-reminder-dialog-dateText{
  font-weight: bold;
  font-size: 14px;
}

.bee-reminder-dialog-suspendButton {
  background-color: #cc0000;
  color: white;
}

.bee-reminder-dialog-remindButton {
   background-color: #1eb2d8;
   color: white;
}

.bee-reminder-dialog-text {
   padding-right: 8px;
}

.bee-reminder-dialog-component {
   margin-right: 10px;
}

.bee-Header-commandPanel .bee-reminder-dialog-active {
  color: #6bae45;
}

.bee-reminder-dialog-not-visible {
  display: none;
}