.bee-payroll-wsf-object-widget {
  display: inline-block;
  padding: 2px 10px;
  cursor: pointer;
}
.bee-payroll-wsf-object-widget:hover:not(.bee-payroll-wsf-object-active) {
  background-color: #e1e1e1;
  text-decoration: underline;
}
.bee-payroll-wsf-object-active {
  background-color: #80c4f9;
  cursor: auto;
}

.bee-payroll-ws-table,
.bee-payroll-earn-table {
  border-collapse: collapse;
}
.bee-payroll-ws-table td {
  border: 1px solid #ccc;
  padding: 2px;
}
.bee-payroll-earn-table td {
  border: 1px solid #ccc;
  padding: 2px 5px;
}

.bee-payroll-ws-header-panel-cell,
.bee-payroll-earn-header-panel-cell {
  background-color: #f5f5f5;
}
.bee-payroll-ws-header-panel,
.bee-payroll-earn-header-panel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.bee-payroll-ws-caption,
.bee-payroll-earn-caption {
  font-weight: bolder;
  font-size: larger;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  text-align: center;
  visibility: hidden;
}
.bee-Print .bee-payroll-ws-caption,
.bee-Print .bee-payroll-earn-caption {
  visibility: visible;
}
.bee-payroll-ws-action,
.bee-payroll-earn-action {
  margin-right: 3px;
  padding: 2px 5px;
  font-size: large;
  color: #414142;
}

.bee-payroll-ws-table .bee-payroll-ws-month-selector-cell,
.bee-payroll-earn-table .bee-payroll-earn-month-selector-cell {
  text-align: center;
  border-bottom-color: transparent;
}
.bee-payroll-ws-month-selector,
.bee-payroll-earn-month-selector {
  font-weight: bolder;
}

.bee-payroll-ws-month-panel,
.bee-payroll-earn-month-panel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.bee-payroll-ws-month-label,
.bee-payroll-earn-month-label {
  padding: 2px 10px;
  cursor: pointer;
}
.bee-payroll-ws-month-label:hover:not(.bee-payroll-ws-month-active),
.bee-payroll-earn-month-label:hover:not(.bee-payroll-earn-month-active) {
  text-decoration: underline;
}
.bee-payroll-ws-month-active,
.bee-payroll-earn-month-active {
  background-color: #80c4f9;
  cursor: auto;
}
.bee-payroll-ws-day-label {
  min-width: 2em;
  text-align: center;
}

.bee-payroll-ws-partition-panel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.bee-payroll-ws-partition-name,
.bee-payroll-earn-partition-name {
  cursor: pointer;
  font-weight: bolder;
}
.bee-payroll-ws-partition-name:hover,
.bee-payroll-earn-partition-name:hover {
  text-decoration: underline;
}

.bee-payroll-ws-partition-subst,
.bee-payroll-earn-partition-subst {
  cursor: pointer;
  font-weight: bolder;
  color: chocolate;
}
.bee-payroll-ws-partition-subst:hover,
.bee-payroll-earn-partition-subst:hover {
  text-decoration: underline;
}

.bee-payroll-ws-partition-clear {
  font-size: large;
  padding: 5px;
  color: #666;
  cursor: pointer;
  visibility: hidden;
}
.bee-payroll-ws-partition-clear:hover {
  color: white;
  background-color: red;
}
.bee-payroll-ws-partition-panel-cell:hover .bee-payroll-ws-partition-clear {
  visibility: visible;
}

.bee-payroll-ws-ro {
  background-color: whitesmoke;
}

.bee-payroll-ws-weekend,
.bee-payroll-ws-editor-weekend {
  background-color: #f2f2f2;
}

.bee-payroll-ws-weekend.bee-payroll-ws-ro,
.bee-payroll-ws-editor-weekend.bee-payroll-ws-ro {
  background-color: #e3e3e3;
}

.bee-payroll-ws-holiday,
.bee-payroll-ws-editor-holiday {
  background-color: #ffe0e0;
}
.bee-payroll-ws-day-label-cell.bee-payroll-ws-today {
  outline: #f99 ridge 5px;
}

.bee-payroll-ws-day-content-cell {
  text-align: center;
  cursor: pointer;
}
.bee-payroll-ws-tc-change,
.bee-payroll-ws-item {
  padding-top: 3px;
  padding-bottom: 3px;
}
.bee-payroll-ws-item-tc {
  border-radius: 20%;
}

.bee-payroll-ws-item-drag {
  background-image: linear-gradient(to bottom, skyblue, skyblue);
  color: black !important;
}

.bee-payroll-ws-wapproved-label {
  text-align: center;
}

.bee-payroll-ws-control-panel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.bee-payroll-ws-mode-panel {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  margin-right: 8em;
}

.bee-payroll-ws-command {
  margin-left: 2em;
}

.bee-payroll-ws-input-mode-panel,
.bee-payroll-ws-dnd-mode-panel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  text-align: right;
}
.bee-payroll-ws-input-mode-simple,
.bee-payroll-ws-input-mode-full,
.bee-payroll-ws-dnd-mode-move,
.bee-payroll-ws-dnd-mode-copy {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.bee-payroll-ws-input-mode-toggle,
.bee-payroll-ws-dnd-mode-toggle {
  font-size: large;
  cursor: pointer;
  color: #414142;
}
.bee-payroll-ws-input-mode-toggle:hover,
.bee-payroll-ws-dnd-mode-toggle:hover {
  color: black;
}
.bee-payroll-ws-input-mode-active,
.bee-payroll-ws-dnd-mode-active {
  font-weight: bolder;
  cursor: auto;
}
.bee-payroll-ws-input-mode-panel .bee-Label:hover:not(.bee-payroll-ws-input-mode-active),
.bee-payroll-ws-dnd-mode-panel .bee-Label:hover:not(.bee-payroll-ws-dnd-mode-active) {
  text-decoration: underline;
}

.bee-payroll-ws-inactive-month .bee-payroll-ws-append-panel,
.bee-payroll-ws-inactive-month .bee-payroll-ws-control-panel {
  display: none;
}

.bee-payroll-ws-inactive-day {
  background-image: url(../images/checkered_background.png);
}
.bee-payroll-ws-overlap-warn {
  background-color: yellow;
}
.bee-payroll-ws-overlap-err {
  background-color: red;
  color: white;
}

.bee-payroll-ws-wd-label,
.bee-payroll-ws-wh-label,
.bee-payroll-ws-wapproved-label {
  font-weight: bolder;
  text-align: center;
}
.bee-payroll-ws-wd-sum,
.bee-payroll-ws-wh-sum,
.bee-payroll-ws-wd-total,
.bee-payroll-ws-wh-total {
  padding-right: 5px;
  text-align: right;
  font-weight: bolder;
}
.bee-payroll-ws-wd-total,
.bee-payroll-ws-wh-total {
  font-size: larger;
}

.bee-payroll-ws-trc-header {
  margin-top: 1ex;
  font-size: larger;
  text-align: center;
}
.bee-payroll-ws-trc-input-container {
  margin-top: 2ex;
  margin-left: 5px;
}
.bee-payroll-ws-trc-input-label {
  display: inline-block;
  padding-right: 1em;
}
.bee-payroll-ws-trc-input-widget.bee-payroll-ws-trc-input-widget {
  width: 5em;
}
.bee-payroll-ws-trc-options-container {
  margin-top: 2ex;
  max-height: 50vh;
  overflow: auto;
}
.bee-payroll-ws-trc-options-table {
  border-collapse: collapse;
}
.bee-payroll-ws-trc-option-widget-cell {
  padding: 5px;
}
.bee-payroll-ws-trc-option-code {
  font-weight: bolder;
}
.bee-payroll-ws-trc-option-separator {
  display: inline-block;
  width: 5px;
}
.bee-payroll-ws-trc-controls {
  margin-top: 2ex;
  margin-right: 5px;
  text-align: right;
}

.bee-payroll-ws-editor-calendar-label {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5px;
}
.bee-payroll-ws-editor-calendar-table {
  border-collapse: collapse;
}
.bee-payroll-ws-editor-calendar-table td {
  border: 1px solid #ccc;
  text-align: center;
  width: 26px;
  height: 22px;
}

.bee-payroll-ws-editor-day-cell:hover {
  font-weight: bolder;
  font-size: larger;
  outline: black solid 1px;
  cursor: pointer;
}
.bee-payroll-ws-editor-day-selected {
  background-color: #80c4f9;
  font-weight: bolder;
  font-size: larger;
}
.bee-payroll-ws-editor-day-selected:hover {
  outline: #80c4f9 solid 3px;
  outline-offset: -1px;
}

.bee-payroll-ws-new-substitution-employee .bee-new-substitution-employee,
.bee-payroll-ws-new-substitution-object .bee-new-substitution-object {
  display: none;
}

.bee-payroll-ws-fetch-table-wrapper {
  max-height: 75vh;
  overflow: auto;
}
.bee-payroll-ws-fetch-table {
  border-collapse: collapse;
}
.bee-payroll-ws-fetch-table td {
  border: 1px solid #ccc;
  padding: 2px;
}

.bee-payroll-ws-fetch-selection-panel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.bee-payroll-ws-fetch-row-toggle,
.bee-payroll-ws-fetch-col-toggle {
  font-size: larger;
  cursor: pointer;
  display: inline-block;
}
.bee-payroll-ws-fetch-row-toggle {
  margin-left: 1em;
}
.bee-payroll-ws-fetch-col-toggle {
  margin-right: 1em;
}

.bee-payroll-ws-fetch-row-label,
.bee-payroll-ws-fetch-col-label {
  cursor: pointer;
}
.bee-payroll-ws-fetch-col-label {
  min-width: 20px;
  text-align: center;
}

.bee-payroll-ws-fetch-day-content-cell {
  text-align: center;
}

.bee-payroll-ws-fetch-row-selected .bee-payroll-ws-fetch-row-label-cell,
.bee-payroll-ws-fetch-col-selected {
  background-color: #80c4f9;
}
.bee-payroll-ws-fetch-row-selected .bee-payroll-ws-fetch-cell-selected.bee-payroll-ws-fetch-day-content-cell {
  background-color: bisque;
}

.bee-payroll-ws-fetch-command-panel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  margin-top: 1vh;
}
.bee-payroll-ws-fetch-submit {
  margin-left: auto;
  margin-right: 2em;
}
.bee-payroll-ws-fetch-cancel {
  margin-left: 2em;
  margin-right: auto;
}

.bee-payroll-earn-partition-title {
  text-align: center;
}
.bee-payroll-earn-col-group-label {
  font-weight: bolder;
  text-align: center;
}
.bee-payroll-earn-col-label,
.bee-payroll-earn-col-total-label {
  white-space: pre-line;
  text-align: center;
}
.bee-payroll-earn-col-total-label {
  font-weight: bolder;
}

.bee-payroll-earn-fund,
.bee-payroll-earn-wage,
.bee-payroll-earn-days,
.bee-payroll-earn-hours,
.bee-payroll-earn-amount {
  text-align: right;
}
.bee-payroll-earn-total {
  font-weight: bolder;
}

.bee-payroll-earn-table .bee-payroll-earn-total-label {
  text-align: right;
  text-transform: uppercase;
}
.bee-payroll-earn-total-row {
  font-weight: bolder;
  font-size: larger;
}
