.bee-prj-chart-stage-row {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow: hidden;
}

.bee-prj-chart-stage-row-label {
  word-wrap: break-word;
  min-width: 100%;
}

.bee-prj-chart-stage-row-label:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-prj-chart-stage-flow {
  position: absolute;
  display: flex;
  cursor: pointer;
  background-color: #89C5D8;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bee-prj-chart-stage-row-separator,
.bee-prj-chart-data-row-separator {
  position: absolute;
  height: 1px;
  background-color: #ddd;
}

.bee-prj-chart-stage-row-separator {

}

.bee-prj-chart-data-row-separator {

}

.bee-prj-chart-stage-flow-Tasks-Late {
  background-color: red;
}

.bee-prj-chart-stage-flow-Tasks-Active {
  background-color: green;
}

.bee-prj-chart-stage-flow-Tasks-Completed {
  background-color: grey;
}

.bee-prj-chart-stage-flow-Tasks-Sheduled {
  background-color: yellow;
}

.bee-prj-FieldOverSized {
  border: 1px solid #f95654;
}

.bee-prj-FilterSupplier-Slack-all {
  width: 65px;
}

.bee-prj-FilterSupplier-Slack-late,
.bee-prj-FilterSupplier-Slack-notLate {
  display: block;
  color: white;
  font-weight: bolder;
  width: 140px;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.bee-prj-FilterSupplier-Slack-late {
  background-image: linear-gradient(to bottom, #DD4B39, #D14836);
}
.bee-prj-FilterSupplier-Slack-notLate {
  background-image: linear-gradient(to bottom, #4D90FE, #4787ED);  
}

.bee-prj-stage-GridFieldOverSized {
  outline: 1px solid #f95654;
}
.bee-prj-stage-GridFieldNotOverSized {
  outline: none;
}

.bee-GridFormContainer .bee-Header-row-message {
  font-size: 23px;
  color: #484849;
  font-weight: lighter;
}

.bee-header-caption_state_active:before {
  background: #5BC0DE;
  border: 1px solid #e8e8e8;
}

.bee-header-caption_state_active_with_border:before {
  background: #5BC0DE;
  border: 2px solid orangered;
}

.bee-header-caption_state_suspended:before {
  background: #EA7F77;
  border: 1px solid #e8e8e8;
}

.bee-header-caption_state_suspended_with_border:before {
  background: #EA7F77;
  border: 2px solid orangered;
}

.bee-prj-Event-row-new {
  border-left-width: 3px;
  border-left-color: #1ca5c7;
  border-left-style: solid;
}