.bee-prj-chart-stage-row {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow: hidden;
}

.bee-prj-chart-stage-row-label{
	
}

.bee-prj-chart-stage-row-label:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-prj-chart-stage-flow {
	position: absolute;
  cursor: pointer;
  background-color: #d8e8ed;
}