.bee-svc-invoice-builder-wrapper,
.bee-svc-defect-builder-wrapper {
  margin: 1ex 1em;
  max-height: 400px;
  overflow: auto;
}
.bee-svc-invoice-builder-table,
.bee-svc-defect-builder-table {
  border-collapse: collapse;
}
.bee-svc-invoice-builder-table td,
.bee-svc-defect-builder-table td {
  padding: 3px 1em;
  border: 1px solid #ccc;
}

.bee-svc-invoice-builder-quantity,
.bee-svc-invoice-builder-price,
.bee-svc-invoice-builder-amount,
.bee-svc-defect-builder-quantity,
.bee-svc-defect-builder-price,
.bee-svc-defect-builder-amount {
  text-align: right;
}

.bee-svc-invoice-builder-commands,
.bee-svc-defect-builder-commands {
  margin: 1ex 1em;
  text-align: right;
}

.bee-svc-calendar-company-panel {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow: hidden;
}

.bee-svc-calendar-filter-actionsGroup {
	margin-top: 2px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

.bee-svc-calendar-filter-actionClear {
  margin-left: 2em;
}

.bee-svc-calendar-filter-data-caption {
  height: 35px;
  font-weight: bold;
  text-align: center;
}

.bee-svc-calendar-filter-data-commandAll {
  -webkit-filter: grayscale(50%);
}

.bee-svc-calendar-filter-data-controls {
  position: absolute;
  left: 0;
  right: 2px;
  height: 16px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
}

.bee-svc-calendar-filter-data-item {
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.bee-svc-calendar-filter-data-item:hover {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

.bee-svc-calendar-filter-data-itemContainer {
  position: absolute;
  left: 1px;
  right: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bee-svc-calendar-filter-data-panel {
  overflow: hidden;
}

.bee-svc-calendar-filter-data-search {
  position: absolute;
  left: 1px;
  right: 1px;
  top: calc(50% + 25px);
}

.bee-svc-calendar-filter-data-selected.bee-svc-calendar-filter-data-controls {
  top: calc(50% + 48px);
  bottom: 0;
}

.bee-svc-calendar-filter-data-selected.bee-svc-calendar-filter-data-itemContainer {
  top: calc(50% + 70px);
  bottom: 0;
}

.bee-svc-calendar-filter-data-size {
  font-weight: bold;
  margin-right: 3px;
}

.bee-svc-calendar-filter-data-unselected.bee-svc-calendar-filter-data-itemContainer {
  top: 36px;
  bottom: 50%;
}

.bee-svc-calendar-filter-data-unselected.bee-svc-calendar-filter-data-controls {
  top: calc(50% + 4px);
  bottom: 0;
}

.bee-svc-calendar-filter-data-wrapper {
  overflow: auto;
}

.bee-svc-calendar-info-panel {
  position: absolute;
  overflow: auto;
}
.bee-svc-calendar-company-label:hover,
.bee-svc-calendar-info-label:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-svc-calendar-task-panel,
.bee-svc-calendar-rt-panel,
.bee-svc-calendar-date-panel {
  position: absolute;
  cursor: pointer;
}

.bee-svc-calendar-company-row-sep,
.bee-svc-calendar-info-row-sep {
  position: absolute;
  height: 1px;
  background-color: #ddd;
}

.bee-svc-calendar-task-starred {
  background-repeat: space;
}

.bee-svc-build-command[disabled] {
  visibility: hidden;
}
.bee-svc-build-invoice-disabled .bee-grid-ObjectInvoices .bee-Action-add,
.bee-svc-build-defect-disabled .bee-grid-ObjectDefects .bee-Action-add {
  visibility: hidden;
}

.bee-form-PrintServiceDefect .bee-co-companyInfo-name .bee-co-companyInfo-item {
  font-weight: normal;
}

.bee-svc-print-defect-items-table {
  border-collapse: collapse;
}
.bee-svc-print-defect-items-header,
.bee-svc-print-defect-items-body,
.bee-svc-print-defect-items-footer {
  border: 1px solid #aaa;
  padding-left: 8px;
  padding-right: 8px;
}
.bee-svc-print-defect-items-header {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.bee-svc-print-defect-items-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bee-svc-print-defect-items-body.bee-svc-print-defect-item-ordinal,
.bee-svc-print-defect-items-body.bee-svc-print-defect-item-unit {
  text-align: center;
}
.bee-svc-print-defect-items-body.bee-svc-print-defect-item-quantity,
.bee-svc-print-defect-items-body.bee-svc-print-defect-item-price {
  text-align: right;
}
.bee-svc-print-defect-items-footer {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bee-svc-print-companies td {
  vertical-align: top;
  padding-left: 15px;
}

.bee-svc-print-company-bank {
  white-space: pre-line;
}

.bee-svc-print-company-code,
.bee-svc-print-company-vat-code {
  white-space: nowrap;
}

.bee-svc-print-company-name {
  font-size: 11pt;
  font-weight: bolder;
}

.bee-svc-print-company-separator {
  height: 5px;
}

.bee-svc-print-defect-items-total-value {
  text-align: right;
}

.bee-svc-print-dispenser {
  margin-right: 10px;
}

.bee-svc-print-document-id {
  text-align: right;
  margin-top: 3px;
}

.bee-svc-print-document-footer {
  page-break-inside: avoid;
}

.bee-svc-print-document-number {
  font-family: Tahoma;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.bee-svc-print-document-title {
  font-family: Tahoma;
  font-size: 16pt;
  font-style: italic;
  text-align: center;
}

.bee-trade-print-items-header td {
  font-weight: bolder;
  text-align: center;
  padding: 5px 5px;
  border: 1px solid #ccc;
}

.bee-trade-print-item-ordinal,
.bee-trade-print-item-name,
.bee-trade-print-item-article,
.bee-trade-print-item-quantity,
.bee-trade-print-item-unit,
.bee-trade-print-item-price,
.bee-trade-print-item-amount,
.bee-trade-print-items-total-label,
.bee-trade-print-items-total-value {
  padding: 2px 5px;
  border: 1px solid #ccc;
}

.bee-trade-print-item-quantity,
.bee-trade-print-item-price,
.bee-trade-print-item-amount,
.bee-trade-print-items-total-label,
.bee-trade-print-items-total-value {
  text-align: right;
}

.bee-trade-print-items-total-label,
.bee-trade-print-items-total-value {
  font-size: 11pt;
}

.bee-svc-print-notes {
  margin-top: 10px;
  white-space: pre-wrap;
}

.bee-svc-print-signature {
  margin-top: 15px;
}
.bee-svc-print-signature-label {
  text-align: center;
  font-size: 8pt;
  margin-top: -5px;
}

.bee-svc-print-term {
  margin-top: 10px;
  font-size: 11pt;
  font-weight: bold;
}

.bee-svc-print-words td,
.bee-svc-print-term td {
  padding-right: 7px;
}

.bee-svc-print-words-value {
  font-size: 11pt;
  font-style: italic;
  text-decoration: underline;
}

.bee-svc-tree-service .bee-svc-tree-expr-projects-count,
.bee-svc-tree-service .bee-svc-tree-expr-template-count,
.bee-svc-tree-service .bee-svc-tree-expr-potential-count,
.bee-svc-tree-service .bee-svc-tree-expr-lost-count, 
.bee-svc-tree-service .bee-svc-tree-expr-all-count{
  display: none;
}

.bee-svc-tree-lost .bee-svc-tree-expr-service-count,
.bee-svc-tree-lost .bee-svc-tree-expr-template-count,
.bee-svc-tree-lost .bee-svc-tree-expr-projects-count,
.bee-svc-tree-lost .bee-svc-tree-expr-potential-count,
.bee-svc-tree-lost .bee-svc-tree-expr-all-count {
  display: none;
}

.bee-svc-tree-project .bee-svc-tree-expr-service-count,
.bee-svc-tree-project .bee-svc-tree-expr-template-count,
.bee-svc-tree-project .bee-svc-tree-expr-potential-count,
.bee-svc-tree-project .bee-svc-tree-expr-lost-count,
.bee-svc-tree-project .bee-svc-tree-expr-all-count{
  display: none;
}

.bee-svc-tree-potential .bee-svc-tree-expr-service-count,
.bee-svc-tree-potential .bee-svc-tree-expr-template-count,
.bee-svc-tree-potential .bee-svc-tree-expr-lost-count,
.bee-svc-tree-potential .bee-svc-tree-expr-projects-count,
.bee-svc-tree-potential .bee-svc-tree-expr-all-count{
  display: none;
}

.bee-svc-tree-template .bee-svc-tree-expr-service-count,
.bee-svc-tree-template .bee-svc-tree-expr-projects-count,
.bee-svc-tree-template .bee-svc-tree-expr-potential-count,
.bee-svc-tree-template .bee-svc-tree-expr-lost-count {
  display: none;
}

.bee-svc-tree-all .bee-svc-tree-expr-service-count,
.bee-svc-tree-all .bee-svc-tree-expr-projects-count,
.bee-svc-tree-all .bee-svc-tree-expr-lost-count,
.bee-svc-tree-all .bee-svc-tree-expr-potential-count{
.bee-svc-tree-all .bee-svc-tree-expr-template-count,
  display: none;
}

.bee-svc-tree-expr-service-count {

}

.bee-svc-tree-expr-projects-count {

}

.bee-svc-tree-expr-potential-count {

}

.bee-svc-tree-expr-lost-count {

}

.bee-svc-tree-expr-template-count {

}

