.bee-svc-invoice-builder-wrapper {
  margin: 1ex 1em;
  max-height: 400px;
  overflow: auto;
}
.bee-svc-invoice-builder-table {
  border-collapse: collapse;
}
.bee-svc-invoice-builder-table td {
  padding: 3px 1em;
  border: 1px solid #ccc;
}

.bee-svc-invoice-builder-quantity,
.bee-svc-invoice-builder-price,
.bee-svc-invoice-builder-amount {
  text-align: right;
}

.bee-svc-invoice-builder-commands {
  margin: 1ex 1em;
  text-align: right;
}
