.bee-ta-command-disabled {
  visibility: hidden;
}

.bee-ta-form-edit .bee-ta-template-selection {
  display: none;
}
.bee-ta-form-no-services .bee-ta-until-label,
.bee-ta-form-no-services .bee-ta-until-input,
.bee-ta-form-no-services .bee-ta-services-tab,
.bee-ta-form-no-services .bee-grid-TradeActServices {
  display: none;
}

.bee-ta-picker-search-panel {
  margin: 1ex 0 2ex 3em;
}
.bee-ta-picker-search-box {
  margin-left: 1em;
}
.bee-ta-picker-search-command {
  display: inline-block;
  margin-left: 1em;
}

.bee-ta-picker-item-panel {
  max-height: 70vh;
  overflow: auto;
}
.bee-ta-picker-item-table {
  border-collapse: collapse;
  table-layout: fixed;
}
.bee-ta-picker-header td {
  text-align: center;
  padding: 3px 5px;
  font-weight: bold;
}
.bee-ta-picker-price-label {
  max-width: 80px;
}

.bee-ta-picker-item:nth-child(odd) {
  background-color: #f5f5f5;
}
.bee-ta-picker-item:nth-child(even) {
  background-color: #ebebeb;
}
.bee-ta-picker-item:hover {
  background-color: #dfd;
}
.bee-ta-picker-item td {
  padding: 2px 5px;
  border: 1px solid #ddd;
}

.bee-ta-picker-id-cell,
.bee-ta-picker-price-cell,
.bee-ta-picker-stock-cell {
  text-align: right;
}

.bee-ta-picker-type-cell,
.bee-ta-picker-group-cell {
  white-space: pre-line;
}

.bee-ta-picker-qty-input {
  width: 60px;
  text-align: right;
}
