.bee-ta-command-disabled {
  visibility: hidden;
}

.bee-ta-form-edit .bee-ta-template-selection {
  display: none;
}
.bee-ta-form-no-services .bee-ta-until-label,
.bee-ta-form-no-services .bee-ta-until-input,
.bee-ta-form-no-services .bee-ta-services-tab,
.bee-ta-form-no-services .bee-grid-TradeActServices {
  display: none;
}