.bee-trade-itemsInfo-table {
  border-collapse: collapse;
}

.bee-trade-itemsInfo-table td {
  padding: 2px 5px 2px 5px;
}

.bee-trade-itemsInfo-header td {
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.bee-trade-itemsInfo-data td {
  border-bottom: 1px solid silver;
}

.bee-trade-itemsInfo-Quantity,
.bee-trade-itemsInfo-Price,
.bee-trade-itemsInfo-Vat,
.bee-trade-itemsInfo-Amount,
.bee-trade-itemsInfo-Rate,
.bee-trade-itemsInfo-RateAmount,
.bee-trade-itemsInfo-QuantityTotal,
.bee-trade-itemsInfo-AmountTotal,
.bee-trade-itemsInfo-VatTotal,
.bee-trade-itemsInfo-Total,
.bee-trade-itemsInfo-RateAmountTotal,
.bee-trade-itemsInfo-RateVatTotal,
.bee-trade-itemsInfo-RateTotal {
  text-align: right;
}

.bee-trade-itemsInfo-data .bee-trade-itemsInfo-Quantity,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-Price,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-Vat,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-Amount,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-Rate,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-RateAmount,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-QuantityTotal,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-AmountTotal,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-VatTotal,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-Total,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-RateAmountTotal,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-RateVatTotal,
.bee-trade-itemsInfo-data .bee-trade-itemsInfo-RateTotal {
  white-space: nowrap;
}

.bee-trade-print-document-title {
  font-family: Tahoma;
  font-size: 16pt;
  font-style: italic;
  text-align: center;
}
.bee-trade-print-document-number {
  font-family: Tahoma;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.bee-trade-print-document-id {
  text-align: right;
  margin-top: 3px;
}

.bee-trade-print-document table {
  border-collapse: collapse;
}

.bee-trade-print-companies td {
  vertical-align: top;
  padding-left: 15px;
}
.bee-trade-print-company-name {
  font-size: 11pt;
  font-weight: bolder;
}
.bee-trade-print-company-code,
.bee-trade-print-company-vat-code {
  white-space: nowrap;
}
.bee-trade-print-company-bank {
  white-space: pre-line;
}
.bee-trade-print-company-separator {
  height: 5px;
}

.bee-trade-print-items {
  margin-top: 5px;
}

.bee-trade-print-items-header td {
  font-weight: bolder;
  text-align: center;
  padding: 5px 5px;
  border: 1px solid #ccc;
}

.bee-trade-print-item-ordinal,
.bee-trade-print-item-name,
.bee-trade-print-item-article,
.bee-trade-print-item-quantity,
.bee-trade-print-item-unit,
.bee-trade-print-item-price,
.bee-trade-print-item-amount,
.bee-trade-print-items-total-label,
.bee-trade-print-items-total-value {
  padding: 2px 5px;
  border: 1px solid #ccc;
}

.bee-trade-print-item-ordinal,
.bee-trade-print-item-unit {
  text-align: center
}
.bee-trade-print-item-quantity,
.bee-trade-print-item-price,
.bee-trade-print-item-amount,
.bee-trade-print-items-total-label,
.bee-trade-print-items-total-value {
  text-align: right;
}
.bee-trade-print-items-total-label,
.bee-trade-print-items-total-value {
  font-size: 11pt;
}

.bee-trade-print-document-footer {
  page-break-inside: avoid;
}

.bee-trade-print-words td,
.bee-trade-print-term td {
  padding-right: 7px;
}
.bee-trade-print-words-value {
  font-size: 11pt;
  font-style: italic;
  text-decoration: underline;
}

.bee-trade-print-term {
  margin-top: 10px;
  font-size: 11pt;
  font-weight: bold;
}

.bee-trade-print-notes {
  margin-top: 10px;
  white-space: pre-wrap;
}

.bee-trade-print-dispenser {
  margin-right: 10px;
}
.bee-trade-print-receiver {
  margin-left: 10px;
  margin-right: 10px;
}
.bee-trade-print-signature {
  margin-top: 15px;
}
.bee-trade-print-signature-label {
  text-align: center;
  font-size: 8pt;
  margin-top: -5px;
}

.bee-trade-document-phase-item {
  display: inline-block;
  box-sizing: border-box;
  width: 33.3%;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: white;
  color: #0099ff;
  font-size: 105%;
  font-weight: bolder;
  border: 1px solid #0099ff;
  cursor: pointer;
}
.bee-trade-document-phase-item-selected {
  background-color: #0099ff;
  color: white;
  cursor: default;
}

.bee-trade-document-phase-item:nth-child(2),
.bee-trade-document-phase-item:nth-child(3),
.bee-trade-document-phase-item:nth-child(5) {
  border-left: none;
}
.bee-trade-document-phase-item:nth-child(4),
.bee-trade-document-phase-item:nth-child(5) {
  border-top: none;
}

.bee-form-TradeDocument > .bee-Split > .bee-Splitter {
  box-sizing: border-box;
  background-color: transparent;
}
.bee-form-TradeDocument > .bee-Split > .bee-HSplitter {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bee-form-TradeDocument > .bee-Split > .bee-VSplitter {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.bee-trade-document-toggle {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: gray;
}
.bee-trade-document-toggle:hover {
  color: black;
}

.bee-trade-document-sum-hidable {
  display: none;
}
.bee-trade-document-sum-expanded .bee-trade-document-sum-hidable {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.bee-trade-expenditures-gen-build {
  display: block;
  margin: auto;
  cursor: pointer;
}
.bee-trade-expenditures-gen-link {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
.bee-trade-expenditures-gen-link:hover {
  color: #00e;
}

.bee-trade-document-new-item-selector td:nth-child(3),
.bee-trade-document-new-item-selector td:nth-child(5) {
  text-align: right;
}

.bee-grid-TradeDocumentItems.bee-GridContainer-no-data .bee-trade-price-calculation,
.bee-grid-TradeDocumentItems.bee-GridContainer-no-data .bee-trade-cost-calculation,
.bee-grid-TradeExpenditures.bee-GridContainer-no-data .bee-trade-cost-calculation {
  visibility: hidden;
}
.bee-Form-disabled .bee-trade-price-calculation,
.bee-Form-disabled .bee-trade-cost-calculation,
.bee-Form-disabled .bee-trade-fin-post {
  visibility: hidden;
}