.bee-tr-fx-Customer-panel,
.bee-tr-dtb-Driver-panel,
.bee-tr-vtb-Number-panel {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow: hidden;
}
.bee-tr-fx-Order-panel,
.bee-tr-ss-trip-Group-panel {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;  
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow: hidden;
}
.bee-tr-vtb-Info-panel {
  position: absolute;
  overflow: auto;
}

.bee-tr-fx-Customer-label,
.bee-tr-dtb-Driver-label {
  word-wrap: break-word;
  min-width: 100%;
}
.bee-tr-fx-Order-number,
.bee-tr-fx-Order-manager,
.bee-tr-ss-trip-Group-label,
.bee-tr-ss-trip-Group-trailer {
  word-wrap: break-word;
}

.bee-tr-fx-Customer-label:hover,
.bee-tr-fx-Order-number:hover,
.bee-tr-ss-trip-Group-label:hover,
.bee-tr-ss-trip-Group-trailer:hover,
.bee-tr-dtb-Driver-label:hover,
.bee-tr-vtb-Number-label:hover,
.bee-tr-vtb-Info-label:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-tr-dtb-Trip-panel,
.bee-tr-dtb-View .bee-timeboard-selector-strip {
  background-color: palegreen;
}

.bee-tr-dtb-Absence-panel {
  position: absolute;
  overflow: hidden;
}
.bee-tr-dtb-Absence-label {
  position: absolute;
  text-align: center;
}

.bee-tr-dtb-Inactive,
.bee-tr-vtb-Inactive {
  position: absolute;
  background-image: url(../images/checkered_background.png);
}

.bee-tr-ss-trip-Group-overlap,
.bee-tr-dtb-Driver-overlap,
.bee-tr-vtb-Number-overlap,
.bee-tr-vtb-Info-overlap {
  color: red;
}
.bee-tr-dtb-Overlap,
.bee-tr-vtb-Overlap {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 10px;
  pointer-events: none;
}

.bee-tr-fx-Item-drag,
.bee-tr-dtb-Driver-drag,
.bee-tr-vtb-Vehicle-drag,
.bee-tr-vtb-Trip-drag,
.bee-tr-vtb-Freight-drag {
  background-image: linear-gradient(to bottom, white, white);
  box-sizing: border-box;
  border: 2px inset darkgreen;
  color: black;
}

.bee-tr-fx-dragOver {
  background-color: lightpink;
}
.bee-tr-ss-trip-Group-dragOver,
.bee-tr-vtb-Vehicle-dragOver,
.bee-tr-vtb-Trip-dragOver,
.bee-tr-vtb-Freight-dragOver {
  outline: red dashed 2px;
}

.bee-tr-vtb-Service-panel {
  position: absolute;
  cursor: pointer;
  background-image: url(../images/checkered_background.png);
  overflow: hidden;
}
.bee-tr-vtb-Service-label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  display: none;
}

.bee-tr-fx-Item-panel,
.bee-tr-dtb-Trip-panel,
.bee-tr-vtb-Trip-panel,
.bee-tr-vtb-Freight-panel {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.bee-tr-dtb-Trip-void,
.bee-tr-vtb-Trip-void {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(330deg, rgba(211,211,211,1) 10px, rgba(211,211,211,0) 20px);
  pointer-events: none;
}

.bee-tr-dtb-Trip-info,
.bee-tr-vtb-Trip-info {
  position: absolute;
  left: 2%;
  top: 0;
  pointer-events: none;
}

.bee-tr-fx-Customer-row-sep,
.bee-tr-fx-Order-row-sep,
.bee-tr-ss-trip-Group-row-sep,
.bee-tr-dtb-Driver-row-sep,
.bee-tr-vtb-Vehicle-row-sep {
  position: absolute;
  height: 1px;
  background-color: #ddd;
}

.bee-tr-chart-shipment-day-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.bee-tr-chart-shipment-day-empty {
  background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}

.bee-tr-chart-shipment-day-flag {
  background-repeat: no-repeat;
  background-position: center;
}

.bee-tr-chart-shipment-day-label {
  font-size: smaller;
  line-height: 12px;
  overflow: hidden;
  word-wrap: break-word;
}

.bee-places-table {
  border-spacing: 0;
  font-size: smaller;
  line-height: initial;
}
.bee-places-table td {
  padding-top: 0px !important;
}
.bee-places-caption {
  text-align: right;
  font-weight: bold;
  padding-right: 3px;
}

.bee-tr-chart-filter-data-wrapper {
  overflow: auto;
}
.bee-tr-chart-filter-data-panel {
  overflow: hidden;
}

.bee-tr-chart-filter-data-caption {
  height: 35px;
  font-weight: bold;
  text-align: center;
}

.bee-tr-chart-filter-data-unselected.bee-tr-chart-filter-data-itemContainer {
  top: 36px;
  bottom: 50%; 
}

.bee-tr-chart-filter-data-unselected.bee-tr-chart-filter-data-controls {
  top: calc(50% + 4px);
  bottom: 0; 
}

.bee-tr-chart-filter-data-search {
  position: absolute;
  left: 1px;
  right: 1px;
  top: calc(50% + 25px);
}

.bee-tr-chart-filter-data-selected.bee-tr-chart-filter-data-controls {
  top: calc(50% + 48px);
  bottom: 0; 
}

.bee-tr-chart-filter-data-selected.bee-tr-chart-filter-data-itemContainer {
  top: calc(50% + 70px);
  bottom: 0; 
}

.bee-tr-chart-filter-data-controls {
  position: absolute;
  left: 0;
  right: 2px;
  height: 16px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
}

.bee-tr-chart-filter-data-itemContainer {
  position: absolute;
  left: 1px;
  right: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bee-tr-chart-filter-data-item {
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}
.bee-tr-chart-filter-data-item:hover {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

.bee-tr-chart-filter-data-size {
  font-weight: bold;
  margin-right: 3px;
}
.bee-tr-chart-filter-data-commandAll {
  filter: grayscale(50%);
}

.bee-tr-chart-filter-savedContainer {
  margin-top: 2px;
  height: 30px;
  overflow: auto;
}
.bee-tr-chart-filter-savedItem {
  display: inline-block;
  margin-left: 2em;
}

.bee-tr-chart-filter-savedInitial {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.bee-tr-chart-filter-savedInitial-checked {
  background-color: #1eb2d8;
  border-color: #1eb2d8;
}

.bee-tr-chart-filter-savedLabel {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
.bee-tr-chart-filter-savedLabel:hover {
  color: #00e;
  text-decoration: underline;
}

.bee-tr-chart-filter-savedRemove {
  display: inline-block;
  margin-left: 5px;
  font-size: larger;
  cursor: pointer;
}
.bee-tr-chart-filter-savedRemove:hover {
  color: red;
}

.bee-tr-chart-filter-commandGroup {
  margin-top: 2px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
.bee-tr-chart-filter-commandGroup > button:not(:first-child) {
  margin-left: 2em;
}

.bee-tr-chart-filter-configure-item {
  display: block;
  margin-top: 5px;
}

.bee-tr-SelfService-screen .bee-MainCommandPanel {
  left: 160px;
}
.bee-tr-SelfService-shell {
  width: 100%;
  height: 99%;
}

.bee-tr-aqr-table,
.bee-tr-atr-table {
  border-collapse: collapse;
}

.bee-tr-aqr-header,
.bee-tr-atr-header,
.bee-tr-aqr-header-1,
.bee-tr-atr-header-1,
.bee-tr-aqr-header-2,
.bee-tr-atr-header-2 {
  font-weight: bold;
  text-align: center;
  padding: 2px 3px;
  border: 1px solid #ccc;
}

.bee-tr-aqr-details:nth-child(odd),
.bee-tr-atr-details:nth-child(odd) {
  background-color: #fbfbfb;
}
.bee-tr-aqr-details:nth-child(even),
.bee-tr-atr-details:nth-child(even) {
  background-color: #f5f5f5;
}
.bee-tr-aqr-details:hover,
.bee-tr-atr-details:hover {
  background-color: #e1e1e1;
}

.bee-tr-aqr-details td,
.bee-tr-atr-details td {
  padding: 2px 5px;
  border: 1px solid #ccc;
}

.bee-tr-aqr-quantity,
.bee-tr-aqr-percent,
.bee-tr-atr-positive,
.bee-tr-atr-negative {
  text-align: right;
}
.bee-tr-aqr-details .bee-tr-aqr-quantity:not(:empty):hover,
.bee-tr-aqr-details .bee-tr-aqr-percent:not(:empty):hover {
  color: #00e;
  text-decoration: underline;
  cursor: pointer;
}
.bee-tr-atr-details {
  cursor: pointer;
}

.bee-tr-atr-amount {
  white-space: nowrap;
}
.bee-tr-atr-negative {
  color: red;
}
.bee-tr-atr-growth.bee-tr-atr-positive {
  color: darkgreen;
}
.bee-tr-atr-growth {
  font-style: italic;
}

.bee-tr-aqr-summary td,
.bee-tr-atr-summary td {
  font-weight: bold;
  font-size: medium;
  padding: 2px 5px;
}

.bee-tr-input-mode-toggle {
  font-size: large;
  cursor: pointer;
  color: #414142;
}
.bee-tr-input-mode-partial,
.bee-tr-input-mode-full {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
 }
.bee-tr-input-mode-active {
  font-weight: bolder;
  cursor: auto;
}