.bee-tr-chart-Canvas {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.bee-tr-chart-Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bee-tr-chart-ScrollArea {
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
}

.bee-tr-chart-Content {
  position: relative;
}

.bee-tr-chart-Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bee-tr-chart-HeaderSplitter,
.bee-tr-chart-FooterSplitter {
  right: 0;
}

.bee-tr-chart-row-sep {
  position: absolute;
  height: 1px;
  background-color: #ddd;
}

.bee-tr-chart-Selector-panel {
  position: absolute;
  top: 0;
  bottom: 0;
}
.bee-tr-chart-Selector-strip {
  position: absolute;
}

.bee-tr-chart-Selector-startSlider-label,
.bee-tr-chart-Selector-endSlider-label {
  position: absolute;
  padding: 2px;
  margin-bottom: 2px;
  background-color: WhiteSmoke;
  color: #222;
  border: 1px solid #ccc;
}

.bee-tr-chart-Selector-startSlider,
.bee-tr-chart-Selector-endSlider {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #888, #ccc, #888);
  cursor: col-resize;
}

.bee-tr-chart-Selector-mover {
  position: absolute;
  top: 0; 
  bottom: 0;
  cursor: move;
  background-color: rgba(0, 0, 255, 0.1);
}

.bee-tr-chart-daySeparator,
.bee-tr-chart-monthSeparator,
.bee-tr-chart-rightSeparator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
}
.bee-tr-chart-daySeparator {
  background-color: #ddd;
}
.bee-tr-chart-monthSeparator {
  background-color: #888;
}
.bee-tr-chart-rightSeparator {
  background-color: #888;
}

.bee-tr-chart-dayLabel,
.bee-tr-chart-dayNarrow,
.bee-tr-chart-dayPicture {
  position: absolute;
  top: 0;
  bottom: 0;
}
.bee-tr-chart-dayLabel {
  text-align: center;
}

.bee-tr-chart-dayNarrow > * {
  position: absolute;
  left: 0;
  font-size: 12px;
  line-height: 12px;
}
.bee-tr-chart-dayNarrow-tens {
  top: 0;
}
.bee-tr-chart-dayNarrow-ones {
  bottom: 0;
}

.bee-tr-chart-dayPicture {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-content: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.bee-tr-chart-dayPicture-tens {
  background-color: #888;
}
.bee-tr-chart-dayPicture-ones {
  background-color: #ccc;
}

.bee-tr-chart-visibleRange-panel,
.bee-tr-chart-maxRange-panel {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
}

.bee-tr-chart-visibleRange-start:hover,
.bee-tr-chart-visibleRange-end:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-tr-chart-dayBackground {
  position: absolute;
  top: 0;
}

.bee-tr-chart-past {
  background-color: #e8e8e8;
}
.bee-tr-chart-today {
  background-color: #f1f1f1;
}
.bee-tr-chart-weekend {
  background-color: #f8f8f8;
}

.bee-tr-chart-horizontalMover {
  position: absolute;
  top: 0;
  width: 1px;
  background-color: #ccc;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  cursor: col-resize;
}
.bee-tr-chart-verticalMover {
  position: absolute;
  left: 0;
  height: 1px;
  background-color: #ccc;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  cursor: row-resize;
}

.bee-tr-fx-Customer-panel,
.bee-tr-fx-Order-panel,
.bee-tr-dtb-Driver-panel,
.bee-tr-vtb-Number-panel {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow: hidden;
}
.bee-tr-ss-trip-Group-panel {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;  
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  overflow: hidden;
}
.bee-tr-vtb-Info-panel {
  position: absolute;
  overflow: auto;
}

.bee-tr-fx-Customer-label,
.bee-tr-fx-Order-label,
.bee-tr-dtb-Driver-label {
  word-wrap: break-word;
  min-width: 100%;
}
.bee-tr-ss-trip-Group-label,
.bee-tr-ss-trip-Group-trailer {
  word-wrap: break-word;
}

.bee-tr-fx-Customer-label:hover,
.bee-tr-fx-Order-label:hover,
.bee-tr-ss-trip-Group-label:hover,
.bee-tr-ss-trip-Group-trailer:hover,
.bee-tr-dtb-Driver-label:hover,
.bee-tr-vtb-Number-label:hover,
.bee-tr-vtb-Info-label:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-tr-dtb-Trip-panel,
.bee-tr-dtb-View .bee-tr-chart-Selector-strip {
  background-color: palegreen;
}

.bee-tr-dtb-Absence-panel {
  position: absolute;
  overflow: hidden;
}
.bee-tr-dtb-Absence-label {
  position: absolute;
  text-align: center;
}

.bee-tr-dtb-Inactive,
.bee-tr-vtb-Inactive {
  position: absolute;
  background-image: url(../images/checkered_background.png);
}

.bee-tr-ss-trip-Group-overlap,
.bee-tr-dtb-Driver-overlap,
.bee-tr-vtb-Number-overlap,
.bee-tr-vtb-Info-overlap {
  color: red;
}
.bee-tr-dtb-Overlap,
.bee-tr-vtb-Overlap {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 2px solid red;
  border-radius: 10px;
  pointer-events: none;
}

.bee-tr-fx-Item-drag,
.bee-tr-dtb-Driver-drag,
.bee-tr-vtb-Vehicle-drag,
.bee-tr-vtb-Trip-drag,
.bee-tr-vtb-Freight-drag {
  background-image: linear-gradient(to bottom, white, white);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 2px inset darkgreen;
  color: black;
}

.bee-tr-ss-trip-Group-dragOver,
.bee-tr-vtb-Vehicle-dragOver,
.bee-tr-vtb-Trip-dragOver,
.bee-tr-vtb-Freight-dragOver {
  outline: red dashed 2px;
}

.bee-tr-vtb-Service-panel {
  position: absolute;
  cursor: pointer;
  background-image: url(../images/checkered_background.png);
  overflow: hidden;
}
.bee-tr-vtb-Service-label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  display: none;
}

.bee-tr-fx-Item-panel,
.bee-tr-dtb-Trip-panel,
.bee-tr-vtb-Trip-panel,
.bee-tr-vtb-Freight-panel {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.bee-tr-chart-item-start {
  border-top-left-radius: 6px 50%;
  border-bottom-left-radius: 6px 50%;
}
.bee-tr-chart-item-end {
  border-top-right-radius: 6px 50%;
  border-bottom-right-radius: 6px 50%;
}

.bee-tr-chart-item-hasHandling {
  background-image: repeating-linear-gradient(90deg, rgba(211,211,211,1) 10px, rgba(211,211,211,0) 20px);
}

.bee-tr-dtb-Trip-void,
.bee-tr-vtb-Trip-void {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(330deg, rgba(211,211,211,1) 10px, rgba(211,211,211,0) 20px);
  pointer-events: none;
}

.bee-tr-fx-Customer-row-sep,
.bee-tr-fx-Order-row-sep,
.bee-tr-ss-trip-Group-row-sep,
.bee-tr-dtb-Driver-row-sep,
.bee-tr-vtb-Vehicle-row-sep {
  position: absolute;
  height: 1px;
  background-color: #ddd;
}

.bee-tr-chart-shipment-day-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.bee-tr-chart-shipment-day-empty {
  background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}

.bee-tr-chart-shipment-day-flag {
  background-repeat: no-repeat;
  background-position: center;
}

.bee-tr-chart-shipment-day-label {
  font-size: smaller;
  line-height: 12px;
  overflow: hidden;
  word-wrap: break-word;
}

.bee-places-table {
  border-spacing: 0;
}
.bee-places-caption {
  text-align: right;
  font-weight: bold;
  padding-right: 3px;
}

.bee-tr-chart-filterLabel {
  color: #00a;
  padding-right: 10px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bee-tr-chart-actionRemoveFilter {
  font-size: 17px;
}
.bee-tr-chart-actionRemoveFilter:hover {
  color: red;
  cursor: pointer;
}

.bee-tr-chart-filter-data-wrapper {
  overflow: auto;
}
.bee-tr-chart-filter-data-panel {
  overflow: hidden;
}

.bee-tr-chart-filter-data-caption {
  height: 35px;
  font-weight: bold;
  text-align: center;
}

.bee-tr-chart-filter-data-unselected.bee-tr-chart-filter-data-itemContainer {
  top: 36px;
  bottom: 50%; 
}

.bee-tr-chart-filter-data-unselected.bee-tr-chart-filter-data-controls {
  top: calc(50% + 4px);
  bottom: 0; 
}

.bee-tr-chart-filter-data-search {
  position: absolute;
  left: 1px;
  right: 1px;
  top: calc(50% + 25px);
}

.bee-tr-chart-filter-data-selected.bee-tr-chart-filter-data-controls {
  top: calc(50% + 48px);
  bottom: 0; 
}

.bee-tr-chart-filter-data-selected.bee-tr-chart-filter-data-itemContainer {
  top: calc(50% + 70px);
  bottom: 0; 
}

.bee-tr-chart-filter-data-controls {
  position: absolute;
  left: 0;
  right: 2px;
  height: 16px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
}

.bee-tr-chart-filter-data-itemContainer {
  position: absolute;
  left: 1px;
  right: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bee-tr-chart-filter-data-item {
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}
.bee-tr-chart-filter-data-item:hover {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

.bee-tr-chart-filter-data-size {
  font-weight: bold;
  margin-right: 3px;
}
.bee-tr-chart-filter-data-commandAll {
  -webkit-filter: grayscale(50%);
}

.bee-tr-chart-filter-commandGroup {
  margin-top: 2px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
.bee-tr-chart-filter-commandClear {
  margin-left: 2em;
}

.bee-tr-SelfService-screen .bee-MainCommandPanel {
  left: 160px;
}
.bee-tr-SelfService-shell {
  width: 100%;
  height: 99%;
}
