.bee-ec-NorthContainer {
  background-image: url(bg-header.jpg);
  background-repeat: no-repeat;
  background-color: black;
}

.bee-ec-Logo {
  margin-left: 30px;
  margin-top: 50px;
  max-width: none;
}

.bee-ec-GlobalSearch-container .bee-ec-GlobalSearch-input {
  background-color: transparent;
  color: #ec373f;
  border: 1px solid #ec373f;
  border-top: 1px solid #ec373f;
  box-shadow: none;
}
.bee-ec-GlobalSearch-container .bee-ec-GlobalSearch-input:focus {
  outline-color: #ec373f;
  background-color: #333;
}

.bee-ec-GlobalSearch-input::-webkit-input-placeholder {
  color: #ec373f;
  font-size: small;
  text-align: center;
}
.bee-ec-GlobalSearch-input::-moz-placeholder {
  color: #ec373f;
  font-size: small;
  opacity: 1;
}
.bee-ec-GlobalSearch-input:-ms-input-placeholder {
  color: #ec373f;
  font-size: small;
  text-align: center;
}

.bee-UserExit:hover {
  color: #ec373f;
}

.bee-ec-Command-link,
.bee-UserSignature {
  color: #ec373f;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}
.bee-ec-Command-link-active {
  color: white !important;
}

.bee-ec-commandPanel-searchBy {
  left: 60px;
}
.bee-ec-commandPanel-searchBy td {
  padding: 0;
}

.bee-ec-searchBy-label {
  color: #ccc;
  padding-right: 1em;
}

.bee-ec-Command-label {
  background-image: url(raudonas_fonas.png);
  padding: 8px 1em;
}
.bee-ec-Command-label:hover {
  text-decoration: underline;
}
.bee-ec-Command-label-active {
  background-image: none;
  background-color: #5b1215 !important;
}

.bee-ec-Command-searchByItemCode {
  padding-left: 2em;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
.bee-ec-Command-searchByItemCode,
.bee-ec-Command-searchByOeNumber,
.bee-ec-Command-searchByCar,
.bee-ec-Command-searchByBrand,
.bee-ec-Command-generalItems {
  border-right: 1px dashed #aaa;
}
.bee-ec-Command-generalItems {
  margin-left: 0;
}
.bee-ec-Command-bikeItems {
  padding-right: 2em;
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}
