<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <root>
    <priority value ="DEBUG" />
    <appender-ref ref="consoleLogger" />
    <appender-ref ref="debugLogger" />
    <appender-ref ref="infoLogger" />
    <appender-ref ref="warningLogger" />
    <appender-ref ref="errorLogger" />
  </root>

  <appender name="consoleLogger" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss.SSS}: %m%n"/>
    </layout>
    <param name="Threshold" value="INFO" />
  </appender>

  <appender name="debugLogger" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="debug.log" />
    <param name="DatePattern" value="_yyyy-MM(W)" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p: %l - %m%n" />
    </layout>
    <param name="Threshold" value="DEBUG" />
  </appender>

  <appender name="infoLogger" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="info.log" />
    <param name="DatePattern" value="_yyyy-MM(W)" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}: %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter" >
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="INFO" />
      <param name="AcceptOnMatch" value="true" />
    </filter>		
  </appender>

  <appender name="warningLogger" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="warning.log" />
    <param name="DatePattern" value="_yyyy-MM(W)" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}: %l - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter" >
      <param name="LevelMin" value="WARN" />
      <param name="LevelMax" value="WARN" />
      <param name="AcceptOnMatch" value="true" />
    </filter>		
  </appender>

  <appender name="errorLogger" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="error.log" />
    <param name="DatePattern" value="_yyyy-MM(W)" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}: %l - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter" >
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="ERROR" />
      <param name="AcceptOnMatch" value="true" />
    </filter>		
  </appender>
</log4j:configuration>
