<?xml version = "1.0" encoding="UTF-8" standalone="yes"?>
<BeeMenu>
  <item id="ref_menu" order="10" text="Žinynai" />
  <item id="miestai" parent="ref_menu" order="20" text="Miestai" service="grid" parameters="Cities" />
  <item id="salys" parent="ref_menu" order="30" text="Šalys" service="grid" parameters="Countries" />

  <item id="cont_menu" order="20" text="Kontaktai" />
  <item id="clients" parent="cont_menu" order="10" text="Klientai" service="grid" parameters="Companies" />
  <item id="persons" parent="cont_menu" order="20" text="Asmenys" service="grid" parameters="Persons" separators="*" />

  <item id="task_menu" order="30" text="Užduotys" />
  <item id="assigned_tasks" parent="task_menu" order="10" text="Gautos" service="task_list" parameters="a" />
  <item id="delegated_tasks" parent="task_menu" order="20" text="Deleguotos" service="task_list" parameters="d" />
  <item id="observed_tasks" parent="task_menu" order="30" text="Stebimos" service="task_list" parameters="o" />
  <item id="duration_types" parent="task_menu" order="100" text="Darbų tipai" service="grid" parameters="DurationTypes" separators="*" />

  <item id="project_menu" order="40" text="Projektai" />
  <item id="controled_projects" parent="project_menu" order="10" text="Valdomi" service="project_list" parameters="c" />
  <item id="observed_projects" parent="project_menu" order="20" text="Stebimi" service="project_list" parameters="o" />
  <item id="project_types" parent="project_menu" order="100" text="Projektų tipai" service="grid" parameters="ProjectTypes" separators="*" />

  <item id="process_menu" order="50" text="Procesai" />
  <item id="tasks" parent="process_menu" order="10" text="Užduotys" service="grid" parameters="Tasks" />
  <item id="projects" parent="process_menu" order="20" text="Projektai" service="grid" parameters="Projects" />

  <item id="adm_menu" order="200" text="Administravimas" />
  <item id="roles" parent="adm_menu" order="10" text="Rolės" service="grid" parameters="Roles" />
  <item id="users" parent="adm_menu" order="20" text="Vartotojai" service="grid" parameters="Users" />
</BeeMenu>
