<?xml version = "1.0" encoding="UTF-8" standalone="yes"?>
<BeeMenu>
  <item id="ref_menu" order="10" text="Žinynai" />
  <item id="goods" parent="ref_menu" order="10" text="Prekės" service="items" parameters="g" />
  <item id="services" parent="ref_menu" order="20" text="Paslaugos" service="items" parameters="s" />
  <item id="categories" parent="ref_menu" order="30" text="Prekių kategorijos" service="form" parameters="CategoryTree" separators="*" />
  <item id="units" parent="ref_menu" order="40" text="Mato vienetai" service="grid" parameters="Units" separators="*" />
  <item id="currencies" parent="ref_menu" order="50" text="Valiutos" service="grid" parameters="Currencies" separators="*" />
  <item id="cities" parent="ref_menu" order="60" text="Miestai" service="grid" parameters="Cities" separators="*" />
  <item id="countries" parent="ref_menu" order="70" text="Šalys" service="grid" parameters="Countries" />

  <item id="cont_menu" order="20" text="Kontaktai" />
  <item id="clients" parent="cont_menu" order="10" text="Klientai" service="grid" parameters="Companies" />
  <item id="persons" parent="cont_menu" order="20" text="Asmenys" service="grid" parameters="Persons" separators="*" />

  <item id="task_menu" order="30" text="Užduotys" />
  <item id="assigned_tasks" parent="task_menu" order="10" text="Gautos" service="task_list" parameters="a" />
  <item id="delegated_tasks" parent="task_menu" order="20" text="Deleguotos" service="task_list" parameters="d" />
  <item id="observed_tasks" parent="task_menu" order="30" text="Stebimos" service="task_list" parameters="o" />
  <item id="duration_types" parent="task_menu" order="100" text="Darbų tipai" service="grid" parameters="DurationTypes" separators="*" />

  <item id="project_menu" order="40" text="Projektai" />
  <item id="controled_projects" parent="project_menu" order="10" text="Valdomi" service="project_list" parameters="c" />
  <item id="observed_projects" parent="project_menu" order="20" text="Stebimi" service="project_list" parameters="o" />
  <item id="project_types" parent="project_menu" order="100" text="Projektų tipai" service="grid" parameters="ProjectTypes" separators="*" />

  <item id="process_menu" order="50" text="Procesai" />
  <item id="tasks" parent="process_menu" order="10" text="Užduotys" service="grid" parameters="Tasks" />
  <item id="projects" parent="process_menu" order="20" text="Projektai" service="grid" parameters="Projects" />

  <item id="doc_menu" order="60" text="Dokumentai" />
  <item id="documents" parent="doc_menu" order="10" text="Dokumentai" service="grid" parameters="Documents" />
  <item id="doc_tree" parent="doc_menu" order="20" text="Kategorijos" service="form" parameters="DocumentTree" separators="*" />
  <item id="doc_types" parent="doc_menu" order="30" text="Tipai" service="grid" parameters="DocumentTypes" separators="*" />
  <item id="doc_types" parent="doc_menu" order="40" text="Grupės" service="grid" parameters="DocumentGroups" />
  <item id="doc_types" parent="doc_menu" order="50" text="Vietos" service="grid" parameters="DocumentPlaces" />

  <item id="transport_menu" order="70" text="Transportas" />
  <item id="orders" parent="transport_menu" order="10" text="Užsakymai" service="grid" parameters="TripOrders" />
  <item id="trips" parent="transport_menu" order="20" text="Reisai" service="grid" parameters="Trips" />
  <item id="types" parent="transport_menu" order="30" text="Transporto tipai" service="grid" parameters="VehicleTypes" separators="*" />
  <item id="service_types" parent="transport_menu" order="40" text="Serviso tipai" service="grid" parameters="ServiceTypes" />
  <item id="fuel_types" parent="transport_menu" order="50" text="Kuro rūšys" service="grid" parameters="FuelTypes" />
  <item id="vehicles" parent="transport_menu" order="60" text="Transporto priemonės" service="grid" parameters="Vehicles" />
  <item id="drivers" parent="transport_menu" order="70" text="Vairuotojai" service="grid" parameters="Drivers" separators="*" />
  <item id="spare_parts" parent="transport_menu" order="80" text="Keičiamos dalys" service="grid" parameters="SpareParts" separators="*" />

  <item id="calendar" order="80" text="Kalendorius" service="calendar" />

  <item id="adm_menu" order="200" text="Administravimas" />
  <item id="roles" parent="adm_menu" order="10" text="Rolės" service="grid" parameters="Roles" />
  <item id="users" parent="adm_menu" order="20" text="Vartotojai" service="grid" parameters="Users" />
</BeeMenu>
