body, select {
  font-family: Arial, sans-serif;
  font-size: small;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.contentBox {
  box-sizing: content-box;
}

.bee-RadioButton input:checked + label {
  text-transform: uppercase;
}

.bee-RadioButton-vertical {
  display: block;
}

.bee-HSplitter {
  background-color: #d0e4f6;
  cursor: col-resize;
}
.bee-VSplitter {
  background-color: #d0e4f6;
  cursor: row-resize;
}

.bee-activeBlank, .bee-activeContent {
  border: 2px solid red;
}

.bee-MenuRoot, .bee-MenuBar {
  overflow: auto;
}

.bee-MenuRoot ol {
  border: 4px groove LimeGreen;
  margin: 0;
  list-style-type: upper-roman;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.bee-MenuRoot ul {
  border: 4px ridge LimeGreen;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.bee-MenuRoot dl {
  margin: 0;
}

.bee-MenuPopup {
  max-width: 95%;
  background: WhiteSmoke;
  border: 1px solid LightGrey;
  box-shadow: 6px 6px 5px DarkGray;
  -webkit-box-shadow: 6px 6px 5px DarkGray;
  -moz-box-shadow: 6px 6px 5px DarkGray;
}

.bee-MenuRoot-flow .bee-MenuItem-label {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 2px;
}

.bee-MenuItem-label {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bee-MenuItem-dt {
  padding-left: 0.5em;
}
.bee-MenuItem-dt:first-letter {
  color: green;
  font-size: medium;
  font-weight: bold;  
}

.bee-MenuItem:hover {
  background: LightCyan;
}
.bee-MenuItem-selected {
  outline: red solid 1px;
}

.bee-MenuBar-horizontal table {
  border-collapse: collapse;
}  
.bee-MenuBar-horizontal td {
  border: 1px solid silver;
  text-align: center;
  vertical-align: middle;
  padding: 1px;
}

.bee-MenuBar-vertical .bee-MenuItemSeparator {
  height: 1px;
  background: Silver;
}

.bee-MenuBar-level-1 ul {
  list-style-type: circle;
}
.bee-MenuBar-level-2 ul {
  list-style-type: square;
}

.bee-MenuBar-level-1 ol {
  list-style-type: upper-alpha;
}
.bee-MenuBar-level-2 ol {
  list-style-type: lower-greek;
}

.bee-Button:focus {
  background: LightCyan;
}

.bee-LayoutContainer > .bee-InputArea {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}  
.bee-LayoutContainer > .bee-InputText {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}  
.bee-LayoutContainer > .bee-Button {
  width: 100%;
}  

.bee-LogSeparator {
  height: 1px;
  background: MidnightBlue;
}

.bee-LogRecord-info {
  color: #333;
}
.bee-LogRecord-severe {
  color: red;
}
.bee-LogRecord-warning {
  color: darkorange;
}
.bee-LogRecord-config {
  color: green;
}

.bee-Tree, .bee-CellTree {
  overflow: auto;
}

.bee-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.bee-ScrollTable .headerWrapper {
  background: #381C1B;
}
.bee-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #2C1514;
}

.bee-ScrollTable .dataTable td,
.bee-ScrollTable .headerTable td,
.bee-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.bee-ScrollTable .headerTable td,
.bee-ScrollTable .footerTable td {
  color: white;
}

.bee-ScrollTable .dataTable tr:nth-child(odd) {
  background: #ffffdd;
}
.bee-ScrollTable .dataTable tr:nth-child(even) {
  background: #eeeeee;
}
	
.bee-ScrollTable .dataTable tr:hover {
  background: #c3d9ff;
}
.bee-ScrollTable .dataTable td:hover {
  background: #ffffaa;
}
.bee-ScrollTable .dataTable tr.selected td {
  background: #7aa5d6;
}

.bee-InputInteger, .bee-InputLong, .bee-InputNumber {
  text-align: right;
}

.bee-InputSpinner {
  text-align: right;
}
.bee-InputSpinner:hover {
  background: LightCyan;
}

.bee-configPanel {
  background: #ddd;
  border: 1px solid LightGrey;
}  

.bee-dndSource {
  color: white;
  background: purple;
}
.bee-dndOver {
  color: blue;
  background: pink;
}

.bee-ValueSpinner {
  width: 60px;
}
.bee-ValueSpinner .valueBox {
  text-align: right;
  margin: 0;
  border: 1px solid #7f9db9;
  padding: 1px;
}

.bee-VolumeSlider {
  border: 1px solid #7f9db9;
  height: 18px;
}
.bee-VolumeSlider:hover {
  border: 1px dashed blue;
}

.bee-ProgressBar-shell {
  background: Snow;
}
.bee-ProgressBar-bar {
  background: SpringGreen;
}
.bee-ProgressBar-text {
  color: blue;
}

.bee-SliderBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #efebe7;
  height: 36px;
  max-width: 400px;
}
.bee-SliderBar-line {
  border: 1px solid black;
  background-color: white;
  height: 4px;
  width: 95%;
  top: 24px;
  overflow: hidden;
}
.bee-SliderBar-line-sliding {
  background-color: #ddd;
  cursor: pointer;
} 
.bee-SliderBar-knob {
  top: 16px;
  z-index: 1;
  cursor: pointer;
}
.bee-SliderBar-tick {
  top: 14px;
  width: 1px;
  height: 8px;
  background: black;
  overflow: hidden;
}
.bee-SliderBar-label {
  top: 1px;
  font-size: x-small;
  cursor: default;
}

.bee-Popup {
  border: 3px solid activeborder;
  border-radius: 12px;
  padding: 5px;
  background: #eee;
  z-index: 1024;
}
.bee-PopupGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.bee-WindowHeader {
  background-color: #eee;
}

.bee-WindowFooter {
  background-color: #eee;
}

.bee-WindowCaption {
  color: #00e;
  font-size: medium;
  font-weight: bolder;
}

.bee-FooterCell {
  position: absolute;
  left: 1px;
  right: 1px;
  margin: 0;
  color: darkgreen;
}

.bee-HeaderCellCaption {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bee-HeaderCellSortInfo {
  position: absolute;
  left: 8px;
  bottom: 1px;
  font-weight: normal;
}

.bee-HeaderCellSortable {
  opacity: 0.3;
  font-size: small; 
}
.bee-HeaderCellSortable:before {
  content: "\0021c5"; 
}

.bee-HeaderCellAscending {
  color: green;
  font-size: medium;
}
.bee-HeaderCellAscending:after {
  content: "\0021e7";
}

.bee-HeaderCellDescending {
  color: maroon;
  font-size: medium;
}
.bee-HeaderCellDescending:after {
  content: "\0021e9";
}  

.bee-HeaderCellWidthInfo {
  position: absolute;
  right: 4px;
  top: 2px;
  font-size: small;
  -webkit-transform: rotate(-90deg);
}

.bee-CellGrid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}  

.bee-CellGridCell {
  border-style: solid;
  border-color: gray;
}

.bee-CellGridHeader {
  background-color: #e8e8e8;
}

.bee-CellGridBody {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: background 300ms;  
}

.bee-CellGridFooter {
  background-color: #e8e8e8;
}

.bee-CellGridEvenRow  {
  background-color: #ffffff;
}

.bee-CellGridOddRow {
  background-color: #f3f7fb;
}

.bee-CellGridBody:hover {
  background-color: Cornsilk;
}

.bee-CellGridSelectedRow {
  background-color: DeepSkyBlue !important;
}

.bee-CellGridActiveRow {
  background-color: #b0ffa0;
}

.bee-CellGridActiveCell {
  background-color: #e0ffe0 !important;
  outline: goldenrod solid 2px !important;
  outline-offset: -1px;
  resize: both;
}

.bee-CellGridResizedCell {
  outline: blue dashed 1px;
  outline-offset: -1px;
}

.bee-CellGridResizerHorizontal {
  cursor: col-resize;
}  
.bee-CellGridResizerVertical {
  cursor: row-resize;
}  

.bee-CellGridResizerBar {
  background-color: #a5c4ff;
  z-index: 1;
}  
.bee-CellGridResizerHandle {
  background-color: #bcf;
  z-index: 2;
}

.bee-CellGridEmpty {
  text-align: center;
  margin-top: 3ex;
  font-family: Georgia;
  font-size: larger;
  color: teal;
}
.bee-CellGridEmpty:before {
  content: "No Data"; 
}

.bee-CellGridEditor {
  position: absolute;
  background-color: #ffc;
  color: darkblue;
  outline: red solid 2px;
  outline-offset: -1px;
}

.bee-afraid {
  background-color: fuchsia !important;
  font-size: x-large;
}  

@-webkit-keyframes scary
{
  from {background-color: #cfc; font-size: 1em;}
  25% {background-color: crimson; font-size: 2.5em;}
  50% {background-color: violet; font-size: 3em;}
  75% {background-color: red; font-size: 3.5em;}
  to {background-color: deeppink; font-size: 4em;}
}

.bee-very-afraid {
  -webkit-animation: scary 100s linear infinite alternate;
}

.bee-error {
  color: red;
}

.bee-DialogBox {
  border: 1px solid activeborder;
  border-radius: 2px;
  z-index: 1024;
}  

.bee-DialogBox .Caption {
  background-color: #e3e8f3;
  padding: 4px 4px 4px 8px;
  border-bottom: 1px solid #ddd;
  font-size: medium;
  font-weight: bolder;
}

.bee-DialogBox .Close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.bee-DialogBox .Content {
  background-color: #cfc;
  padding: 1ex 1em 4px;
}

.bee-NotificationContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  border: 3px ridge #eee;
  border-top-width: 0;
  background-color: #cfc;
  text-align: center;
  overflow: hidden;
}

.bee-NotificationMessages {
  padding: 5px;
  font-family: Verdana;
}
.bee-NotificationInfo {
  font-size: 1em;
}
.bee-NotificationSevere {
  background-color: #ffcccc;
  font-size: 1.4em;
}
.bee-NotificationWarning {
  background-color: yellow;
  font-size: 1.2em;
}

.bee-NotificationText {
}

.bee-Toggle {
  font-size: large;
  text-align: center;
}
.bee-Toggle-up-hovering {
  color: red;
}  
.bee-Toggle-down-hovering {
  color: green;
}

.bee-StringPicker {
  overflow: auto;
}  

.bee-StringPicker-item {
  margin-bottom: 2px;
  outline: none;
  cursor: pointer;
}
.bee-StringPicker-item:hover {
  background: LightCyan;
}

.bee-StringPicker-selected {
  margin-bottom: 2px;
  background-color: #628cd5 !important;
  color: white;
  cursor: pointer;
}

.bee-TextEditor {
  resize: both;
}

.bee-TextEditor-area {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 20px;
  resize: none;
  background-color: inherit;
  border-width: 0px 0px 1px;
}

.bee-TextEditor-accept {
  position: absolute;
  left: 35%;
  bottom: 3px;
}
.bee-TextEditor-noes {
  position: absolute;
  right: 35%;
  bottom: 3px;
}

.bee-RichTextEditor {
}

.bee-RichTextToolbar {
  width: 100%;
  background-color: #e3e8f3;
  border-bottom: 1px solid #bbb;
  padding: 3px;
  margin: 0px;
}  

.bee-RichTextToolbar-row {
  width: 100%;
}
.bee-RichTextToolbar-row .bee-Toggle-down, .bee-RichTextToolbar-row .bee-Toggle-down-hovering {
  background-color: #faac58;
}

.bee-DataSelector-embedded {
  width: 200px;
  height: 28px;
}

.bee-DataSelector-input {
  left: 2px;
  background-color: inherit;
  border-style: none;
}  

.bee-DataSelector-embedded-input {
  left: 2px;
  top: 1px;
  margin: 0px;
  font-style: italic;
}  

.bee-DataSelector-type {
  font-size: medium;
}  

.bee-DataSelector-limit, .bee-DataSelector-embedded-limit {
  width: 36px;
  background-color: inherit;
  border-style: none;
  outline-style: none;
}  

.bee-DataSelector-popup {
  background: #eee;
  border: 1px solid LightGrey;
  box-shadow: 6px 6px 5px DarkGray;
  -webkit-box-shadow: 6px 6px 5px DarkGray;
  -moz-box-shadow: 6px 6px 5px DarkGray;
}

.bee-DataSelector-navigationCell {
  text-align: center;
}

.bee-RichTextArea {
  width: 100%;
  border: 0px;
  background-color: white;
}

.bee-RowEditor {
  border-collapse: collapse;
}

.bee-RowEditor tr:nth-child(odd) {
  background: #ffe;
}
.bee-RowEditor tr:nth-child(even) {
  background: #f3f7fb;
}
.bee-RowEditor tr:last-of-type {
  background: inherit;
}

.bee-RowEditorLabel {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bee-RowEditorCell {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bee-RowEditorActiveLabel {
  color: #00c;
  text-decoration: underline;
}

.bee-RowEditorActiveCell {
  outline: goldenrod solid 2px;
  outline-offset: -1px;
}

.bee-GridFormContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bee-GridFormCommandPanel {
}

.bee-Form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.bee-Frame {
  width: 100%;
  height: 100%;
}

.bee-MainSearchBox {
  width: 200px;
}
.bee-MainSearchOptions {
  font-size: x-small;
}

.bee-SignIn-Popup {
  background-color: whitesmoke;
  border: 1px solid #e5e5e5;
}
.bee-SignIn-Panel {
  width: 400px;
  height: 320px;	
}
.bee-SignIn-Caption {
  font-size: 16px;
  color: #222;
  position: absolute;
  left: 20px;
  top: 20px;
}
.bee-SignIn-Label {
  font-size: 13px;
  font-weight: bold;
  color: #222;
  position: absolute;
  right: 220px;
}
.bee-SignIn-Input {
  font-size: 15px;
  height: 32px;
  padding-left: 8px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid silver;
  background-color: #faffbd;
  position: absolute;
  left: 200px;
  right: 20px;
}
.bee-SignIn-User {
  top: 80px;
}
.bee-SignIn-Password {
  top: 140px;
}
.bee-SignIn-Language {
  font-size: 15px;
  position: absolute;
  left: 20px;
  top: 220px;
}
.bee-SignIn-Button {
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: #4d90fe;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.gwt-TreeItem-selected {
  background-color: #ffffaa;
}

.gwt-SplitLayoutPanel-HDragger {
  background: #f6cef5;
  cursor: col-resize;
}

.gwt-StackLayoutPanel {
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  cursor: hand;
  padding-left: 5px;
  border-top: 1px solid #bbb;
  background-color: #e4e4e4;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  padding: 2px;
}

.gwt-TabLayoutPanelTabs {
  background: #eee;
  top: 0px;
}
.gwt-TabLayoutPanelContentContainer {
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 1px 1px;
}
.gwt-TabLayoutPanelContent {
  overflow: hidden;
  padding: 2px;
}
.gwt-TabLayoutPanelTab {
  height: 100%;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: white;
  color: #57574e;
  font-weight: normal;
  cursor: pointer;
}
.gwt-TabLayoutPanelTab-selected {
  background: #f90;
  color: white;
  cursor: default;
}

.gwt-DatePicker {
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  cursor: default;
}
.gwt-DatePicker td, .datePickerMonthSelector td:focus {
  outline: none;
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
  font-size: 85%;
  text-align: center;
  padding: 4px;
  outline: none;
  font-weight:bold;
  color: #333;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel, .datePickerWeekendLabel {
  background: #fff;
  padding: 0px 4px 2px;
  cursor: default;
  color: #666;
  font-size: 70%;
  font-weight: normal;
}
.datePickerDay {
  padding: 4px 7px;
  cursor: pointer;
}
.datePickerDayIsToday {
  padding: 3px;
  color: blue;
}
.datePickerDayIsWeekend {
  background: #f7f7f7;
}
.datePickerDayIsFiller {
  color: #999;
  font-weight: normal;
}
.datePickerDayIsValue {
  background: #d7dfe8;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #d7dfe8;
}

.datePickerMonthSelector {
  width: 100%;
  padding: 1px 0 5px 0;
  background: #fff;
}
.datePickerMonth {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 100%;
  font-weight: bold;
  color: #333;
}
.datePickerPreviousButton, .datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #3a6aad;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 4px;
  outline: none;
}
