body, select {
  font-family: Arial, sans-serif;
  font-size: small;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.contentBox {
  box-sizing: content-box;
}

.flexBox-horizontal {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.flexBox-vertical, .bee-TreeView, .bee-TabbedPages-container, .bee-Workspace-container {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}

.flexBox-center {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
}

.flexBox-vertical-center {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
}

.flexBox-horizontal-center {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
}

.flexible, .bee-TreeView-tree, .bee-TabbedPages-contentPanel, .bee-Workspace-contentPanel {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}

.occupy {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.childrenFloat > div {
  float: left;
}

@-webkit-keyframes movingLogo {
  from {left: 50%; top: 50%; width: 110px; height: 152px;}
  to {left: 1%; top: 1%; width: 55px; height: 76px;}
}
.bee-LogoContainer {
  position: absolute;
  left: 1%;
  top: 1%;
  width: 55px;
  height: 76px;
/*   -webkit-animation: movingLogo 1s ease 500ms; */
/*   -webkit-animation-fill-mode: forwards; */
}
.bee-Logo {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes reveal {
  from {opacity: 0;}
  to {opacity: 1;}
}
.bee-Screen {
  background-color: white;  
/*   -webkit-animation: reveal 1s ease-in; */
}

.bee-NorthContainer > div {
  position: absolute;
}

.bee-MainSearchContainer {
  left: 125px;
  top: 20px;
  width: 300px;
}

.bee-MainSearchBox {
  width: 225px;
  height: 27px;
  color: #444;
  font: 12px Verdana;
  border: 1px solid #BAB9B9;
  padding: 6px;
  outline-style: none;
  float: left;
}

.bee-MainSearchOptionsContainer {
  width: 20px;
  height: 27px;
  float: left;
  overflow: hidden;
  position: relative;
}
.bee-MainSearchOptions {
  position: absolute;
}
.bee-MainSearchOptions:hover {
  top: -50px;
}

.bee-MainSearchSubmitContainer {
  width: 40px;
  height: 27px;
  cursor: pointer;
  background-color: #D0D0D0;
  margin-left: 10px;
  float: left;
  position: relative;
}  
.bee-MainSearchSubmitContainer:hover {
  background-color: #7A7A7A;
}
.bee-MainSearchSubmit {
  position: absolute;
  left: 11px;
  top: 5px;
}  

.bee-MainCommandPanel {
  left: 440px;
  top: 28px;
  right: 225px;
}
.bee-MainCommandPanelItem {
  display: inline-block;
  margin-left: 5%;
  height: 25px;
  color: #6D6D6D;
  font: 13px/25px Arial;
  background-color: #f2f2f2;
  padding: 0 10px;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  cursor: pointer;
}
.bee-MainCommandPanelItem:hover {
  border: 1px solid #BEBEBE;
}  

.bee-MainMenu {
  left: 150px;
  top: 60px;
}

.bee-UserContainer {
  right: 25px;
  top: 35px;
  width: 200px;
  position: relative;
}
.bee-UserSignature {
  color: #7F7F7F;
  font: 13px/20px Arial;
  position: absolute;
  right: 27px;
}  
.bee-UserExitContainer {
  width: 20px;
  height: 27px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.bee-UserExit {
  position: absolute;
}
.bee-UserExit:hover {
  top: -50px;
}

.bee-MainNotificationContainer {
  right: 0px;
  top: 0px;
}

.bee-RadioButton input:checked+label {
  text-transform: uppercase;
}

.bee-RadioButton-vertical {
  display: block;
}

.bee-HSplitter {
  background-color: #e2dfdf;
  cursor: col-resize;
}
.bee-VSplitter {
  background-color: #e2dfdf;
  cursor: row-resize;
}

.bee-activeBlank, .bee-activeContent {
  border: 2px solid #676767;
}

.bee-MenuRoot, .bee-MenuBar {
  overflow: auto;
}

.bee-MenuRoot ol {
  border: 4px groove LimeGreen;
  margin: 0;
  list-style-type: upper-roman;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.bee-MenuRoot ul {
  border: 4px ridge LimeGreen;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.bee-MenuRoot dl {
  margin: 0;
}

.bee-MenuRoot-flow .bee-MenuItem-label {
  display: inline-block;
  margin: 2px;
  color: #6D6D6D;
  font: 13px/21px Arial;
}

.bee-MenuRoot-flow.bee-MenuRoot-horizontal .bee-MenuItem-label:hover,
.bee-MenuRoot-flow.bee-MenuRoot-horizontal .bee-MenuItem-selected {
  border-bottom: 5px solid #FD6268;
}

.bee-MenuPopup {
  max-width: 95%;
  background-color: white;
  border: 1px solid #e7e7e7;
  box-shadow: 6px 6px 5px DarkGray;
}

.bee-MenuItem-label {
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

.bee-MenuPopup .bee-MenuItem-label {
  color: #7d7d7d;
  font: 13px/1.4 Arial;
}

.bee-MenuPopup .bee-MenuItem-label.bee-MenuItem-selected {
  color: black;
}

.bee-MenuPopup td:hover {
  background-color: #f2f2f2;
}

.bee-MenuItem-dt {
  padding-left: 0.5em;
}

.bee-MenuItem-dt:first-letter {
  color: green;
  font-size: medium;
  font-weight: bold;
}

.bee-MenuBar-horizontal table {
  border-collapse: collapse;
}

.bee-MenuBar-horizontal td {
  border: 1px solid silver;
  text-align: center;
  vertical-align: middle;
  padding: 1px;
}

.bee-MenuBar-vertical .bee-MenuItemSeparator {
  height: 1px;
  background-color: #e7e7e7;
}

.bee-MenuBar-level-1 ul {
  list-style-type: circle;
}

.bee-MenuBar-level-2 ul {
  list-style-type: square;
}

.bee-MenuBar-level-1 ol {
  list-style-type: upper-alpha;
}

.bee-MenuBar-level-2 ol {
  list-style-type: lower-greek;
}

.bee-LogSeparator {
  height: 1px;
  background-color: MidnightBlue;
}

.bee-LogRecord-info {
  color: #333;
}
.bee-LogRecord-severe {
  color: red;
}
.bee-LogRecord-warning {
  color: darkorange;
}
.bee-LogRecord-config {
  color: green;
}

.bee-InputInteger,.bee-InputLong,.bee-InputNumber {
  text-align: right;
}

.bee-InputSpinner {
  text-align: right;  
}

.bee-dndSource {
  color: white;
  background-color: purple;
}

.bee-dndOver {
  color: blue;
  background-color: pink;
}

.bee-dropArea {
  background-color: white;
  border: 2px dashed #bbb;
  text-align: center;
  padding-top: 4ex;
}

.bee-dropArea:before {
  content: "Drop Files";
  font-size: x-large;
  color: #bbb;
}

.bee-dropArea > div {
  visibility: hidden;
}

.bee-ValueSpinner {
  width: 60px;
}

.bee-ValueSpinner .valueBox {
  text-align: right;
  margin: 0;
  border: 1px solid #7f9db9;
  padding: 1px;
}

.bee-VolumeSlider {
  border: 1px solid #7f9db9;
  height: 18px;
}

.bee-VolumeSlider:hover {
  border: 1px dashed blue;
}

.bee-ProgressBar-shell {
  background-color: Snow;
}
.bee-ProgressBar-bar {
  background-color: SpringGreen;
}
.bee-ProgressBar-text {
  color: blue;
}

.bee-SliderBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #efebe7;
  height: 36px;
  max-width: 400px;
}

.bee-SliderBar-line {
  border: 1px solid black;
  background-color: white;
  height: 4px;
  width: 95%;
  top: 24px;
  overflow: hidden;
}

.bee-SliderBar-line-sliding {
  background-color: #ddd;
  cursor: pointer;
}

.bee-SliderBar-knob {
  top: 16px;
  z-index: 1;
  cursor: pointer;
}

.bee-SliderBar-tick {
  top: 14px;
  width: 1px;
  height: 8px;
  background-color: black;
  overflow: hidden;
}

.bee-SliderBar-label {
  top: 1px;
  font-size: x-small;
  cursor: default;
}

.bee-Popup {
  border: 2px solid #b4b4b4;
  border-radius: 6px;
  padding: 5px;
  background-color: #eee;
  outline-style: none;
}

.bee-Popup-glass {
  background-color: #000;
  opacity: 0.3;
}

.bee-WindowHeader {
  background-color: #eee;
}

.bee-WindowFooter {
  background-color: #eee;
}

.bee-WindowCaption {
  font-size: medium;
}

.bee-Header-message {
  margin-left: 1em;
}

.bee-FooterCell {
  position: absolute;
  left: 1px;
  right: 1px;
  margin: 0;
  color: DarkGreen;
}

.bee-HeaderCellCaption {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.bee-HeaderCellSortInfo {
  position: absolute;
  right: 1px;
  top: 0px;
  font-weight: normal;
}

.bee-HeaderCellSortable {
  opacity: 0.4;
  font-size: small;
}

.bee-HeaderCellSortable:before {
  content: "\0025B3";
}

.bee-HeaderCellAscending {
  font-size: small;
}

.bee-HeaderCellAscending:after {
  content: "\0025B2";
}

.bee-HeaderCellDescending {
  font-size: small;
}

.bee-HeaderCellDescending:after {
  content: "\0025BC";
}

.bee-HeaderCellWidthInfo {
  position: absolute;
  left: 4px;
  top: 2px;
  font-size: small;
  -webkit-transform: rotate(-90deg);
}

.bee-CellGrid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.bee-CellGridCell {
  border-style: solid;
  border-color: #ccc;
}

.bee-CellGridHeader {
  background-color: #f0f0f0;
}

.bee-CellGridBody {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6D6D6D;
}

.bee-CellGridFooter {
  background-color: #f0f0f0;
}

.bee-CellGridEvenRow {
  background-color: #ffffff;
}

.bee-CellGridOddRow {
  background-color: #fcfcfc;
}

.bee-CellGridBody:hover {
  background-color: Cornsilk;
}

.bee-CellGridSelectedRow {
  background-color: #aff !important;
}

.bee-CellGridActiveRow {
  background-color: #cfc;
  color: black;
}

.bee-CellGridActiveCell {
  background-color: #e0ffe0 !important;
  outline: goldenrod solid 2px !important;
  outline-offset: -1px;
  resize: both;
}

.bee-CellGridResizedCell {
  outline: blue dashed 1px;
  outline-offset: -1px;
}

.bee-CellGridResizerHorizontal {
  cursor: col-resize;
}

.bee-CellGridResizerVertical {
  cursor: row-resize;
}

.bee-CellGridResizerBar {
  background-color: #a5c4ff;
  z-index: 1;
}

.bee-CellGridResizerHandle {
  background-color: #bcf;
  z-index: 2;
}

.bee-CellGridEmpty {
  text-align: center;
  margin-top: 3ex;
  font-family: Georgia;
  font-size: larger;
  color: teal;
}

.bee-CellGridEmpty:before {
  content: "- - -";
}

.bee-CellGridEditor {
  position: absolute;
  background-color: #ffc;
  color: darkblue;
  outline: red solid 2px;
  outline-offset: -1px;
}

.bee-afraid {
  background-color: yellow !important;
  font-size: large;
}

.bee-very-afraid {
  background-color: red !important;
  color: white;
  font-size: xx-large;
}

@-webkit-keyframes rotateX {
  from {-webkit-transform: rotateX(0deg);}
  to {-webkit-transform: rotateX(360deg);}
}

@-webkit-keyframes rotateY {
  from {-webkit-transform: rotateY(0deg);}
  to {-webkit-transform: rotateY(360deg);}
}

@-webkit-keyframes rotateZ {
  from {-webkit-transform: rotateZ(0deg);}
  to {-webkit-transform: rotateZ(360deg);}
}

.bee-error {
  color: red;
}

.bee-DialogBox {
  background-color: WhiteSmoke;
  border: 1px solid #b4b4b4;
  border-radius: 2px;
}

.bee-Dialog-layout {
  border-collapse: collapse;
}
.bee-Dialog-layout td {
  padding: 0;
}

.bee-Dialog-caption {
  cursor: move;
  height: 30px;
}

.bee-DialogBox .bee-Dialog-caption {
  background-color: #e8e8e8;
  padding: 1px 45px 1px 8px;
  border-bottom: 1px solid #eee;
  font-size: medium;
  line-height: 27px;
}

.bee-Dialog-close, .bee-InputClose {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.bee-DialogBox .bee-Dialog-content {
  padding: 1ex 1em 4px;
}

.bee-NotificationContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  border: 3px ridge #eee;
  border-top-width: 0;
  background-color: #cfc;
  text-align: center;
  overflow: hidden;
}

.bee-NotificationMessages {
  padding: 5px;
  font-family: Verdana;
}

.bee-Notification-info {
  font-size: 1em;
}

.bee-Notification-error {
  background-color: #ffcccc;
  font-size: 1.4em;
}

.bee-Notification-warning {
  background-color: yellow;
  font-size: 1.2em;
}

.bee-Toggle {
  font-size: large;
  text-align: center;
}

.bee-Toggle-up-hovering {
  color: red;
}

.bee-Toggle-down-hovering {
  color: green;
}

.bee-StringPicker {
  overflow: auto;
}

.bee-StringPicker-item {
  margin-bottom: 2px;
  outline: none;
  cursor: pointer;
}

.bee-StringPicker-item:hover {
  background-color: LightCyan;
}

.bee-StringPicker-selected {
  margin-bottom: 2px;
  background-color: #628cd5 !important;
  color: white;
  cursor: pointer;
}

.bee-TextEditor {
  resize: both;
}

.bee-TextEditor-area {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 20px;
  resize: none;
  background-color: inherit;
  border-width: 0px 0px 1px;
}

.bee-TextEditor-accept {
  position: absolute;
  left: 35%;
  bottom: 3px;
}

.bee-TextEditor-noes {
  position: absolute;
  right: 35%;
  bottom: 3px;
}

.bee-RichTextEditor {
  position: relative;
}
.bee-RichTextEditor-embedded {
  border: 1px solid #b4b4b4;  
}

.bee-RichTextToolbar {
  height: 57px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #bbb;
  padding: 3px 5px 0 5px;
}
.bee-RichTextToolbar-row {
  display: -webkit-flex;
}
.bee-RichTextToolbar-row > * {
  -webkit-flex: 1;
}
.bee-RichTextToolbar-row .bee-Toggle-down, .bee-RichTextToolbar-row .bee-Toggle-down-hovering {
  background-color: #faac58;
}

.bee-RichTextPanel {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: 0;
  right: 0;
}
.bee-RichTextArea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

.bee-DataSelector-embedded {
  color: #060;
  font-weight: bolder;
}

.bee-DataSelector-waiting {
  cursor: wait;
  background-color: rgba(255, 255, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.bee-DataSelector-notFound {
  text-decoration: line-through;
}
.bee-DataSelector-empty {
  background-color: #EBEBE4;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.bee-DataSelector-popup {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bee-DataSelector-item {
  color: #333;
}
.bee-DataSelector-menu .bee-MenuItem-selected {
  color: #DD4B39;
  font-weight: bolder;
}
.bee-DataSelector-item:hover {
  background-color: #eee;
}

.bee-DataSelector-content {
  padding-left: 7px;
  padding-right: 3px;
} 

.bee-DataSelector-navigationCell {
  text-align: center;
}

.bee-DataSelector-editableContainer {
  display: inline-block;
  width: 149px;
  border: 1px solid #aaa;
  padding-left: 1px;
  padding-right: 1px;
}
.bee-DataSelector-editable-active {
  border: 1px solid #5897fb;
  box-shadow : 0 0 3px rgba(0, 0, 0, 0.3);
}

.bee-DataSelector-editableInput {
  width: -webkit-calc(100% - 16px);
  border: none;
  outline: none; 
  padding-right: 2px;
}

.bee-DataSelector-drill {
  cursor: pointer;
  color: #999;
}
.bee-DataSelector-drill:hover {
  color: #00e;
}
.bee-DataSelector-drill-disabled {
  display: none;
}

.bee-GridFormContainer, .bee-NewRowContainer, .bee-RowContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bee-GridFormContainer-newRow, .bee-NewRowContainer, .bee-NewRow .bee-Dialog-content {
  background-color: white;
}

.bee-GridFormContainer-edit, .bee-RowContainer, .bee-EditRow .bee-Dialog-content {
  background-color: white;
}

.bee-GridFormCaption-newRow, .bee-NewRowCaption, .bee-NewRow .bee-Dialog-caption {
  font-size: medium;
  color: green;
}

.bee-GridFormCaption-edit, .bee-RowCaption, .bee-EditRow .bee-Dialog-caption {
  font-size: medium;
}
.bee-ModalForm .bee-GridFormCaption-edit, .bee-EditRow .bee-Dialog-caption {
  font-weight: bolder;
}

.bee-GridFormContainer-newRow .bee-hasDefaults:after {
  content: "*";
  color: blue;
  font-size: 13px;
  font-weight: bold;
}

.bee-Form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.bee-Form-disabled {
  background-color: rgba(128, 192, 192, 0.25);
}

.bee-Frame {
  width: 100%;
  height: 100%;
}

.bee-required:after {
  content: "*";
  color: red;
  font-size: 13px;
  font-weight: bold;
}

.bee-display {
  outline: #aaa solid 1px;
  outline-offset: 2px;
  font-size: 14px;
}

.bee-Disclosure-header {
  cursor: pointer;
  border-spacing: 3px;
}

.bee-Disclosure-content {
  margin-left: 12px;
}

.bee-InputPanel {
  position: relative;
  min-height: 50px;
}

.bee-InputString {
  margin: 1ex 0;
  width: 256px;
}

.bee-InputError {
  margin-top: 1ex;
}

.bee-InputCommandGroup {
  position: relative;
  text-align: right;
  margin-top: 1ex;
}

.bee-InputCommand {
  font-family: Tahoma;
  width: 80px;
}

.bee-InputCancel {
  margin-left: 1em;
}

.bee-InputSave {
  position: absolute;
  top: 2px;
  right: 45px;
  z-index: 1;
}

.bee-InputPrint {
  position: absolute;
  top: 2px;
  right: 88px;
  z-index: 1;
}

.bee-Tree {
  overflow: auto;
}

.bee-Tree-caption {
  font-weight: bold;
  cursor: pointer;
}

.bee-TreeItem-content {
  padding: 1px 0px;
  margin: 0px;
  white-space: nowrap;
  cursor: pointer;
  display: inline;
}

.bee-TreeItem-child {
  margin-left: 16px;
}

.bee-TreeItem-leafContainer {
  padding-left: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.bee-TreeItem-branch {
  white-space: nowrap;
}

.bee-TreeItem-imageCell,.bee-TreeItem-contentCell {
  vertical-align: middle;
}

.bee-TreeItem-selected {
  background-color: #cfc;
  color: black;
}

.bee-TreeView {
  background-color: white;
}

.bee-TreeView-actions {
  text-align: right;
}

.bee-DatePicker {
  border: 1px solid #ccc;
  background-color: white;
  border-collapse: collapse;
}

.bee-DatePicker td, .bee-DatePicker-monthSelector td:focus {
  outline: none;
}

.bee-DatePicker-monthSelector {
  width: 100%;
  padding: 1px 0 5px 0;
}

.bee-DatePicker-month {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #15c;
  font-weight: bold;
}

.bee-DatePicker-days {
  width: 100%;
  border-collapse: collapse;
  outline: none;
}

.bee-DatePicker-day {
  padding: 4px;
  cursor: pointer;
  color: #333;
  font-size: 12px;
  text-align: center;
}

.bee-DatePicker-dayIsWeekend {
  color: #888;
}

.bee-DatePicker-dayIsFiller {
  opacity: 0.3;
}

.bee-DatePicker-weekdayLabel, .bee-DatePicker-weekendLabel {
  padding: 0px 4px 2px;
  cursor: default;
  color: #222;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.bee-DatePicker-dayIsHighlighted {
  background-color: cornsilk !important;
}

.bee-DatePicker-dayIsValue {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.bee-DatePicker-dayIsToday {
  background-color: #eee;
}

.bee-DatePicker-dayIsDisabled {
  color: #999;
  font-style: italic;
}

.bee-TimePicker {
  padding-left: 6px;
  padding-right: 6px;
}

.bee-TabBar-item {
  margin-left: 4px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  background-color: WhiteSmoke;
  color: #444;
  font-weight: normal;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0px 0px;
}

.bee-TabBar-item-selected {
  cursor: default;
  background-color: #eee;
  color: #333;
  font-weight: bold;
  border: 1px solid #ccc;
}

.bee-TabBar-item-disabled {
  cursor: default;
  color: #999;
}

.bee-ModalForm, .bee-NewRow, .bee-EditRow, .bee-ReportOptions {
  border: 1px solid #b4b4b4;
  border-radius: 2px;
}

.bee-ModalForm-glass, .bee-NewRow-glass, .bee-EditRow-glass, .bee-ReportOptions-glass {
  background-color: white;
  opacity: 0.7;
}

.bee-ModalForm-content > .bee-WindowHeader {
  cursor: move;
}

.bee-TabbedPages-tab {
  display: inline-block;
  height: 25px;
  color: #6D6D6D;
  font: 13px/25px Arial;
  background-color: white;
  border: 1px solid #E4E4E4;
  padding: 0 10px;
  cursor: pointer;
}

.bee-TabbedPages-tabSelected {
  background-color: #f2f2f2;
  border-bottom-color: #f2f2f2;
  z-index: 1;
  cursor: default;
}

.bee-TabbedPages-content {
  overflow: auto;
}

.bee-StackHeader {
  cursor: pointer;
  padding-left: 1em;
  padding-top: 2px;
  color: #6D6D6D;
  background-color: #f2f2f2;
  font: 13px Arial;
}
.bee-StackHeader:hover {
  border-style: solid;
  border-color: #BEBEBE;
  border-width: 1px 0px;
}

.bee-StackContent {
  padding-left: 2px;
  padding-top: 1ex;
}

.bee-ChoiceDialog {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ccc;
}

.bee-ChoiceDialog .bee-Dialog-caption {
  padding: 1ex 2em;
  font-weight: bolder;
}

.bee-ChoicePanel {
  margin: 1ex 2em;
}

.bee-ChoiceContainer {
  margin-top: 2ex;  
  margin-bottom: 2ex;
}

.bee-ChoiceContainer-vertical {
  max-height: 512px;
  overflow-x: hidden;
  overflow-y: auto;
}
.bee-ChoiceContainer-vertical::-webkit-scrollbar {
  width: 3px;
}

.bee-ChoicePrompt {
  padding: 1ex 2em;
  text-align: center;
}

.bee-ChoiceGroup-panel-vertical {
  margin-left: auto;
  margin-right: auto;
}

.bee-ChoiceGroup-item {
  height: 25px;
  color: #6D6D6D;
  font: 13px/25px Arial;
  background-color: #f2f2f2;
  padding: 0 10px;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  cursor: pointer;
}

.bee-ChoiceGroup-item-horizontal {
  margin-right: 2em;
}
.bee-ChoiceGroup-panel-horizontal td:last-of-type .bee-ChoiceGroup-item-horizontal {
  margin-right: 0;
}

.bee-ChoiceGroup-item-vertical {
  margin-right: 4px;
  margin-bottom: 1ex;
}

.bee-ChoiceGroup-item:hover {
  border: 1px solid #BEBEBE;
}

.bee-ChoiceGroup-panel-vertical .bee-ChoiceCancel {
  text-align: center;
}

.bee-FavoritesGroup {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1ex;
}
.bee-FavoritesGroup td {
  padding: 5px;
}
.bee-FavoritesEditColumn, .bee-FavoritesDeleteColumn {
  width: 16px;
}

.bee-FavoritesGroup tr:hover {
  background-color: #f2f2f2;
}
.bee-FavoritesEdit, .bee-FavoritesDelete {
  visibility: hidden;
}
.bee-FavoritesGroup tr:hover .bee-FavoritesEdit, .bee-FavoritesGroup tr:hover .bee-FavoritesDelete {
  visibility: visible;
}

.bee-NewRow .bee-Dialog-caption, .bee-EditRow .bee-Dialog-caption {
  background-color: #eee;
  padding: 1px 90px 1px 8px;
  border-bottom: 1px solid #ddd;
  line-height: 27px;
}

.bee-NewRow-table {
  margin: 1ex 1em;
}
.bee-NewRow-labelCell {
  vertical-align: top;
}
.bee-NewRow-label {
  padding-top: 2px;
  padding-right: 1em;
}

.bee-Image {
  cursor: pointer;
}
.bee-Image:hover {
  -webkit-filter: contrast(200%);
}

.bee-SearchResultHeader {
  height: 32px;
  background-color: #eee;
  position: relative; 
}
.bee-SearchResultCaption {
  font-size: medium;
  line-height: 27px;
  margin-left: 1em;
}
.bee-SearchResultMessage {
  margin-left: 1em;
}
.bee-SearchResultClose {
  position: absolute;
  right: 2px;
  top: 2px;
}

.bee-SearchResultContent {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 36px;
  bottom: 0px;
  overflow: auto;
}
.bee-SearchResultView {
  color: #a50336;
  font-weight: bolder;
  margin-top: 4px;
}
.bee-SearchResultRow {
  color: #666;
  margin-left: 1em;
}
.bee-SearchResultRow:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}
.bee-SearchResultMatch {
  background-color: #ff8;
}

.bee-ChildGrid, .bee-GridPanel {
  position: relative;
}

.bee-ChildGrid > .bee-GridContainer, .bee-GridPanel > .bee-GridContainer {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flexible > .bee-GridContainer {
  height: 100%;
}

.bee-ReportsItem {
  color: #666;
  margin-left: 1em;
  margin-top: 1.5ex;
}
.bee-ReportsItem:first-child {
  margin-top: 3ex;
}
.bee-ReportsItem:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-ReportOptions {
  background-color: #cfc;
}
.bee-ReportOptions .bee-Dialog-caption {
  background-color: #eee;
  padding: 1px 45px 1px 8px;
  border-bottom: 1px solid #ddd;
  font-size: medium;
  line-height: 27px;
}
.bee-ReportOptions .bee-Dialog-content {
  margin: 2ex 1em 1ex 1em;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
  overflow: visible;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset -1px 1px 0 rgba(0, 0, 0, 0.14), inset 1px -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-track:vertical:hover {
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px -1px 0 rgba(0, 0, 0, 0.14), inset -1px 1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  min-height: 28px;
}
::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset -1px 1px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb:vertical {
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.bee-FavoriteTab img {
  -webkit-filter: grayscale(100%);
}

.bee-AdminTab {
/*   display: none; */
}
.bee-LogToggle {
  position: absolute;
  left: 5px;
  top: 10px;
}
.bee-DebugToggle {
  position: absolute;
  left: 50px;
  top: 10px;
}
.bee-AdminShell {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 40px;
  bottom: 1px;
}

.bee-Workspace-tab {
  display: inline-block;
  height: 25px;
  color: #6D6D6D;
  font: 13px/25px Arial;
  background-color: white;
  border: 1px solid #E4E4E4;
  padding: 0 10px;
  cursor: pointer;
}
.bee-Workspace-tabSelected {
  background-color: #f2f2f2;
  border-bottom-color: #f2f2f2;
  z-index: 1;
  cursor: default;
}
.bee-Workspace-one {
  border-color: transparent !important;
  background-color: transparent !important;
}
.bee-Workspace-one .bee-Workspace-caption {
  display: none;
}

.bee-Workspace-dropDown {
  padding-left: 3px;
  cursor: pointer;
  color: #999;
}
.bee-Workspace-dropDown:hover {
  color: #222;
}

.bee-Workspace-actionPopup {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.bee-Workspace-actionMenu-item {
  width: 16px;
  height: 16px;
  padding: 2px 4px;
  cursor: pointer;
}

.bee-Workspace-action-split {
  border: 1px solid #bbb;
}
.bee-Workspace-action-split:hover {
  border-color: #00b;
}
.bee-Workspace-action-north {
  width: 14px;
  height: 7px;
  border-bottom-width: 8px;
}
.bee-Workspace-action-south {
  width: 14px;
  height: 7px;
  border-top-width: 8px;
}
.bee-Workspace-action-west {
  width: 7px;
  height: 14px;
  border-right-width: 8px;
}
.bee-Workspace-action-east {
  width: 7px;
  height: 14px;
  border-left-width: 8px;
}

.bee-ConfirmContainer {
  border-spacing: 10px;
}
.bee-ConfirmMessage {
  max-width: 400px;
}

.bee-DecisionDialog {
  border: 1px solid #b4b4b4;
  border-radius: 2px;
}  
.bee-DecisionDialog .bee-Dialog-caption {
  background-color: #e8e8e8;
  padding: 1px 45px 1px 8px;
  border-bottom: 1px solid #ddd;
  line-height: 27px;
}
.bee-DecisionPanel {
  background-color: WhiteSmoke;
  padding: 10px 4px 6px 4px;
}
.bee-DecisionMessage {
  max-width: 360px;
  margin-left: 10px;
}
.bee-DecisionGroup {
  margin-left: 100px;
  margin-top: 20px;
}
.bee-DecisionOption {
  min-width: 90px;
}

.bee-MultiSelector-container {
  width: 300px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  border: 1px solid #aaa;
}
.bee-MultiSelector-container-active {
  border: 1px solid #5897fb;
  box-shadow : 0 0 5px rgba(0, 0, 0, 0.3);
}

.bee-MultiSelector-choice {
  display: inline-block;
  background-color: #e4e4e4;
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip : padding-box;
  border: 1px solid #aaa;
  border-radius : 3px;
  box-shadow : 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
}
.bee-MultiSelector-label {
  color: #333;
  line-height: 13px;
}
.bee-MultiSelector-close {
  position: absolute;
  right: 5px;
  top: 7px;
}

.bee-MultiSelector-input {
  margin-left: 5px;
  margin-top: 3px;
  background: transparent;
  border: none;
  outline: none;
}

.bee-SimplePager-container {
  background-color: Snow;
  border: 1px solid SkyBlue;
  border-radius: 7px;
  border-spacing: 1px;
  padding-top: 1px;
}
.bee-SimplePager-disabledButton {
  opacity: 0.4;
}
.bee-SimplePager-info {
  color: MediumBlue;
}

.bee-FooterContainer {
  display: -webkit-flex;
  -webkit-align-items: center;
}
.bee-SimplePager {
  margin-left: 5px;
  margin-right: 3px;
}
.bee-FooterSearch {
  -webkit-flex: 1;
  margin-left: 5px;
}
.bee-SelectionCounter {
  color: #00f;
  font-size: large;
  margin-left: 3px;
  margin-right: 5px;
}

.bee-ProgressPanel {
  border-top: 1px solid #b4b4b4;
}
.bee-ProgressItem {
  display: inline-block;
  margin-left: 2em;
  margin-top: 2px;
}
.bee-ProgressCaption {
}
.bee-ProgressItem .bee-Progress {
  margin: 0 3px 1px 3px;
}
.bee-ProgressPercent {
}

.bee-FileCollector-panel, .bee-FileGroup-panel {
  border-collapse: collapse;
}
.bee-FileCollector-faceCell {
  padding-top: 4px;
}
.bee-FileCollector-hiddenWidget {
  width: 1px;
}
.bee-FileCollector-Row:hover, .bee-FileGroup-Row:hover {
  background-color: #f2f2f2;
}
.bee-FileCollector-Row td, .bee-FileGroup-Row td {
  padding: 4px;
  border-bottom: 1px solid #b4b4b4;
}
.bee-FileCollector-editing {
  background-color: #ffa;
}
.bee-FileCollector-editColumn, .bee-FileCollector-deleteColumn {
  width: 30px;
}
.bee-FileCollector-editCell, .bee-FileCollector-deleteCell {
  text-align: right;
}

.bee-FileCollector-editor-panel td {
  padding: 5px;
}
.bee-FileCollector-editor-name {
  width: 300px;
}
.bee-FileCollector-editor-description {
  width: 300px;
  height: 60px;
}

.bee-EditableRelation:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}
.bee-CellGridActiveCell.bee-EditableRelation {
  text-decoration: underline;
}

.bee-MainSearchOptionsContainer {
  display: none;
}
