body, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.bee-RadioButton input:checked + label {
  text-transform: uppercase;
}  

.bee-RadioButton-vertical {
  display: block;
}  

.bee-HSplitter {
  background-color: #d0e4f6;
  cursor: col-resize;
}
.bee-VSplitter {
  background-color: #d0e4f6;
  cursor: row-resize;
}

.bee-activeBlank {
  background: azure;
  background: -webkit-gradient(radial, 90% 5%, 15, 10% 90%, 45, from(Azure), color-stop(0.5, Honeydew), to(LavenderBlush));
  background: -moz-radial-gradient(left top, cover, snow, aquamarine);
}
.bee-activeContent {
  border: 3px solid red;
  border-radius: 10px;
}

.bee-MenuRoot, .bee-MenuBar {
  overflow: auto;
}

.bee-MenuRoot-flow {
  border: 2px solid green;
}
.bee-MenuRoot ol {
  border: 4px groove LimeGreen;
  margin: 0;
  list-style-type: upper-roman;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.bee-MenuRoot ul {
  border: 4px ridge LimeGreen;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.bee-MenuRoot dl {
  margin: 0;
}

.bee-MenuPopup {
  max-width: 95%;
  background: WhiteSmoke;
  border: 1px solid LightGrey;
  box-shadow: 6px 6px 5px DarkGray;
  -webkit-box-shadow: 6px 6px 5px DarkGray;
  -moz-box-shadow: 6px 6px 5px DarkGray;
}

.bee-MenuRoot-flow .bee-MenuItem-label {
  display: inline-block;
}

.bee-MenuItem-label {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bee-MenuItem-dt {
  padding-left: 0.5em;
}
.bee-MenuItem-dt:first-letter {
  color: green;
  font-size: medium;
  font-weight: bold;  
}

.bee-MenuItem:hover {
  background: LightCyan;
}
.bee-MenuItem-selected {
  outline: red auto 1px;
}

.bee-MenuBar-horizontal table {
  border-collapse: collapse;
}  
.bee-MenuBar-horizontal td {
  border: 1px solid silver;
  text-align: center;
  vertical-align: middle;
  padding: 1px;
}

.bee-MenuBar-vertical .bee-MenuItemSeparator {
  height: 1px;
  background: Silver;
}

.bee-MenuBar-level-1 ul {
  list-style-type: circle;
}
.bee-MenuBar-level-2 ul {
  list-style-type: square;
}

.bee-MenuBar-level-1 ol {
  list-style-type: upper-alpha;
}
.bee-MenuBar-level-2 ol {
  list-style-type: lower-greek;
}

.bee-Button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcf), to(#ffc));
  background: -moz-linear-gradient(top, yellow, greenyellow);
}

.bee-LayoutContainer > .bee-TextArea {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}  
.bee-LayoutContainer > .bee-TextBox, .bee-LayoutContainer > .bee-SearchBox {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}  
.bee-LayoutContainer > .bee-Button {
  width: 100%;
}  

.bee-LogSeparator {
  height: 1px;
  background: MidnightBlue;
}

.bee-LogRecord-severe {
  color: red;
}
.bee-LogRecord-warning {
  color: darkorange;
}

.bee-Tree, .bee-CellTree {
  overflow: auto;
}

.bee-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.bee-ScrollTable .headerWrapper {
  background: #381C1B;
}
.bee-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #2C1514;
}

.bee-ScrollTable .dataTable td,
.bee-ScrollTable .headerTable td,
.bee-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.bee-ScrollTable .headerTable td,
.bee-ScrollTable .footerTable td {
  color: white;
}

.bee-ScrollTable .dataTable tr:nth-child(odd) {
  background: #ffffdd;
}
.bee-ScrollTable .dataTable tr:nth-child(even) {
  background: #eeeeee;
}
	
.bee-ScrollTable .dataTable tr:hover {
  background: #c3d9ff;
}
.bee-ScrollTable .dataTable td:hover {
  background: #ffffaa;
}
.bee-ScrollTable .dataTable tr.selected td {
  background: #7aa5d6;
}

.bee-InputInteger {
  text-align: right;
}

.bee-InputSpinner {
  text-align: right;
}
.bee-InputSpinner:hover {
  background: LightCyan;
}

.bee-configPanel {
  background: #ddd;
  border: 1px solid LightGrey;
}  

.bee-dndSource {
  color: white;
  background: purple;
}
.bee-dndOver {
  color: blue;
  background: pink;
}

.bee-ValueSpinner .valueBox {
  text-align: right;
  margin: 0;
  border: 1px solid #7f9db9;
  padding: 1px;
}

.bee-VolumeSlider {
  border: 1px solid #7f9db9;
}
.bee-VolumeSlider:hover {
  border: 1px dashed blue;
}

.bee-ProgressBar-shell {
  background: Snow;
}
.bee-ProgressBar-bar {
  background: SpringGreen;
}
.bee-ProgressBar-text {
  color: blue;
}

.bee-SliderBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #efebe7;
  height: 36px;
  max-width: 400px;
}
.bee-SliderBar-line {
  border: 1px solid black;
  background-color: white;
  height: 4px;
  width: 95%;
  top: 24px;
  overflow: hidden;
}
.bee-SliderBar-line-sliding {
  background-color: #ddd;
  cursor: pointer;
} 
.bee-SliderBar-knob {
  top: 16px;
  z-index: 1;
  cursor: pointer;
}
.bee-SliderBar-tick {
  top: 14px;
  width: 1px;
  height: 8px;
  background: black;
  overflow: hidden;
}
.bee-SliderBar-label {
  top: 1px;
  font-size: x-small;
  cursor: default;
}

.bee-PopupPanel {
  border: 3px solid activeborder;
  border-radius: 12px;
  padding: 5px;
  background: #eee;
}
.bee-PopupGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.bee-WindowHeader {
  background-color: #eee;
}

.bee-WindowFooter {
  background-color: #eee;
}

.bee-WindowCaption {
  color: #00e;
  font-size: medium;
  font-weight: bolder;
}

.bee-CellGrid input[type="checkbox"] {
  margin-top: 0px;
  margin-bottom: 0px;
}  

.gwt-TreeItem-selected {
  background-color: #ffffaa;
}

.gwt-SplitLayoutPanel-HDragger {
  background: #f6cef5;
  cursor: col-resize;
}

.gwt-DialogBox .Caption {
  background: #e3e8f3;
  padding: 4px 4px 4px 8px;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #d0e4f6;
}

.gwt-DialogBox .dialogContent {
  border: 1px solid #bbbbbb;
  background: #CCFFCC;
}

.gwt-StackLayoutPanel {
  border-bottom: 1px solid #bbbbbb;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  cursor: hand;
  padding-left: 5px;
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background-color: #d3def6;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: #ccc;
  padding-top: 6px;
  padding-left: 5px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 1px 1px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  overflow: hidden;
  padding: 6px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 4px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  cursor: hand;
  color: white;
  font-weight: normal;
  text-align: center;
  background: #8E8E8E;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  background: white;
  color: #333;
  font-weight: bold;
}

.gwt-DateBox {
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: 100%;
}
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
}

.gwt-DatePicker {
  border: 1px solid #ccc;
  border-top:1px solid #999;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none;
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
  font-size: 85%;
  text-align: center;
  padding: 4px;
  outline: none;
  font-weight:bold;
  color:#333;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel, .datePickerWeekendLabel {
  background: #fff;
  padding: 0px 4px 2px;
  cursor: default;
  color:#666;
  font-size:70%;
  font-weight:normal;
}
.datePickerDay {
  padding: 4px 7px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  padding: 3px;
  color: blue;
}
.datePickerDayIsWeekend {
  background: #f7f7f7;
}
.datePickerDayIsFiller {
  color: #999;
  font-weight:normal;
}
.datePickerDayIsValue {
  background: #d7dfe8;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #d7dfe8;
}

.datePickerMonthSelector {
  width: 100%;
  padding: 1px 0 5px 0;
  background: #fff;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 100%;
  font-weight: bold;
  color: #333;
}
.datePickerPreviousButton, .datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #3a6aad;
  cursor: hand;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 4px;
  outline: none;
}
