.bee-cal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ccc;
  outline: none;
}

.bee-cal .calendar-header {
  background: #fff;
  width: 100%;
  table-layout: fixed;
  color: #444;
}
.bee-cal .calendar-header .year-cell, .bee-cal .calendar-header .date-cell {
  width: 50px;
  font-size: 12px;
  text-align: center;
}
.bee-cal .calendar-header .day-cell-container, .bee-cal .calendar-header .caption-container {
  height: 20px;
  position: relative;
  overflow: hidden;
}

.bee-cal .calendar-header .day-cell, .bee-cal .calendar-header .caption-cell {
  border-left: 1px solid #ddd;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 2px;
  text-align: center;
  font-size: 12px;
}
.bee-cal .calendar-header .day-cell-today {
  font-weight: bold;
}

.bee-cal .multiDayPanel {
  width: 100%;
  background: #fff;
  table-layout: fixed;
  border-top: 1px solid #ddd;
}
.bee-cal .multiDayGrid {
  position: relative;
  min-height: 5px;
}

.bee-cal .scroll-area {
  border-top: 1px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bee-cal .appointment-panel {
  position: relative;
}

.bee-cal .time-strip {
  white-space: nowrap;
  width: 50px;
}
.bee-cal .hour-panel {
  width: 50px;
  color: #555;
  font-size: 12px;
  display: block;
  position: relative;
  border-top: 1px solid #ddd;
  background: #fff;
}
.bee-cal .hour-layout {
  position: absolute;
  top: 5%;
  right: 5px;
  line-height: 1;
  text-align: right;
  width: 100%;
}
.bee-cal .hour-label {
  display: inline;
  font-size: 12px;
  color: #555;
}

.bee-cal .appointment-grid {
  position: absolute;
  left: 50px;
  right: 0;
  top: 0;
  height: 1200px;
}
.bee-cal .major-time-interval {
  border-top: 1px solid #ddd;
}
.bee-cal .minor-time-interval {
  border-top: 1px dotted #ddd;
}
.bee-cal .working-hours {
  background-color: #fff;
}
.bee-cal .non-working {
  background-color: snow;
}

.bee-cal .column-separator {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0%;
  border-left: 1px solid #ddd;
  border-right: 0px solid #ddd;
  width: 3px;
}

.bee-cal .leftEmptyCell {
  background: #fff;
  width: 50px;
}
.bee-cal .rightEmptyCell {
  background: #fff;
}

.bee-cal .appointment {
  border-style: solid;
  border-width: 1px;
  position: absolute;
  overflow: hidden;
  opacity: 0.75;
  border-radius: 6px;
}
.bee-cal .appointment-selected {
  opacity: 1;
}

.bee-cal .appointment-multiday {
  border-style: solid;
  border-width: 1px;
  position: absolute;
  overflow: hidden;
  opacity: 0.7;
  border-radius: 6px;
}
.bee-cal .appointment-multiday-selected {
  opacity: 1;
}

.bee-cal .appointment .header {
  white-space: nowrap;
  overflow: hidden;
  padding: 1px;
  padding-left: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bee-cal .appointment .body {
  padding-left: 8px;
  padding-top: 1px;
  white-space: pre-line;
}
.bee-cal .appointment .footer {
  border-bottom: 3px double #fff;
  position: absolute;
  bottom: 2px;
  height: 4px;
  left: 40%;
  right: 40%;
}

.bee-cal .appointment-multiday .header {
  padding-left: 2px;
  display: inline-block;
}
.bee-cal .appointment-multiday .body {
  padding-left: 8px;
  display: inline-block;
}

.bee-cal-MonthView {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.bee-cal-MonthView .grid {
  table-layout: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.bee-cal-MonthView .canvas {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  background: transparent;
}

.bee-cal-MonthView .dayCell, .bee-cal-MonthView .dayCell-today {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.bee-cal-MonthView .lastColumn {
  border-right: 1px solid #ddd;
}

.bee-cal-MonthView .weekDayLabel {
  height: 22px;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  color: #333;
  border: 1px solid #ddd;
}

.bee-cal-MonthView .dayCell {
  vertical-align: top;
}
.bee-cal-MonthView .dayCell-today {
  vertical-align: top;
  background-color: #ffffe8;
}

.bee-cal-MonthView .dayCellLabel, .bee-cal-MonthView .dayCellLabel-today {
  height: 16px;
  font-size: 12px;
  text-align: right;
  padding-right: 5px;
  color: #444;
}

.bee-cal-MonthView .dayCellLabel-today-disabled, .bee-cal-MonthView .dayCellLabel-disabled {
  height: 16px;
  font-size: 12px;
  text-align: right;
  padding-right: 5px;
  color: #999;
}

.bee-cal-MonthView .moreAppointments {
  position: absolute;
  text-align: center;
  text-decoration: underline;
}

.bee-cal-MonthView .appointment {
  position: absolute;
  height: 20px;
  overflow: hidden;
  text-decoration: none;
}

.bee-cal-MonthView .appointment-selected {
  text-decoration: underline;
  border: 0px;
  overflow: hidden;
}

.bee-cal-MonthView .appointment-multiday {
  border-radius: 6px;
  position: absolute;
  height: 20px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
}

.bee-cal-MonthView .appointment-multiday-selected {
  position: absolute;
  height: 20px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  border-radius: 6px;
  position: absolute;
  height: 20px;
  overflow: hidden;
}

.bee-cal-ColorBar-item {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: black;
  text-align: center;
  padding-top: 2px;
}

.bee-cal-AddResources {
  min-width: 200px;
  margin: 1ex 1em 0 1em;
  outline: none; 
}

.bee-cal-Panel .bee-WindowHeader {
  position: absolute;
  top: 0;
  height: 35px;
  left: 0;
  right: 0;
}

.bee-cal-Panel-controls {
  position: absolute;
  top: 40px;
  height: 32px;
  left: 1em;
  right: 1em;
}

.bee-cal-Panel-today {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.bee-cal-Panel-navContainer {
  position: absolute;
  top: 0;
  left: 100px;
  border-collapse: collapse;
}
.bee-cal-Panel-navItem {
  font-weight: bold;
}
.bee-cal-Panel-navNext {
  border-left-width: 0 !important;
}

.bee-cal-Panel-date {
  position: absolute;
  top: 0;
  left: 200px;
  border-radius: 3px;
}

.bee-cal-Panel-view-panel {
  position: absolute;
  top: 0;
  right: 0;
}

.bee-cal-Panel-view-item, .bee-cal-Panel-today, .bee-cal-Panel-navItem, .bee-cal-Panel-date {
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  background-color: whiteSmoke;
  color: #444;
  text-align: center;
  border: 1px solid #ccc;
  outline: none;
}

.bee-cal-Panel-view-item {
  margin-left: 3px;
  border-radius: 3px;
}  
.bee-cal-Panel-view-item-selected {
  cursor: default;
  background-color: #eee;
  color: #333;
  font-weight: bold;
}

.bee-cal-Panel-calendar {
  position: absolute;
  top: 75px;
  bottom: 1px;
  left: 1px;
  right: 1px;
}
