.bee-crm-event-row {
  display: -webkit-flex;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 2px;
}

.bee-crm-event-col-1, .bee-crm-event-col-2 {
  margin-left: 1em;
}

.bee-crm-event-Event, .bee-crm-event-Duration {
  font-weight: bolder;
}

.bee-crm-event-Comment {
  white-space: pre-wrap;
}