.bee-ec-Screen {
  background-color: #fbfbfb;  
}

.bee-ec-NorthContainer {
  position: relative;
  border-bottom: 1px solid #ccc;
}

.bee-ec-Logo {
  margin-left: 1em;
  margin-top: 1ex;
}

.bee-ec-GlobalSearchContainer {
  position: absolute;
  left: 160px;
  top: 2ex;
}
.bee-ec-GlobalSearchBox {
  width: 180px;
  padding: 3px;
}

.bee-ec-commandPanel {
  position: absolute;
  border-collapse: collapse;
}
.bee-ec-Command {
  color: #00d;
}
.bee-ec-Command-active {
  color: red !important;
}
.bee-Horizontal .bee-ec-Command {
  padding-left: 1em;
}  

.bee-ec-commandPanel-fin {
  left: 400px;
  top: 2ex;
}
.bee-ec-commandPanel-info {
  left: 580px;
  top: 2ex;
}

.bee-ec-commandPanel-searchBy {
  left: 160px;
  bottom: 3ex;
}
.bee-ec-commandPanel-searchOther {
  left: 580px;
  bottom: 3ex;
}

.bee-ec-cartTable {
  position: absolute;
  right: 1em;
  bottom: 2ex;
  border-collapse: collapse;
}
.bee-ec-cartRowActive .bee-ec-cartTable-label {
}  
.bee-ec-cartRowInactive .bee-ec-cartTable-label {
  color: #888;
}

.bee-ec-cartInactive {
  width: 12px;
  height: 12px;
  margin-left: 3px;
  border: 1px solid #777;
  cursor: pointer;
}  

.bee-ec-UserContainer {
  position: absolute;
  right: 1em;
  top: 1ex;
  border-collapse: collapse;
}

.bee-ec-Notifications {
  position: absolute;
  right: 0px;
  top: 0px;
}

.bee-ec-FeaturedAndNovelty {
  margin-left: 1em;
  margin-right: 1em;
  overflow: auto;
}
.bee-ec-Featured-label,
.bee-ec-Novelty-label {
  font-size: large;
  font-weight: bold;
  margin-top: 2ex;
}
.bee-ec-Featured-container,
.bee-ec-Novelty-container {
  border: 5px ridge #ccc;
  overflow: auto;
}
.bee-ec-Featured-table,
.bee-ec-Novelty-table {
  border-collapse: collapse;
}
.bee-ec-Featured-table td,
.bee-ec-Novelty-table td {
  padding: 1ex 3em 1ex 1em;
}

.bee-ec-Featured-item,
.bee-ec-Novelty-item {
  position: relative;
  width: 280px;
  height: 180px;
}

.bee-ec-Featured-banner,
.bee-ec-Novelty-banner {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: #b00;
  color: white;
  font-family: Verdana;
  font-size: medium;
  padding: 5px 10px; 
  transform: rotate(350deg);
  -webkit-transform: rotate(350deg);
}
.bee-ec-Featured-picture,
.bee-ec-Novelty-picture {
  position: absolute;
  top: 60px;
  left: 0;
}

.bee-ec-Featured-name,
.bee-ec-Novelty-name {
  position: absolute;
  top: 20px;
  height: 44px;
  left: 120px;
  overflow: hidden;
  font-size: medium;
  font-weight: bold;
}
.bee-ec-Featured-code,
.bee-ec-Novelty-code {
  position: absolute;
  top: 68px;
  left: 120px;
  font-weight: bold;
}
.bee-ec-Featured-price,
.bee-ec-Novelty-price {
  position: absolute;
  top: 100px;
  left: 120px;
  font-size: medium;
  font-weight: bold;
  color: red;
}
.bee-ec-Featured-drill,
.bee-ec-Novelty-drill {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: #b00;
  color: white;
  font-family: Verdana;
}

.bee-ec-View {
  overflow: auto;
}

.bee-ec-searchByItem .bee-ec-ItemSelector {
  margin-top: 2ex;
  margin-left: 2em;
}
.bee-ec-ItemSelector-input {
  font-size: medium;
}

.bee-ec-ItemList-table {
  border-collapse: collapse;
}
.bee-ec-ItemList-headerRow td {
  text-align: center;
  padding: 5px 10px;
}
.bee-ec-ItemList-warehouse {
  font-weight: bold;
}

.bee-ec-ItemList-itemRow > td {
  padding: 5px 10px;
  border: 1px solid #ddd;
}
.bee-ec-ItemList-itemRow:hover {
  background-color: #dfd;
}

.bee-ec-ItemList-stock1-cell,
.bee-ec-ItemList-stock2-cell,
.bee-ec-ItemList-listPrice-cell,
.bee-ec-ItemList-price-cell {
  text-align: right;
}

.bee-ec-ItemList-name {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 1ex;
}
.bee-ec-ItemList-code {
  padding-left: 1em;
  font-weight: bold;
}
.bee-ec-ItemList-supplier,
.bee-ec-ItemList-manufacturer {
  padding-left: 1em;
}
.bee-ec-ItemList-analogs {
  margin-top: 3px;
  font-size: medium;
}
.bee-ec-ItemList-manufacturer-container {
  font-size: 12px;
}

.bee-ec-ItemList-listPrice {
  text-decoration: line-through;
}
.bee-ec-ItemList-price-value {
  font-size: medium;
  font-weight: bold;
}
.bee-ec-ItemList-listPrice-currency,
.bee-ec-ItemList-price-currency {
  padding-left: 5px;
}

.bee-ec-ItemList-quantity {
  border-collapse: collapse;
}
.bee-ec-ItemList-quantity-input {
  width: 50px;
  font-size: medium;
}
.bee-ec-ItemList-quantity-spin {
  margin-left: 2px;
  margin-right: 1em;
}
.bee-ec-ItemList-quantity-plus,
.bee-ec-ItemList-quantity-minus {
  display: block;
}

.bee-ec-ItemPanel {
  margin-left: 1em;
  margin-top: 2ex;
}
.bee-ec-ItemPanel-categories-wrapper,
.bee-ec-ItemPanel-manufacturers-wrapper {
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 2ex;
  margin-right: 1em;
}
.bee-ec-ItemPanel-categories-caption,
.bee-ec-ItemPanel-manufacturers-caption {
  font-weight: bold;
  padding-left: 2px;
  padding-top: 2px; 
}
.bee-ec-ItemPanel-categories-container,
.bee-ec-ItemPanel-manufacturers-container {
  margin: 1ex 1em;
}
.bee-ec-ItemPanel-categories-selectable .bee-ec-ItemPanel-categories-container {
  margin-left: 2px;
  margin-top: 2px;
}

.bee-ec-ItemPanel-manufacturer-selectable {
  display: inline-block;
  width: 16%;
  margin-top: 4px;
}
.bee-ec-ItemPanel-manufacturer-selected {
  color: red;
}

.bee-ec-ItemPanel-categories-tree .bee-TreeItem-root > .bee-TreeItem-branch {
  font-weight: bold;
}
.bee-ec-ItemPanel-categories-tree .bee-TreeItem-selected {
  background-color: inherit;
  color: red;
}

.bee-ec-searchByCar-carPanel {
  margin-top: 2ex;
  margin-left: 2em;
}

.bee-ec-searchByCar-attribute-manufacturer,
.bee-ec-searchByCar-attribute-model,
.bee-ec-searchByCar-attribute-year,
.bee-ec-searchByCar-attribute-engine {
  display: inline-block;
  margin-right: 1em;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  background-color: WhiteSmoke;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0px 0px;
}

.bee-ec-searchByCar-attribute-disabled {
  opacity: 0.4;
  cursor: default !important; 
}
.bee-ec-searchByCar-attribute-hasValue {
  color: #00d;
}
.bee-ec-searchByCar-attribute-active {
  color: red !important;
}

.bee-ec-searchByCar-dialog-manufacturer,
.bee-ec-searchByCar-dialog-model,
.bee-ec-searchByCar-dialog-year,
.bee-ec-searchByCar-dialog-engine,
.bee-ec-searchByManufacturer-manufacturer-dialog {
  border: 2px solid #b4b4b4;
  padding: 5px;
  background-color: white;
}

.bee-ec-searchByCar-dialog-year .bee-ec-IndexSelector-search {
  width: 60px;
}

.bee-ec-searchByCar-type-panel {
  margin-top: 1ex;
  margin-left: 2em;
  margin-right: 2em;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 400px;
  overflow: auto;
}

.bee-ec-searchByCar-type-table {
  border-collapse: collapse;
  margin: 1ex 1em;
}
.bee-ec-searchByCar-type-headerRow td {
  text-align: center;
  padding: 3px;
  font-weight: bold;
  border-bottom: 1px solid #ccc; 
}
.bee-ec-searchByCar-type-selectableRow > td,
.bee-ec-searchByCar-type-selectedRow > td {
  padding: 3px 1em;
}
.bee-ec-searchByCar-type-selectableRow:hover {
  background-color: #dfd;
  text-decoration: underline;
  cursor: pointer;
}
.bee-ec-searchByCar-type-selectedRow {
  color: #00d;
}

.bee-ec-searchByManufacturer-manufacturer-widget {
  margin-top: 2ex;
  margin-left: 2em;
}

.bee-ec-IndexSelector-itemContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 400px;
  overflow: auto;
  padding-right: 1em;
}
.bee-ec-IndexSelector-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}
.bee-ec-IndexSelector-counter {
  font-weight: bold;
  text-align: right;
}
