.bee-ec-Margins-defPercent-input {
  width: 50px;
  margin-left: 1em;
  margin-right: 3em;
}

.bee-ec-CategorySelector .bee-DataSelector-cell {
  border-bottom: 1px solid #ccc;
}
.bee-ec-CategorySelector .bee-DataSelector-item {
  display: block;
  white-space: pre;
}

.bee-NewRow-input-EcDiscounts-Category,
.bee-NewRow-input-TcdArticleCategories-Category,
.bee-NewRow-input-EcDiscounts-Article {
  width: 600px;
}

.bee-ec-Picture {
  max-width: 100%;
  max-heigt: 100%;
}
