.bee-ec-Margins-defPercent-input {
  width: 50px;
  margin-left: 1em;
  margin-right: 3em;
}

.bee-ec-CategorySelector .bee-DataSelector-cell {
  border-bottom: 1px solid #ccc;
}
.bee-ec-CategorySelector .bee-DataSelector-item {
  display: block;
  white-space: pre;
}

.bee-NewRow-input-EcDiscounts-Category,
.bee-NewRow-input-TcdArticleCategories-Category,
.bee-NewRow-input-EcGroupCategories-Category,
.bee-NewRow-input-EcDiscounts-Article {
  width: 600px;
}

.bee-ec-Picture {
  max-width: 100%;
  max-heigt: 100%;
}

.bee-ec-Order-form .bee-disabled,
.bee-ec-Order-form .bee-disabled input {
  background-color: #f3f3eb;
}

.bee-ec-OrderRejection-table td {
  padding: 8px;
}

.bee-ec-OrderRejection-reason-input {
  width: 300px;
}
.bee-ec-OrderRejection-comment-label-cell {
  vertical-align: top;
}
.bee-ec-OrderRejection-comment-input {
  width: 300px;
  height: 100px;
}
