body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

.bee-selectedRadio {
  background: #9cc;
}  

.bee-scroll {
  overflow: auto;
}  

button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcf), to(#ffc));
}
 
.gwt-Tree {
  overflow: scroll;
}

.gwt-DialogBox .Caption {
  background: #e3e8f3;
  padding: 4px 4px 4px 8px;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #d0e4f6;
}

.gwt-DialogBox .dialogContent {
  border: 1px solid #bbbbbb;
  background: #CCFFCC;
}

.gwt-PopupPanel {
  border: 3px solid #C3D9FF;
  padding: 3px;
  background: #CCFFFF;
}

.gwt-StackLayoutPanel {
  border-bottom: 1px solid #bbbbbb;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background-color: #d3def6;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #d0e4f6;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  background: #92c1f0;
}

.gwt-SplitLayoutPanel-HDragger {
  background-color: #d0e4f6;
  cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
  background-color: #d0e4f6;
  cursor: row-resize;
}
