
.bee-mail-Headers {
  margin-top: 5px;
  margin-right: 5px;
}

.bee-mail-WaitingForContent {
  margin-top: 10px;
}

.bee-mail-EmptySelection {
  text-align: center;
  margin-top: 3ex;
  font-family: Georgia;
  font-size: larger;
  color: teal;
}

.bee-mail-HeaderAddress, .bee-mail-SenderLabel, .bee-mail-RecipientLabel {
  color: black;
  font-weight: bold;
  display: inline-block;
}

.bee-mail-SenderEmail, .bee-mail-RecipientEmail {
  margin-left: 5px;
  display: inline-block;
}

.bee-mail-UnreadImage {
  margin-right: 5px;
}

.bee-mail-AttachmentImage {
  margin-left: 5px;
}

.bee-mail-AttachmentCount {
  display: inline-block;
}

.bee-mail-HeaderDate {
  float: right;
  color: #0A8DE9;
}

.bee-mail-Date {
  float: right;
  color: gray;
}

.bee-mail-HeaderSubject {
  color: black;
  margin-top: 5px;
  white-space: nowrap;
}

.bee-mail-Subject {
  color: black;
  display: inline-block;
}

.bee-mail-Recipients {
  color: gray;
  cursor: pointer;
  display: inline-block;
}

.bee-mail-Recipients:hover {
  background-color: whiteSmoke;
}  

.bee-mail-RecipientsType {
  color: gray;
  float: right;
}

.bee-mail-Attachments {
  float: right;
  cursor: pointer;
  color: #0A8DE9;
}

.bee-mail-RecipientsPopup, .bee-mail-AttachmentsPopup {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.bee-mail-AttachmentsMenu-item a {
  padding: 2px 4px;
  cursor: pointer;
  color: #0A8DE9;
  text-decoration: none;
}

.bee-mail-AttachmentsMenu-item:hover {
  background-color: whiteSmoke;
}  

.bee-mail-Envelope {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.bee-mail-Content {
  margin-top: 10px;
}

.bee-mail-PartSeparator {
  height: 0;
  border-width: 1px 0 0 0;
  border-style: dashed;
}

.bee-mail-Controller {
  margin: 10px;
}

.bee-mail-Folders {
  border-width: 1px 0 0 0;
  border-style: dotted;
}

.bee-mail-SysFolder, .bee-mail-Folder {
  padding: 3px;
  cursor: pointer;
  color: #444;
  font-weight: normal;
}

.bee-mail-Folder-branch:before {
  content: "\0025BE";
  margin-right: 3px;
}

.bee-mail-Folder-leaf:before {
  content: "-";
  margin-right: 3px;
}

.bee-mail-FolderCaption {
  color: #444;
  font-weight: bold;
}

.bee-mail-FolderRow {
  border-collapse: collapse;
}

.bee-mail-FolderRow tr td:first-child {
  width: 100%;
}

.bee-mail-SysFolder:hover, .bee-mail-FolderRow tr:hover {
  background-color: #f2f2f2;
}

.bee-mail-FolderAction {
  margin: 0 3px 0 3px;
  visibility: hidden;
}

.bee-mail-FolderRow tr:hover .bee-mail-FolderAction {
  visibility: visible;
}

.bee-mail-SysFolder-selected, .bee-mail-Folder-selected {
  font-weight: bold;
  color: #FD6268;
}

.bee-mail-Folder-disconnected {
  font-style: italic;
}

.bee-mail-SysFolder-dragOver, .bee-mail-Folder-dragOver {
  outline: 1px dashed red;
}

