.itemsInfo-table {
  border-collapse:collapse;
}
.itemsInfo-table td {
  padding:2px 5px 2px 5px;
}
.itemsInfo-header {
  font-weight:bold;
  border:1px solid black;
}
.itemsInfo-data {
  border-bottom:1px solid silver;
}
.itemsInfo-Quantity, .itemsInfo-Price, .itemsInfo-Vat, .itemsInfo-Amount, .itemsInfo-RateAmount,
  .itemsInfo-QuantityTotal, .itemsInfo-AmountTotal, .itemsInfo-VatTotal, .itemsInfo-Total,
  .itemsInfo-RateAmountTotal, .itemsInfo-RateVatTotal, .itemsInfo-RateTotal,
  .itemsInfo-AmountTotal-caption, .itemsInfo-VatTotal-caption, .itemsInfo-Total-caption {
  text-align:right;
  white-space: nowrap;
}
.itemsInfo-AmountTotal-caption:after, .itemsInfo-VatTotal-caption:after, .itemsInfo-Total-caption:after {
  content: ":";
}
