.bee-tr-chart-Container .bee-WindowHeader {
  top: 0;
  height: 31px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ccc;
}

.bee-tr-chart-Canvas {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
}

.bee-tr-chart-Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bee-tr-chart-ScrollArea {
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
}

.bee-tr-chart-Content {
  position: relative;
}

.bee-tr-chart-Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bee-tr-chart-HeaderSplitter, .bee-tr-chart-FooterSplitter {
  position: absolute;
  left: 0;
  right: 0;
}

.bee-tr-chart-visibleRange-start:hover, .bee-tr-chart-visibleRange-end:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-tr-chart-row-sep, .bee-tr-chart-bottom-sep {
  position: absolute;
  height: 1px;
}
.bee-tr-chart-bottom-sep {
  background-color: #888;
}
.bee-tr-chart-row-sep {
  background-color: #ddd;
}

.bee-tr-chart-Selector-panel {
  position: absolute;
  top: 0;
  bottom: 0;
}
.bee-tr-chart-Selector-strip {
  position: absolute;
}

.bee-tr-chart-Selector-startSlider-label, .bee-tr-chart-Selector-endSlider-label {
  position: absolute;
  padding: 2px;
  margin-bottom: 2px;
  background-color: whiteSmoke;
  color: #222;
  border: 1px solid #ccc;
}

.bee-tr-chart-Selector-startSlider, .bee-tr-chart-Selector-endSlider {
  position: absolute;
  top: 0;
  bottom: 8px;
  background-image: -webkit-linear-gradient(left, white, gray, white);
  cursor: col-resize;
}
.bee-tr-chart-Selector-startSlider:hover, .bee-tr-chart-Selector-endSlider:hover {
  background-image: -webkit-linear-gradient(left, white, black, white);
}

.bee-tr-chart-Selector-bar {
  position: absolute;
  height: 8px;
  bottom: 0;
  background-image: -webkit-linear-gradient(top, white, gray, white);
  cursor: move;
}
.bee-tr-chart-Selector-bar:hover {
  background-image: -webkit-linear-gradient(top, white, black, white);
}

.bee-tr-chart-daySeparator, .bee-tr-chart-monthSeparator, .bee-tr-chart-rightSeparator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
}
.bee-tr-chart-daySeparator {
  background-color: #ddd;
}
.bee-tr-chart-monthSeparator {
  background-color: #888;
}
.bee-tr-chart-rightSeparator {
  background-color: #888;
}

.bee-tr-chart-dayLabel, .bee-tr-chart-dayPicture {
  position: absolute;
  top: 0;
  bottom: 0;
}
.bee-tr-chart-dayLabel {
  text-align: center;
}
.bee-tr-chart-dayNarrow {
  font-size: 12px;
  line-height: 12px;
  word-wrap: break-word;
}

.bee-tr-chart-dayPicture {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: flex-end;
  -webkit-align-content: flex-end;
  -webkit-flex-wrap: wrap;
}
.bee-tr-chart-dayTens {
  background-color: #888;
}
.bee-tr-chart-dayOnes {
  background-color: #ccc;
}

.bee-tr-chart-visibleRange-panel, .bee-tr-chart-maxRange-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  overflow: hidden;
}
.bee-tr-chart-visibleRange-start, .bee-tr-chart-visibleRange-end, .bee-tr-chart-maxRange-start, .bee-tr-chart-maxRange-end {
  -webkit-flex: 1;
}

.bee-tr-chart-dayBackground {
  position: absolute;
  top: 0;
}

.bee-tr-chart-past {
  background-color: #e8e8e8;
}
.bee-tr-chart-today {
  background-color: #f1f1f1;
}
.bee-tr-chart-weekend {
  background-color: #f8f8f8;
}

.bee-tr-chart-horizontalMover {
  position: absolute;
  top: 0;
  width: 1px;
  background-color: #ccc;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  cursor: col-resize;
}
.bee-tr-chart-verticalMover {
  position: absolute;
  left: 0;
  height: 1px;
  background-color: #ccc;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  cursor: row-resize;
}

.bee-tr-fx-Customer-panel, .bee-tr-fx-Order-panel, .bee-tr-ss-Vehicle-panel {
  position: absolute;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  overflow: auto;
}

.bee-tr-fx-Customer-label, .bee-tr-fx-Order-label, .bee-tr-ss-Vehicle-label {
  -webkit-flex: 1;
}

.bee-tr-fx-Customer-label:hover, .bee-tr-fx-Order-label:hover, .bee-tr-ss-Vehicle-label:hover {
  text-decoration: underline;
  color: #00e;
  cursor: pointer;
}

.bee-tr-fx-Item-panel {
  position: absolute;
  cursor: move;
  overflow: hidden;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}
.bee-tr-fx-Item-load, .bee-tr-fx-Item-unload {
  font-size: 12px;
}

.bee-tr-ss-Item-panel {
  position: absolute;
  overflow: hidden;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}
.bee-tr-ss-Item-trip {
  cursor: pointer;
}
.bee-tr-ss-Item-cargo {
  cursor: move;
}

.bee-tr-ss-Item-load, .bee-tr-ss-Item-unload {
  font-size: 12px;
}

.bee-tr-fx-Item-drag, .bee-tr-ss-Item-drag {
  background-image: -webkit-linear-gradient(top, white, white);
  box-sizing: border-box;
  border: 2px inset darkgreen;
}
.bee-tr-ss-Item-over {
  background-image: -webkit-linear-gradient(top, white, white);
  outline: red outset 3px;
}

.bee-tr-ss-Service-panel {
  position: absolute;
  cursor: pointer;
  background-image: url("images/checkered_background.png");
  overflow: hidden;
}
.bee-tr-ss-Service-label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  display: none;
}

.bee-tr-fx-Customer-row-sep, .bee-tr-fx-Order-row-sep, .bee-tr-ss-Vehicle-row-sep {
  position: absolute;
  height: 1px;
}
.bee-tr-fx-Customer-row-sep, .bee-tr-ss-Vehicle-row-sep, .bee-tr-chart-bottom-sep {
  background-color: #888;
}
.bee-tr-fx-Order-row-sep {
  background-color: #ddd;
}

.bee-tr-PlaceRenderer-table {
  border-spacing: 0;
}
.bee-tr-PlaceRenderer-labelCell {
  text-align: right;
  font-weight: bold;
  padding-right: 3px;
}
