@def top 2;
@def horizontalMargin 6px;
@def spacing 15;

@def selectionCounterWidth 32px;

.container {
}

.simplePager {
}  

.search {
}

.selectionCounter {
  position: absolute;
  top: 6px;
  width: selectionCounterWidth;
  right: horizontalMargin;
  background-color: DeepSkyBlue;
  text-align: center;
}